.sec-first-carrier{
    background-image: url(../main-webp/carrier-img.webp);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 140px;

}

  
.join-head{
    text-align: center;
    padding: 40px 0;
    font-size: 26px;
   
}
.form-frmt input {
    background: none;
    border: 0;
    outline: none;
    border-bottom: 1px solid #FFFF;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    color: white;
}

.form-btnzx {
    width: 150px !important;
    /* text-align: center !important; */

}

.btn-brd {
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 10px 0;
    /* ju/stify-content: end; */

    /* margin-left: 160px; */

}

/* .name{
    outline: none;
    border: none;
    border: 0;
    border-bottom: 1px solid #ffff;
    
   
} */