.construction-img{
    background-image: url(../main-webp/construction-main-img.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}