.demo {
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #040507;
    z-index: -1;
    /* margin-top: 100%; */
}



.mic,
.micoff {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mic img,
.micoff img {
    width: 40px;
    cursor: pointer;
    color: #020b1f;
    z-index: 10;
}

.micoff {
    display: none;
}


.jh {
    width: 30%;
    bottom: 60px;
    right: 20px;
    position: absolute;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
}

.demo-light-btn {
    width: 100%;
    height: 30px;
    margin: 5px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.192);
    height: 10vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.spans {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
}

.display {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.demo-bg-dark {
    display: none;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    z-index: 10;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.df-video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.dfs {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sf {
    width: 100%;
    margin-top: -80px;
}



/* --tv */

/* --second video section start */
.second-section {
    height: max-content;
    padding-bottom: 130px;
    background-color: #040507;
    margin-top: 10%;
    padding: 20px 0px;
    color: #fff;
}

.second-section.dark {
    background-color: #fff;
    color: #040507;
}

.day {
    display: block;
}

.night {
    display: none;
}

.night-tv {
    display: none;
}

.day-tv {
    display: none;
}

.sf {
    position: absolute;
}

.volume-black,
.volume-white-slash,
.volume-white {
    display: none;
}

.fs {
    font-size: 50px;
}

.para-movie {
    font-size: 18px;
}

.hue-on {
    display: none;
}

.hue-off {
    display: none;
}

.title-word {
    text-align: center;
    width: 100%;
    font-size: 12px;
    animation: popup-animation 2s linear infinite;
}

@keyframes popup-animation {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.4);
    }
}

.blurred-box {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.blurred-box:after {
    content: '';
    width: 300px;
    height: 300px;
    /* background: inherit;  */
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px);
}

/* ---curtain start */
/* .curtain{
    height: 70vh;
    background-color: #020b1f;
    color: #fff;
  } */
.curtain-home {
    width: 100%;
    height: 100vh;
    background-image: url(../images/curtain-main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.curtain-work {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curtain-tex {
    font-size: 18px;
    padding-left: 20px;
}

.curtain-texs img {
    width: 40px;
}

.curtain-command img {
    transform: rotate(90deg);
}

.center-head h2 {
    margin: 20px 0px;
}

.img-handphone {
    background-image: url(../images/hand-phone.png);
    background-position: left;
    background-size: contain;
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
}

.hgf {
    width: 100%;
    object-fit: contain;
}

.center-tex-hue {
    padding: 30px 0px;
}

/* ---curtain end */

/* --------new demo section start */
.demo-section {
    width: 100%;
    height: 100vh;
    /* background-color: #2196F3; */
    position: relative;
}

.video-src {
    width: 100%;
    height: 100vh;
}

.front-demo-section {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    z-index: 999;
}

.v-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
}

.press-play-btn {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.anim-press-btn {
    animation: anim-press-btn 2s linear infinite;
}

@keyframes anim-press-btn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}



#front-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

#video-demos {
    display: block;
    z-index: -10;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.vol-group span img{
    width: 30px;
    cursor: pointer;
}
.vl-off{
    display: none;
}
#video-pausegroup{
    display: flex;
    align-items: center;
}
#video-pausegroup span img{
    width: 20px;
}
#video-pause{
    display: none;
}



/* --------new demo section end */