.footer {
    height: 35vh;
}

.footer-foot i {
    margin-right: 20px;

}

.icon {
    display: flex;
}

.mail-foot i {
    margin-right: 15px;
}

.phone-foot i {
    margin-right: 15px;
}

.company-list-1 li p {
    transition: .02s;
}

.company-list-1 li p:hover {
    cursor: pointer;
    color: #ccc;

}

.company-list-1 h5 {
    margin-bottom: 20px;
    background: linear-gradient(#7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.our-services-foot li p:hover {
    color: #ccc;
    cursor: pointer;
}

.our-services-foot h5 {
    margin-bottom: 20px;
    background: linear-gradient(#7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.quick-links-foot li p:hover {
    color: #ccc;
    cursor: pointer;
}

.mail-foot:hover,
.phone-foot:hover {
    color: #ccc;
    cursor: pointer;
}

.quick-links-foot h5 {
    margin-bottom: 20px;
    background: linear-gradient(180deg, #7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bootom-footer {

    display: inline-block;
    justify-content: space-between;
    display: flex;
}

.footer-bottom {
    display: flex;
    cursor: pointer;

}

.footer-bottom li {
    margin: 0 13px;
}

.footer-bottom li p:hover {
    color: #ccc;
    cursor: pointer;
}

.onwords-details-foot {
    cursor: pointer;

}

.onwords-details-foot h5 {
    margin-bottom: 20px;
    background: linear-gradient(180deg, #7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.our-app-foot {
    /* margin-bottom: 20px; */
    background: linear-gradient(180deg, #7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.app-google-store {
    display: flex;

}