.footer{
    height: 35vh;
}
.footer-foot i {
    margin-right: 20px;
}
.mail-foot i{
    margin-right: 15px;
}
.phone-foot i{
    margin-right: 15px;
}
.company-list-1 li p{
   cursor: pointer;
   
}
.company-list-1 h5{
    margin-bottom: 20px;
    background: linear-gradient( #7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
   

.our-services-foot li{
 cursor: pointer;   
}
.our-services-foot h5{
    margin-bottom: 20px;
    background: linear-gradient( #7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.quick-links-foot li{
    cursor: pointer;
}
.quick-links-foot h5{
    margin-bottom: 20px;
    background: linear-gradient(180deg, #7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.bootom-footer{
   
    display: inline-block;
    justify-content: space-between;
    display: flex;
}
.footer-bottom{
    display: flex;
    cursor: pointer;
   
}
.footer-bottom li{
    margin: 0 13px;
}
.onwords-details-foot{
    cursor: pointer;
    
}
.footer-social-icon{
    color: #fff;
}
.onwords-details-foot h5{
    margin-bottom: 20px;
    background: linear-gradient(180deg, #7453e4 0%, #ce4da4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}