/* #secTwo {
    display: none;
}

#secThree {
    display: none;
}

.img-gallery-row img {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    margin: 5px 0;
}

.img-gallery-row {
    display: flex;
    flex-wrap: wrap;
}

.img-gallery-row-2 img {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    margin: 5px 0;
}

.img-gallery-row-2 {
    display: flex;
    flex-wrap: wrap;
}

.img-gallery-row-3 img {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    margin: 5px 0;
}

.img-gallery-row-3 {
    display: flex;
    flex-wrap: wrap;
}

.btn-bor-1,
.btn-bor-2,
.btn-bor-3 {
    border-bottom: 2px solid #fff !important;
    color: #fff;
}
/* .let-col{
color: white;

} */


/* ----------gLLERY START */
#gal-2,
#gal-3 {
    display: none;
}

.gallerBtn {
    color: #fff;
    font-family: Sfpro ;
    font-weight: 400;
    font-size: 20px;
}
.gallerBtn:hover{
    color: #ffff;
}

.act-galleryOne,
.act-gallery-two,
.act-gallery-three {
    border-bottom: 2px solid #fff;
    border-image: linear-gradient(89.98deg, #C94DA7 0.01%, #7B52DE 97.71%);
    border-image-slice: 1;
    padding: 3px 0px;

}

.row-gall-1 img {
    margin: 15px;
    width: 30%;

}

@keyframes gall-anim {
    0% {
        margin-top: -20px;
    }

    100% {
        margin-top: 10px;
    }
}

.row-gall-1 img:nth-child(odd) {
    margin-top: 100px;
    animation: gall-anim 5s linear infinite;
}

.row-gall-2 img {
    margin: 15px;
    width: 30%;

}

@keyframes gall-anim {
    0% {
        margin-top: -20px;
    }

    100% {
        margin-top: 10px;
    }
}

.row-gall-2 img:nth-child(odd) {
    margin-top: 100px;
    animation: gall-anim 5s linear infinite;
}

.row-gall-3 img {
    margin: 15px;
    width: 30%;

}

@keyframes gall-anim {
    0% {
        margin-top: -20px;
    }

    100% {
        margin-top: 10px;
    }
}

.row-gall-3 img:nth-child(odd) {
    margin-top: 100px;
    animation: gall-anim 5s linear infinite;
}

.ambience:focus {
    color: #ffff;
}

.ambience {
    padding: 0 10px;
}

.gall-head {
    padding-top: 90px;
    font-family: SfPro;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    /* line-height: 82px; */
    
}

.gall-head-2 {
    font-family: SfPro ;
    /* font-style: normal; */
    font-weight: 200;
    font-size: 24px;
    /* line-height: 128.84%; */
}

/* .row-gall-1:hover img{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
} */



/* ----------gLLERY END */