.main-img {
    background-image: url(../main-webp/gateauto-main-img.webp);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}
.gate-para{
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.control-img{
    background-image: url(../main-webp/control-img.webp);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: left;

}
.google-assistans{
    padding: 10px;
}
