.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 3s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}
.active.fade-zoom{
    animation: fade-zoom 1s ease-in;
}
.active.fade-opacity{
  animation: fade-opacity 2s ease-in-out;
}
@keyframes fade-opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

@keyframes fade-bottom {
    0% {
        bottom: 0;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-zoom {
    0%{
           
        width: 90%;;
        opacity: 0;
    
    }
    100%{
        transform: scale(1.1);
        opacity: 1;
        transition: 2s;
    }
    
}

.backtop {
    background: linear-gradient(to right, red, purple);
    ;
    border-radius: 100%;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: #fff;
    cursor: pointer !important;
}
.down-btn{
    z-index: 999;
}
.darkmodemob{
    display: none;
}


/* ---------toggle button */


.smart-below-img{
  width: 100%;
  object-fit: contain;
  margin-top: 90%;
  
}
.content-smart{
  margin-top: 100px;
  position: sticky;
  top: 30vh;
}



.top-smart-home-page{
  /* margin-top: 60%; */
  position: relative;
}
.smart-home-paralx-row{
  height: 150vh;
}

/* --------- */

