@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

@font-face {
    font-family: SfPro;
    src: url("../fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sun {
    display: block;
}

.night {
    display: none;
}

body {
    scroll-behavior: smooth;
    font-family: ' SfPro', cursive;
}

#bodyTag {
    color: #fff;
    background: #040507;
}

#bodyTag.dark {
    background: #fff;
    color: #040507 !important;
}

button.dark {
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    width: 100px;
}


/* basic css */
a {
    color: #fff;
    text-decoration: none !important;
}

a.dark {
    color: #000;
    text-decoration: none !important;
}

a:hover {
    color: #ffff !important;
}


ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;


}


.btns-model {
    padding: 10px 20px;
    border: none;
    outline: none;
    background: orange;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer !important;
}

/* --sfgvse */


/* basic css */
header {
    position: fixed;
    top: 0;
    /* left: 0; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 999;
}

header.sticky {
    background: #040507;
}

.wrapper.lights {
    background-color: #040507;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    position: fixed;
}

header.light {
    background: #fff !important;
    width: 100%;
    height: 70px;
    color: #000;
}


nav {
    width: 80%;
    margin: auto;
    transition: 1s;
}


#withlight {
    background-image: url(../main-webp/ons.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 100vh;
    transform-origin: center;
    position: relative;
    /* animation: img-change infinite 5s; */
    image-rendering: pixelated;
    /* animation-iteration-count: 2; */

}

#withoutlight {
    background-image: url(../main-webp/offs.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    position: relative;
    /* animation: img-change infinite 5s; */
    image-rendering: pixelated;
    /* animation-iteration-count: 2; */
    display: none;

}

.g {
    display: flex;
    position: relative;
    padding-top: 25%;
    margin-left: -9%;

}



.mob-container {
    position: absolute;
    bottom: 20px;
    left: 400px;
}

.mobsd {
    width: 500px;
    bottom: 0;
    position: relative;
}

.mobsds {
    width: 500px;
    bottom: 0;
    position: relative;
}

#mydiv {
    position: relative;
    margin-top: -15px;
}


#mydiv button {
    position: absolute;
}

.btns-off {
    border: none;
    outline: none;
    border-radius: 10px;
    /* z-index: -1; */

}

.btns-on {
    display: none;
    border: none;
    outline: none;
    /* z-index: -1; */
}

.df,
.sf {
    width: 170px;
    transition: 2s ease-in-out;
    animation: btnsZoom 2s linear infinite;
}

@keyframes btnsZoom {
    0% {
        width: 170px;
    }

    100% {
        width: 175px;
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    z-index: 999;
}

#btn-back-to-top a {
    text-decoration: none;
    outline: none;
    color: #fff;
}




.module-border-wrap {
    cursor: pointer;
    position: relative;
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    padding: 1px;
    border-radius: 50px;
    border: none;
    outline: none;

}

.module-border-wraps {
    cursor: pointer;
    position: relative;
    /* background: linear-gradient(to right, red, purple); */
    padding: 1px;
    /* border-radius: 50px; */
    border: none;
}


.modulesd {

    border-radius: 50px;
    padding: 12px 12px;
    width: fit-content;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #7353ef, #ce4da4);
    border-image-slice: 1;
    border-radius: 50px !important;
    cursor: pointer;
}

.modulesds:hover {
    background: linear-gradient(to right, #7353ef, #ce4da4);
    ;
}

.module {
    background: transparent;
    padding: 10px 19px;
    /* box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5); */
    border-radius: 50px;
    border: 2px;
    border-width: 2;
    border-image: linear-gradient(to right, #7353ef, #ce4da4);
    ;
}


.module-border-wrap:hover {
    background: none;
}

.module:hover {
    background: linear-gradient(to right, #7353ef, #ce4da4);
    border: 0;

}

@keyframes img-change {
    0% {
        background-image: url(../images/light-5.png);
        image-rendering: pixelated;


    }

    20% {

        background-image: url(../images/lig-1.png);
        image-rendering: pixelated;

    }

    40% {
        background-image: url(../images/lig-2.png);
        image-rendering: pixelated;

    }

    60% {
        background-image: url(../images/lig-3.png);
        image-rendering: pixelated;

    }

    80% {
        background-image: url(../images/lig-4.png);
        image-rendering: pixelated;

    }

    100% {
        background-image: url(../images/light-5.png);
        image-rendering: pixelated;
    }
}

.main-bgs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.main-bg-size {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.navbar-nav {
    text-align: center;
}

.nav-item {
    margin: 0px 20px;
}

.nav-item a {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
}

.nav-link a,
.active-nav,
.nav-link:focus,
.nav-link:active {
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border-bottom: 2px solid;
    border-width: 2px;
    border-image-slice: 2 !important;
    border-image-source: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
}

.nav-link a :hover,
.nav-link:hover {
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border-bottom: 2px solid;
    border-width: 2px;
    border-image-slice: 2 !important;
    border-image-source: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);

}

.dropdown-item:hover {
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border-width: 2px;
    border-image-slice: 2 !important;
    border-image-source: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
}

.home-main-con button {
    border: none;
    outline: none;

}

.dropdown-toggle {
    color: #fff;
}

.act-nav {
    color: rgb(134, 22, 87);
}

.dropdown-menu {
    background-color: #040507 !important;
    color: #fff !important;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #000 !important;
    color: #fff;
}

.home-main-con {
    padding-left: 16%;
}

.home-main-con h1 {
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px solid black;
    /* color: #fff; */
}



.home-main-con p {
    /* color: #fff; */
    font-size: 20px;
    font-weight: 600;
}

.anim-con {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.anim {
    width: 0px;
    /* max-width: 250px; */
    background-color: orange;
    overflow: hidden;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 2px solid black;
    color: #0000;
    animation: auto-anim 3.5s steps(10) infinite;

}

.anim-icon {
    animation: anim-icon 5s linear infinite;
    color: #fff;
}

@keyframes anim-icon {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(-3px);
    }
}

.btn-see {
    background-color: orange;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
}

.wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.curtain-home {
    width: 100%;
    height: 100vh;
    position: relative;
}

#cutain-demos {
    width: 100%;
    width: auto;
    /* height: 100vh; */
}

.video-group {
    position: absolute;
    top: 0;
}

.btn-grp-curtain {
    position: absolute;
    padding: 10px 20px;
    bottom: 70px;
    right: 80px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.192);
    border-radius: 10px;
}
#opencurtainBtn,#closecurtainBtn{
    border-radius: 41px;
    background: none;
    border: none;
    outline: none;
    color: #ffff;
    font-size: 15px;
    padding: 6px 12px;
    
}
#opencurtainBtn:hover,#opencurtainBtn.actcurtain,#closecurtainBtn:hover,#closecurtainBtn.actcurtain{
    background: linear-gradient(90deg, #7353E5 0%, #CE4DA4 100%);
}
.pop-btnsd{
    position: absolute;
    top: -30px;
    font-size: 16px;
    animation: propmet 2s infinite;
}
@keyframes propmet {
    0%{
        transform: scaleX(1.1);
    }
    100%{
        transform: scaleX(1.2);
    }
}
.curtain-home img {
    width: 100%;
    width: auto;
    
}

#curtainOpenImg {
    display: none;
}

#curtainCloseImg {
    display: block;
}
#curtain-demos{
    display: none;
}
#curtain-open{
    display: none;
}

.curtain-work {
    display: flex;
    margin: 0 auto;
    width: 60%;
}

/* #blur{
    background-color: #020b1f;
} */

#blur.activeblur {
    filter: blur(20px);
}

section {
    width: 100%;
    margin: 50px 0px;

}

@keyframes auto-anim {
    0% {
        width: 0px;
    }

    100% {
        width: 200px;
    }
}

.sec-title {
    text-align: center;
}



/* ---advantage section start */
.advantages {
    min-height: 70vh;
}

.adv-img {
    /* transform: rotate(270deg); */
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.con-adv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.child-adv {
    margin: 30px 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.child-adv span {
    margin: 0px 20px;
}

.child-adv-icon {
    width: 50px;
    background: linear-gradient(to right, #7353ef, #ce4da4);
    border-radius: 50%;
    height: 50px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.child-adv-icon img {
    padding: 10px;
    width: 100%;
    height: 100%;

}




/* ---advantage section end */
/* ---why onwords start */
.diff {
    background-color: #f2f2f2;
}

.onword-para {
    font-size: 20px !important;
}

.why-onword {
    padding: 30px 0px;
    height: auto;
    position: relative;
}

.con-box-why {
    width: 100%;
    position: relative;
    height: 100%;
    /* background-color: #45f3ff; */
}

/* ---why onwords end */
/* custom */
.custom img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    text-align: center;
}

.con-box-why {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f-imgs-why {
    border: 2px solid #fff;
    width: 193px;
    height: 194px;
    position: relative;
    margin: 40px 20px;
}

.f-imgs-why:hover {
    border: 2px solid #13111A;
}

.why-sd {
    /* position: absolute; */
    left: 30px;
}


.why-fix {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dghj {
    position: absolute;
    left: 20px;
    top: -30px;
}

.dghj:hover {
    left: 0;
    top: 0;

}

.stick {
    position: absolute;
    bottom: -13px;
    left: 10px;
}

.circle-why {
    padding: 20px 0px !important;
}

/* custom */

/* --service and products strat*/
.product-services {
    height: 100vh;
    width: 100%;
    position: relative;
}

.product-para {
    font-size: 18px;
}




.cen-img-roun p {
    top: 30px;
    text-align: center;
}

.dr img {
    border-radius: 30px;
}

.card-lis {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
}


.card-box-img img {
    border-radius: 20px;
}

/* --service and products end */
.works-with {
    height: 80vh;
    background-image: url(../main-webp/voice-access.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    /* background-color: #040507; */
    background-size: 700px;
    width: 100%;
    position: relative;
    /* display: flex;x */
    align-items: center;
}

.dg-blur img {
    animation: dgblur 5s linear infinite;
    position: absolute;
    width: 100px;
}


@keyframes dgblur {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(30px);
    }
}

.d-sd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
    height: 120vh;
}

.d-sds {
    display: flex;
    align-items: center;
}

.d-sds img {
    width: 60px;
    /* background-color: #fff; */
    border-radius: 100%;
    margin: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}

.tex {
    font-size: 40px;
    font-weight: 600;
}

/* bubbles start */
#background-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

/* --our products start */
.our-product {
    height: 60vh;
    position: relative;
}

.rd {
    border-radius: 20px;
}

.lead-boxs h2 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.lead-boxs h5 {
    color: #fff;
}

.lead-1,
.lead-2 {
    border-right: 1px solid #fff;
    padding: 0px 20px;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* --our products end*/
.counter-boxs {
    width: 100%;
    margin: 0 auto;
    height: 170px;
    background: linear-gradient(180deg, #BE4EAF 0%, #8751D6 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.etg {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --footer start-- */
/* footer {
    height: 40vh;
    display: flex;
    align-items: center;
    position: relative;
    margin: 90px 0px;
    background-color: #45f3ff;
}

.sdf {
    width: 150px;
}

.listx li {
    padding: 10px 0px;
}

.fgh span a {
    padding: 10px 0px;

    text-decoration: none;
}

.fgh span i {
    padding: 10px;
}
.mails {
    padding: 10px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ffff;
    border-radius: 10px;
    width: 70%;
    margin: 0px auto;
}

.sub {
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    background-color: orange;
    color: #000;
    font-weight: 600;
    border-radius: 10px;
}

.df img {
    width: 40px;
}

.dghj img {
    width: 190px;
}

.jg {
    display: flex;
    align-items: center;

}

.footer {
    position: relative;
    height: 40vh;
} */

/* --footer end- */
/* abouts start */


.abouts {
    height: auto;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.about-tex {
    position: relative;
}

.blursd {
    position: relative;
    display: none;
}

.blursdleft {
    position: relative;
    display: none;
}

.blursd:after {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    right: 200px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: linear-gradient(180deg, #2603FB 0%, #6804FC 16.41%, #CB06FF 40.79%, #CB06FF 56.49%, #DC06FF 80.04%);
    filter: blur(250px);
    transform: rotate(-22.54deg);
}

.blursdleft:after {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 200px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: linear-gradient(180deg, #2603FB 0%, #6804FC 16.41%, #CB06FF 40.79%, #CB06FF 56.49%, #DC06FF 80.04%);
    filter: blur(250px);
    transform: rotate(-22.54deg);
}

.circle-black {
    position: absolute;
    top: 0;
    left: 200px;
}



.about-tex p {
    margin-top: 40px;
    font-size: 18px;
}

.about-tex button {
    border: none;
    outline: none;
}

/* .sec-btn-test {
    background: linear-gradient(to right, #CE4DA4,
            #7353E5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    cursor: pointer;
} */

/* .sec-btn-test {
    color: #f5ae51;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

.sec-btn-test::before {
    position: absolute;
    content: "";
    background: var(blue);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

.sec-btn-test:hover {
    color: white;
  }
  
  .sec-btn-test:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .sec-btn-test:hover::before {
    top: -30px;
  left: -30px;
  } */
.card-lis a {
    text-decoration: none;
}


/* abouts  end*/

.blob {
    height: 50px;
    background-color: white;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: linear-gradient(to right, #7353ef, #ce4da4);
    animation: rotates 2s ease-in-out infinite;
    z-index: -1;
}

@keyframes rotates {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.stokes {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CE4DA4;
    -webkit-text-fill-color: transparent;
}

/* .stokes:hover{
    -webkit-text-stroke-color: transparent;
    -webkit-text-fill-color:black;
  } */



.container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    padding: 40px 0;
}

.container .box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.container .box::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

/* .container .box:hover:before,
.container .box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);

} */

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
    background: rgba(0, 0, 0, 0.08)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
    /* background: url(../images/sdfc.png) */
    background: rgba(0, 0, 0, 0.08)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
    /* background: url(../images/sdfc.png) */
    background: rgba(0, 0, 0, 0.08)
}

.container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.container .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    z-index: -1;
}

.container .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation-delay: -1s;
    z-index: -1;
}

.container .box:hover span:after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translate(-10px);
    }
}

.container .box .content {
    position: relative;
    left: 0;
    padding: 5px 10px;
    min-width: 100%;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}

/* .container .box:hover .content {
    left: -15px;
    padding: 60px 40px;
} */

.container .box .content h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
}

.container .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.container .box .content a {
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}



/* ---horzont-start */

.box-scroll {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    cursor: pointer;
    scroll-snap-type: y mandatory;
    /* Hiddem scroll bar */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.box-scroll::-webkit-scrollbar {
    display: none;
}

.cards {
    display: inline-block;
    /* border: 1px solid gray; */
    border-radius: 5px;
    /* background-color: #040507; */
    min-width: 100%;
    scroll-snap-align: start;
}

.ml {
    margin-right: 10px;
    /* background-color: #040507; */
}

.sticklines {
    width: 4px;
    height: 133px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #7353E5 0%, #CE4DA4 100%);
}


/* ---horzont-end */
/* testimoni start */
.testimoni {
    height: auto;
}

.c-prev,
.cn-btn {
    margin-top: 400px;
}

.c-prev {
    margin-left: 830px;
}

.cn-btn {
    margin-right: 200px;
}

.c-prev i,
.cn-btn i {
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    border-radius: 100%;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: #fff;
}



.f-circl {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, #F19757 0%, #EA7099 100%);
    width: 90px;
    height: 90px;
    z-index: -10;
    border-radius: 100%;
    animation: f-circl 5s linear infinite;

}

@keyframes f-circl {
    0% {
        top: 0;
        right: 30px;

    }

    25% {
        top: 0px;
        right: 0;

    }

    75% {
        right: 0;
        top: 30px;
    }

    100% {
        right: 0;
        top: 0;

    }

}

.s-circl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 90px;
    z-index: -10;
    border-radius: 100%;
    background: linear-gradient(180deg, #F19757 0%, #EA7099 100%);
    animation: s-circle 5s linear infinite;
}

@keyframes s-circle {
    0% {
        bottom: 30px;
        left: 0;

    }

    25% {
        bottom: 0px;
        left: 0;

    }

    75% {
        left: 30px;
        bottom: 0px;
    }

    100% {
        left: 0px;
        bottom: 0px;

    }

}

.quotesion img {
    width: 40px;
}

.star-rate i {
    color: gold;
}




/* --testimonial-box */
.box-main-con {
    width: 60%;
    margin: 40px auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.192);
    height: 50vh;
    border-radius: 50px;
    position: relative;
}

.box-scrollers {
    position: absolute;
    width: 60%;
    top: 0;
    left: 20%;
    right: 20%;
    height: 60vh;
}

.text-containers {
    padding: 70px 120px;
}

.testi-customer {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.testi-customer img {
    border-radius: 100%;
    object-fit: contain;
}

/* --popupform start */
.popup-form {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 999;
    min-height: 400px;
    min-width: 300px;
    /* user-select: none;
    pointer-events: none; */
    display: none;
}

.popup-form i {
    top: 20px;
    right: 20px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;

}

/* --popupform end */
.font-anim {
    /* color: #333; */
    font-family: tahoma;
    font-size: 55px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 450px;
    /* background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
    text-fill-color: transparent;
}

.smarter {
    font-weight: 600;
}

.mob-stick-toggle {
    display: none;
}

.second-text {
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.message {
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    /* padding-left: 0.5rem; */
    font-size: 55px;
    top: 10px;
    left: 230px;
    animation: openclose 5s ease-in-out infinite;
}



@keyframes openclose {
    0% {

        width: 0;
    }

    5% {
        width: 0;
    }

    15% {
        width: 230px;
    }

    30% {

        width: 230px;
    }

    33% {

        width: 0;
    }

    35% {

        width: 0;
    }

    38% {}

    48% {

        width: 190px;
    }

    62% {

        width: 190px;
    }

    66% {

        width: 0;
        text-indent: 0;
    }

    71% {

        width: 0;
        text-indent: 5px;
    }

    86% {

        width: 285px;
    }

    95% {

        width: 285px;
    }

    98% {

        width: 0;
        text-indent: 5px;
    }

    100% {
        width: 0;
        text-indent: 0;
    }
}

.quot-form input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0px 10px;
}

.quot-form textarea {
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 10px;
}

.quot-form textarea:focus {
    border: 1px solid #ccc;
}

.quot-form input:focus {
    /* border: none; */
    outline: none;
}

.quot-form input::-webkit-outer-spin-button,
.quot-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.s-btn {
    background: black;
    color: #000;
    outline: none;
    border: none;
}

.modal {
    width: 100% !important;
    height: 100vh !important;
    z-index: 999;
}

.modal-dialog {
    padding-top: 100px;
    width: 400px !important;
    height: 400px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.grow {
    transform: scale(7);
    background-color: #fff;
    mix-blend-mode: difference;
    border: none;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-bottom: 50%;
    border: 2px solid #16a085;
    transition: transform .2s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
    box-shadow: -2px 2px 4px rgb(129, 121, 121, 0.25),
        0px 4px 4px rgb(100, 93, 93, 0.25);

}

#whatsapp {
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: none;
    border: none;
    outline: none;
    z-index: 999;
    background-color: transparent;
}

#whatsapp img {
    width: 35px;
}

.darkmode {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.darkmodeMob {
    display: none;
}

.darkmode {
    display: block;
}

.darkmode img {
    cursor: pointer !important;
}

#moon {
    display: none;
    width: 15px;
    height: 15px;
}


/* --------- */

/* start */



.circle-main {
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: calc(-1 * 12px / 2);
    margin-left: calc(-1 * 12px / 2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: white;
    pointer-events: none;
    top: 0;
    left: 0;
    transition: opacity .3s;
    mix-blend-mode: difference;
    z-index: 2;
}

.circle-hide {
    opacity: 0;
}

.second-circle {
    position: absolute;
    transition: transform .15s, width .3s, height .3s, margin .3s;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    margin-top: calc(-1 *40px / 2);
    margin-left: calc(-1 *40px / 2);
    background: white;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 2;
}

.margin-t {
    margin: 50px auto;
}

.app-fea-mockups {
    width: 450px;
    height: 440px;
}

.circle-scale {
    width: calc(var(--second-circle-size) * 2);
    height: calc(var(--second-circle-size) * 2);
    margin-top: calc(-1 *40px);
    margin-left: calc(-1 *40px);
}

.press-button {
    font-size: 14px;
    color: #040507;
    text-align: center;
    padding-top: 40px;
    animation: pressBtn 2s linear infinite;
}

.grow,
.grow-small {
    transform: scale(4);
    background: white;
    mix-blend-mode: difference;
    border: none;

}

.grow-small {
    transform: scale(2);
}

@keyframes pressBtn {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(none);

    }

}

/* .cursor-scale:hover{
transform: scale(1.2);    
} */

.sticky-parent {
    height: 700vh;
    position: relative;
}

.sticky-sl {
    position: sticky;
    top: 0px;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dim {
    display: block;
    min-width: 100%;
    height: 100vh;
}

.horizontal {
    display: flex;

}

.s {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.second-roll {
    position: relative;
    padding-left: 20px;
}

/* .mob-s-img{
    width: 100%;
    transition: 2s;
  } */


@media (max-width: 620px) {
    .dim {
        display: block;
        min-width: 100vw;
        height: 100vh;
    }
}




/* ------------erroe page start */
.error {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
}

.error h2 {
    font-size: 70px;
}

/* ------------erroe page end */


/* ----see demo button----- */
.see-demo {
    padding: 7px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #040507;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    /* outline: 2px solid#1528d8; */
    ;
}

.see-demo:hover {
    color: #ffffff;
    transform: scale(1.1);
    /* outline: 2px solid#ffff; */
    /* box-shadow: 4px 5px 17px -4px #1528d8; */
    border: none;
}

.see-demo::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #CE4DA4,
            #7353E5);
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.see-demo:hover::before {
    width: 250%;
}

/* ---see demo button end--- */

#border-regist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: auto;
    padding: 20px 0px;
    color: white;
    font-family: 'Raleway';

}

.login-reg {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;


}


.fgx input {
    background: transparent;
    color: #fff;
}

.demoBtn {
    background: transparent;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 10px 15px;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.demoBtn::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(155, 33, 90, 0.678), rgba(164, 29, 182, 0.308));
    z-index: 1;
    transition: background 3s;
}

.demoBtn:hover::before {
    animation: rotate 1s;
    transition: all .5s;
}

@keyframes rotate {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* ---form start ---*/
.modal-body {
    background: black;
    color: #fff;
}

.quot-anim-con {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0px 5px;
    margin: 25px 0;
}

.quot-anim-con label {
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: #000;
}

.quot-anim-con input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
}


.focus-inp1 {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0px 30px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.label-focus1 {
    padding: 0px 20px;
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0;
    height: 40px;
    line-height: 40px;
    font-family: openSans;
    object-fit: contain;
}

.contact-form {
    min-width: 300px;
    width: 100%;
    min-height: 400px;
    /* background-color: #fff; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contact-form input {
    margin: 10px 0px;
    border: 0;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;
    background: transparent;
}

.contact-label-form {
    min-width: 300px;
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-label-form input {
    margin: 10px 0px;
    border: 0;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;
    background: transparent;
}

.quot-anim-con-contact {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0px 30px;
    margin: 25px 0;
}

.quot-anim-con-contact input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    color: #fff;
    font-family: openSans;
    top: 0;
    left: 0;
}

/* ---form end---- */

/* ---form end---- */
.form-row {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0px 5px;
    margin: 25px 0;

}

.form-row input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px;
    color: #fff;
}

.form-row span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
}

.form-row input:focus~span,
.form-row input:valid~span {
    color: #07b39b;
    transform: translateY(-17px)translateX(10px);
    padding: 0px 10px;
    background-color: #040507;
}

/* ---carrier-form---- */
.field-group {
    width: 600px;
    position: relative;
    padding-top: 7px;

}

.input-field {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #9999;
    padding: 10px 0;
    background: transparent;
    /* font-size: 2em; */
    color: #fff;
    /* transition: o.3s ease; */
}

.field-group span {
    display: none;
    position: absolute;
    top: 0;
    /* font-size: 1em; */
    columns: #999;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.input-field::placeholder {
    color: transparent;
}

.input-field:placeholder-shown~.input-label {
    /* font-size: 2em; */
    top: 20px;
    color: #fff;

}

.input-field:focus {
    /* border-image: linear-gradient(to right, red,blue); */
    border-image-slice: 1;
}

.input-field:focus~.input-label {
    display: block;
    position: absolute;
    top: 0;
    /* font-size: 1em; */
    color: #fff;

}

/* ---carrier-form---- */
.box-group-input {
    width: 80%;
    border-bottom: 1px solid #fff;
    position: relative;
    border: 0;
    color: #fff;
}

.box-group-input input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.box-group-input span {
    position: absolute;
    top: 20px;
    left: 0;
    pointer-events: none;
}

.box-group-input input:focus~span,
.box-group-input input:valid~span {
    transform: translateX(10px)translateY(-18px);

}

.static-txt {
    color: #fff !important;
    /* font-size: 60px; */
}

.dynamic-txts {
    margin-left: 15px;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.dynamic-txts li {
    color: pink;
    list-style: none;
    font-size: 40px;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -280px;
    }
}

.dynamic-txts li span {
    position: relative;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #040507;
    border-left: 2px solid pink;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.expertise {
    position: relative;
    width: 100%;
    height: 100%;
}

.expertise::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(45deg, #7752E1, #BC4DB0);
    -webkit-mask:
        linear-gradient(red 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.exper {
    padding: 10px;
    width: 100%;
}

.exper-smart {
    display: flex;
    align-items: center;
    justify-content: center;
}


.exper h5 {
    text-align: center;
}

.exper p {
    text-align: center;
}

.abt-sec-row {
    padding-top: 50px;
}

.our-story {
    width: 100%;
    height: 100%;
    position: relative;
}


.our-story::after {
    content: '';
    right: 281px;
    bottom: -13px;
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(45deg, #7752E1, #BC4DB0) 1;
    /* border: 2px solid #fff; */
    width: 300px;
    height: 330px;
    z-index: -1;
    border-radius: 30px;
}

.our-story:hover::after {
    top: -7px !important;
    left: -9px !important;
    height: 310px;
    width: 315px;

    /* border-radius: 150px; */

}

.our-story img {
    width: 300px;
    height: 300px;
}

.aboutus-quote {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 20%,
            rgba(0, 0, 0, 0.7)), url(../main-webp/aboutus-quote-img.webp);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* opacity: 0.7; */
    position: relative;

}

.about-schedule {
    color: #fff;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.abt-button {
    border: none;
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    color: #fff;
}


.security-bg {
    background-color: black;
    color: #fff;
}

.smart-text h2 {
    text-align: center;
}

.smart-day-night h4 {
    text-align: center;
    margin-top: 20px;
}

.smart-day-night {
    height: 50vh;
    width: 50%;
    position: relative;
    text-align: center;
}

.day-night-homes {
    position: relative;
    width: 100%;
    height: 60vh;
    animation: change-img-anim 5s infinite;
    background-image: url(../main-webp/smarthome-night.webp);
    background-position: center;
    background-repeat: no-repeat;

}

.day-night-home:nth-of-type(1) {
    animation-delay: 0s;
}

.day-night-home:nth-of-type(2) {
    animation-delay: 2s;
}

@keyframes change-img-anim {
    0% {
        background-image: url(../main-webp/smarthome-day.webp);

    }

    50% {
        background-image: url(../main-webp/smarthome-night.webp);
    }

    100% {
        background-image: url(../main-webp/smarthome-day.webp);
    }

}

.smart-text-home {
    /* position: relative; */
    text-align: center;
    top: 10px;
    animation: tex 5s infinite;

}

.s-2 {
    opacity: 1;
    animation: tex 5s infinite;
    font-size: 30px;
    /* color: #000; */
    /* position: relative; */
    width: 100%;
    height: 30px;
    display: block;
    overflow: hidden;

}

.s-1 {
    opacity: 1;
    animation: texe 5s infinite;
    font-size: 30px;
    /* color: #000; */
    position: absolute;
}

@keyframes tex {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;


    }

}

@keyframes texe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;


    }

}

.smart-text-home {
    position: relative;
}

.smart-work {
    /* display: none; */
    animation: change-text-anim 30s infinite;
}

.smart-work:nth-of-type(1) {
    animation-delay: 0s;
}

.smart-work:nth-of-type(2) {
    animation-delay: 2s;
}



@keyframes change-text-anim {
    0% {
        display: none;
    }

    20% {
        display: block;
    }

    90% {
        display: block;
        ;
    }

    100% {
        display: none;
    }
}

.google-social {
    display: flex;
    width: 60px;
    height: 60px;
}

.google-social img {
    padding: 10px;
}

.smart-col {
    margin-top: 60px;
}


.sec-font {
    text-transform: capitalize;
}

.mobile-access {
    /* background-image: url(../main-webp/mobile-access.webp); */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 400px;
    /* background-position: contain; */
    /* background-position: center; */
    /* background-size: cover; */
}

.mobil-acces {
    position: relative;
    height: 60vh;
    width: 100%;
}

.mobil-acces img {
    width: 330px;
}

.mob {
    position: absolute;
    top: 0;
}

.mobil {
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
}


/* ----------home bg start */
.home-bg {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    max-height: 100vh;

}

.sec-row {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.fir-sec {
    position: relative;
    /* background-color: #07b39b; */
    height: 100%;
    width: 40%;
}

.fir-sec::after {
    display: none;
}

.second-sec {
    /* background-color: red; */
    height: 100%;
    width: 20%;
    line-height: 100vh;
    position: relative;
}

.third-sec {
    /* background-color: #07b39b; */
    height: 100vh;
    line-height: 100vh;
    width: 40%;

}

.min-li-1 {
    height: 100vh;
    width: 100%;
}

.main-li-1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-li-1 img {
    position: absolute;
    /* height: 100%; */
    object-fit: contain;

}

.mob-li-1 {
    width: 90%;
    height: 90%;
    position: relative;
}

.min-li-1 img {
    width: 100%;
    height: 100%;
}

.mob-li-1 img {
    width: 100%;
    height: 80%;
}

.grp-btn {
    width: 73%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 30%;


}

.btns {
    width: 100%;
    min-width: 45%;
    max-width: 45%;
    height: 100%;
    position: relative;
    padding: 0 10px;
}

.s-btns {
    margin: 0 9px;
}

.btns label {
    width: 90%;
    height: 100%;
    object-fit: contain;

}


.btns label img {
    object-fit: contain;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    position: absolute;
}

.d-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.doggle-btns {
    width: 27%;
    height: 50px;
    right: 0;
    top: 48%;
    margin-right: -5px;
    position: absolute;
}

.doggle-btns input {
    background-color: #fff;
    outline: none;
    border: none;
    width: 27%;
    height: 50px;
    border-radius: 30px;
}

.doggules::after {
    position: absolute;
    content: '';
    height: 200px;
    width: 1px;
    bottom: 100%;
    left: 50%;
    background-color: #fff;
    overflow: hidden;
}

.doggules {
    width: 25px;
    height: 55px;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: start;
}

.doggules.anim {
    background-color: rgba(0, 0, 0, 0.08);
}

#alllightOn {
    display: none;
}

#bolconyOnBtn,
#parkingonBtn {
    display: none;
}

#bolconyLightson,
#parkingLightson {
    display: none;
}

.btns input {
    background-color: none;
    outline: none;
    position: absolute;
    border: none;
    width: 40%;

}

.times {
    position: absolute;
    top: -32%;
    left: 10%;
    font-size: 11px;
}

.about-para {
    max-width: 70%;
}

/* ----------home bg end */
.custom-switch-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(90deg);
    width: 80%;
    height: 100%;
    position: absolute;
    top: -20%;
    left: -100%
}

.custom-control-input[type="checkbox"],
.checkbox[type='checkbox'] {
    display: none;
}

.custom-switch-vertical .custom-control-label {
    position: relative;
    padding: 0;
}

.custom-switch-vertical .slider {
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, #BE4EAF 0%, #8751D6 100%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    left: calc(50% - 14px);
    transition: left 0.3s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.custom-switch-vertical .custom-control-input:checked~.custom-control-label .slider {
    left: calc(50% - 14px + 32px);
    /* Adjust for the toggle size */
}