.our-app-banner {
  margin-top: 100px;
  height: 70vh;
}

.r-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}

.r-banner::after {
  position: absolute;
  content: '';
  top: 40px;
  right: 60px;
  width: 800px;
  height: 460px;
  border: 3px solid transparent;
  border-image: linear-gradient(to top, #C94DA7 0.01%, #7B52DE 97.71%);
  border-image-slice: 1;
  z-index: -1;
}

.r-banner img {
  width: 300px;
}

.first-box {
  background-color: #fff;
  border-radius: 10px;
  height: 400px;
  width: 90%;
  padding: 30px;
}

.first-box h3 {
  background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.first-box h6 {
  color: #000;
  font-size: 20px;
  width: 80%;
  padding-top: 40px;
}

.add-download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  width: 50%;
  cursor: pointer;
  /* background-color: #7353E5; */
}
.add-download p{
  cursor: pointer;
  z-index: 1;
}

.iphone-13 {
  position: relative;
  width: 100%;
}

.iphone-13 img {
  width: fit-content;
  position: relative;
  height: 80vh;
  z-index: -1;
}

.span-box {
  position: absolute;
  content: '';
  top: 50px;
  right: 100px;
  width: 170px;
  height: 80px;
  background: rgba(35, 34, 34, 0.3);
  mix-blend-mode: normal;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  z-index: -1;
}

.span-box img {
  width: 50px;
}

.span-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dick {
  display: flex;
  margin-bottom: 40px;
  /* align-items: center; */
}

.dick img {
  width: 50px;
}

.app-store-content {
  margin-left: 20px;
}

.our-app-p{
  font-size: 18px;
}
.app-store-content h5 {
  text-transform: capitalize !important;
}



.app-con-sec {
  margin-top: 100px;
}

.app-title h2 {
  text-transform: capitalize;
}

.app-sec-title {
  font-size: 45px;
}

.center-app-img {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center-app-img img {
  height: 100%;
  /* width: 100%; */
  text-align: center;
}

.l-app-feature {
  display: flex;
  align-items: flex-end;
  text-align: right;
  justify-content: space-around;
  flex-direction: column;

}

.r-app-feature {
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: space-around;
  flex-direction: column;

}

.app-feature {
  text-align: center;
  margin: 20px 0px;
}

.app-feature img {
 width: 30px;
 object-fit: contain;
 height: 30px;
}

.fghs {
  position: relative;
  /* z-index: -1; */
}

.containersa {
  margin: 100px auto;
  width: 170px;
  height: 250px;
  position: relative;
  perspective: 1000px;
}

.carousela {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  /* background: #000; */
  width: 170px;
  height: 315px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  margin-top: -30px;
  /* opacity: 0.95; */
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);

}

.b {
  transform: rotateY(60deg) translateZ(250px);

}

.c {
  transform: rotateY(120deg) translateZ(250px);

}

.d {
  transform: rotateY(180deg) translateZ(250px);

}

.e {
  transform: rotateY(240deg) translateZ(250px);

}

.f {
  transform: rotateY(300deg) translateZ(250px);

}

.gc {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;

}

.nexta,
.preva {
  color: #444;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: linear-gradient(180deg, #7652E2 0%, #CB4DA6 100%);
  border-radius: 50%;
}

.left-arrow {
  transform: rotate(180deg);
}

.nexta {
  right: 0;
}

.nexta:hover,
.preva:hover {
  color: #000;
}

.nexta:active,
.preva:active {
  top: 0;
  background: linear-gradient(180deg, #7652E2 0%, #CB4DA6 100%);
}

.nexta {
  right: 0;
}

.preva {
  left: 0;
}

.mock {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  width: 210px;
  height: 150px;
  z-index: 1;
  /* overflow: hidden; */
}

.dfc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dfc img {
  width: 195px;
  height: 420px;
  margin-left: -15px;
  margin-top: -82px;
}

.item img {
  width: 100%;
  height: 100%;
}

.top-termss {
  margin-top: 100px;
  height: 20vh;
}

.mob-center-fix {
  display: flex;
  width: 100%;
}

.left-mob-fix {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.center-mob-fix {
  width: 60%;
  text-align: center;margin: 0;padding: 0;
  
}
.center-mob-fix video{
  background-blend-mode:screen;
  padding: 0;
  margin: 0;
  height: 100%;
}

.center-mob-fix img {
  object-fit: contain;
  width: 300px;

}

.right-mob-fix {
  width: 20%;
  text-align: left;
  align-items: left;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  
}
.right-mob-fix .app-feature img{
  align-items: left;
}
.bot-re{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.qr{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column !important;
}

.qr img{
  width: 100px;
  text-align: center;

}