.ourservice-sec {
    height: auto;
    padding: 50px 0px;
    position: relative;
}

.anim-style {
    display: flex;
    align-items: center;
}

.anim-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    height: 100%;
    position: relative;
}

.anim-box img {
    min-height: 400px;
    width: fit-content;
    box-shadow: 2px 2px 16px orange;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.pos {
    position: relative;
}

.pos-1 {
    position: absolute;
    font-size: 30px;
    text-align: center;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.35);
    width: 100%;
}

.smart-home {
    height: auto;
    position: relative;
}

.jk {
    min-width: 400px;
    min-height: 400px;
    animation: rots 10s linear infinite;
    border-radius: 20px;
}

.cd {
    position: relative;
}

.cd img {
    width: 500px;
}

.cd-2 {
    animation: ros 5s linear infinite;
}

@keyframes ros {
    100% {
        transform: translateX(60px);
    }
}

@keyframes rots {
    0% {
        transform: rotateX('45deg');
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-30px);
    }
}

.para-sh {
    font-size: 18px;
}

.web {
    height: 100vh;
}

.app {
    height: 100vh;
}

.uiux {
    height: 100vh;
}

.graphics {
    height: 100vh;
}

.construction {
    height: 100vh;
}

.our-service-banner {
    width: 100%;
    height: auto;
}

.service-container {
    width: 100%;
    height: 90vh;
    position: relative;

}

.video-con {
    width: 100%;
    height: 100%;
    position: relative;
    border-top: 20px;
}

.btns-vec {
    cursor: pointer;
}

.hov-serv {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: url(frosted-glass-texture-as-background-frosted-glass-texture-as-background-interior-design-decoration-111091129.jpg), linear-gradient(253.09deg, rgba(217, 217, 217, 0.25) -7.53%, rgba(217, 217, 217, 0) 97.04%);
    backdrop-filter: blur(25px);
    height: 10vh;
}

.video-sec {
    width: 100%;
}

.video-sec video {
    border-top: 20px;
}

#dayLight {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#dayLight video,
#relax video,
#night video {
    width: 100%;
    height: 100%;
}

#night {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;


}

.col-banner {
    width: 100%;
    height: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.col-banner img {
    width: 100%;
    height: 100%;
}

.waviy {
    position: re;
}

.waviy h2 {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

.block {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 16px;
}

.block h2 {
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10vw;
    color: white;
    font-weight: 400;
}

.img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none
}

.main-pagination-process {
    height: auto;
    width: 100%;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
    height: 100vh;
    width: 100%;
    display: flex;
    color: #fff;
    font-size: 40px;
    padding: 100px 0px;
    margin: 10px 0px;
}

.text-cont-pagination {
    height: 50vh;
    background-color: aqua;
    width: 100%;
    margin-top: 300px;
    position: sticky;
    font-size: 18px;

}

.img-cont-pagination {
    height: 50vh;
    /* background-color: blue; */
    width: 100%;
    top: 20vh;
    position: sticky;

}

.img-cont-pagination img {
    width: 200px;
    height: 200px;
}

.smarthome-anim {
    width: 100%;
    height: 100vh;
}

.img-smart-anim {
    height: 80vh;
    width: 80%;
    object-fit: contain;
    margin: 30px auto 0;
    position: relative;
}

.sm-titl {
    margin: 30px;
}

.animation-img {
    width: 100%;
    height: 80vh;
    background-image: url(../main-webp/nig-png.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    animation: img-sm 10s infinite;
    animation-delay: 3s;
}

.smart-home-p {
    font-size: 20px;
}

.day-imgs {
    display: none;
}

.night-texs {
    opacity: 0;
}

.text-ce {
    position: absolute;
    bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;;
    flex-direction: column;
    text-align: center;
}

.single-con {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-con h2 {
    position: absolute;
    text-align: center;

}

.night-texs {
    animation: nightsm 10s infinite;
}

@keyframes nightsm {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.day-texs {
    animation: daysm 10s infinite;
    animation-delay: 3s;
}

@keyframes daysm {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {

        opacity: 0;
    }
}

@keyframes img-sm {
    0% {
        background-image: url(../main-webp/day-png.png);
    }

    50% {
        background-image: url(../main-webp/nig-png.png);
    }

    100% {
        background-image: url(../main-webp/day-png.png);
    }

}