@media screen and (max-width:1000px) {
   .row-gall-1 img {
      margin: 15px;
      width: 41%;
   }
   .adv-box {
      margin-top: 30px;
   }

   .f-imgs-why {
      width: 100px;
      height: 100px;
   }

   .f-imgs-why img {
      width: 100px;
      height: 100px;
   }

   .f-imgs-why p {
      font-size: 8px;
   }

   p {
      padding: 0px 5px;
      font-size: 12px;
   }

   .card-box-img {
      width: 100%;
   }

   .card-lis {
      width: 100%;
      display: flex;
      align-items: center;
   }

   .works-with {
      height: 60vh !important;
   }

   .product-para {
      font-size: 12px;
   }

   .navbar {
      width: 100%;
   }

   /* .adv-img{
      width: 70%;
      margin-left:20px;
      text-align: center;
      align-items: center;
      justify-content: center;
   } */
   .blob {
      display: none;
   }

   .d-sd {
      height: 74vh;
   }

   .d-sds .tex {
      font-size: 15px;
   }

   .d-sds img {
      width: 30px;
   }

   section {
      margin: 10px 0px;
   }

   .sec-title {
      font-size: 20px;
      margin: 0px 20px;
   }

   .counter-box {
      width: 100%;
      height: 30px;
   }

   .lead-boxs {
      text-align: center;
      padding: 10px;
   }
   .press-play-btn{
      width: 100%;
      margin: 24px 0px;
   }

   .lead-boxs h2 {
      font-size: 27px;
   }

   .lead-boxs h5 {
      font-size: 13px;
   }

   .etg-f-img {
      width: 100%;
      object-fit: contain;
   }

   .box-main-con {
      width: 100%;
      height: 350px;
   }

   .box-main-con>.text-containers {
      width: 100%;
      z-index: 1 c;
      padding: 10px 20px;
   }

   .c-prev {
      margin-left: 20px;
   }

   #withlight {
      background-image: url(../main-webp/ons.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 100%;
      height: 46vh;
      object-fit: contain;
      transform-origin: center;
      position: relative;
      /* animation: img-change infinite 5s; */
      image-rendering: pixelated;
      /* animation-iteration-count: 2; */
   }

   #withoutlight {
      background-image: url(../main-webp/offs.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 46vh;
      object-fit: contain;
      transform-origin: center;
      position: relative;
      /* animation: img-change infinite 5s; */
      image-rendering: pixelated;
      /* animation-iteration-count: 2; */
      display: none;
   }

   .main-bgs {
      position: absolute;
      top: 0;
      left: 0;
      height: 66vh !important;
      width: 100%;
   }

   #mydiv {
      /* padding-left: 30px; */
      position: absolute;
      top: -700px;
      left: 180px;
      opacity: 0;

   }
   

   .home-main-con h1 {
      font-size: 40px;
      margin-top: 10px;
   }

   .font-anim {
      width: 100%;
   }

   .font-anim span {
      font-size: 40px;

   }

   .message {
      font-size: 37px;
      padding-left: 0;
      left: 170px;
      padding-top: 16px;
   }

   .child-adv{
      margin-bottom: 10px;
   }

   .df,
   .sf {
      width: 100px;
   }

   nav {
      width: 100%;
   }

   nav button{
      border: none;
      outline: none;
      background-color: transparent;
   }
   .navigation{
      z-index: 99;
   }

   .navbar-toggler-icon i {
      color: #fff;
   }
   .navbar{
      position: relative;
      width: 100%;
      
      
   }
   .collapse{
      position: absolute;
      background-color: #040507;
      padding-top:100px;
      top: 0;
      right: 0;
      width: 80%;
      height: 100vh;
      z-index: -1;
   }

   .nav-item {
      margin: 0px 2px;
   }

   .dropdown-menu li {
      text-align: center;
   }

 

   .active-nav {
      border: none;
   }

   /* ---our services start */
   .service-container {
      height: 27vh;
   }

   .mob-demo {
      height: 140vh !important;
   }

   .hov-serv {
      height: 5vh;
   }

   .sf {
      margin-top: 100px;
      width: 100%;
   }

   .jh {
      position: inherit;
      margin-top: 325px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      z-index: 100;
   }

   .blurred-box {
      width: 50%;
      display: flex;
      align-items: center;
      margin: 0px 5px;
      color: #fff;
   }

   .title-word {
      font-size: 12px !important;
      text-align: end;
   }

   .jh h6 {
      font-size: 14px;
      padding-right: 20px;
      display: none;
   }

   .night {
      display: none;
   }

   .hue {
      display: none;
   }

   .curtain-home {
      width: 100%;
      height: 50vh;
      /* object-fit: contain; */
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

   }
   .curtain-work {
      display: flex;
      margin: 0 auto;
      width: 100%;
  }

   .security-home {
      width: 100%;
      height: auto !important;
      background-position: center;
      background-size: cover;
      margin-top: 80px;
      background-repeat: no-repeat;
   }

   .security-home video {
      height: 100%;
      width: 50%;
   }

   .second-ajax-sec {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 28vh !important;
   }

   .third-ajax-sec {
      height: 70vh !important;
   }

   .fourth-ajax {
      height: 30vh;
      object-fit: contain;
      width: 100%;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover;

   }

   .secure-video {
      /* height: 50vh; */
      width: 100%;
   }

   .last-ajax {
      height: 26vh !important;
   }

   .secure-video video {
      width: 100%;
      height: 100%;
   }

   .e-ajx {
      width: 100%;
      height: 30vh;
   }

   .dg-ajax {
      font-size: 20px !important;
   }

   .dg-col {
      height: 28vh !important;
   }

   .e-ajx img {
      width: 290px !important;
   }

   .left-ajax {
      left: 10px !important;
   }

   .right-ajax {
      right: 5px !important;
   }

   .advantages {
      margin-top: 200px;
   }

   .font-anim {
      color: #333;
      font-family: tahoma;
      font-size: 55px;
      font-weight: 100;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      width: 100%;
      background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }

   .footer {
      height: auto;
   }

   .modalopen {
      width: 100%;
      padding: 0px 20px;
   }

   .darkmodeMob {
      display: block;
     
   }

   .darkmode {
      display: none;
   }
   .r-banner::after{
      display: none;
   } 
   .r-banner-img{
      display: none;
   }
   .r-banner{
      width: 90%;
      margin: 0 auto;
   }
   .first-box{
      width: 100%;
   }
   .containersa {
      margin: 100px auto;
      width: 120px;
      height: 250px;
      position: relative;
      perspective: 1000px;
  }
  .item{
   width: 100%;
  }
  .dfc img {
   width: 165px;
   height: 420px;
   /* margin-left: -15px;
   margin-top: -82px; */
}
  .fghs{
   width: 100%;
  }
  .dim{
   height: 65vh;
   width: 95%;
   margin: 0 10px;
  }
  .our-app-banner {
   margin-top: 100px;
   height:400px !important;
}
.iphone-13{
   display: flex;
   align-items: center;
   justify-content: center;
}
.iphone-13 img{
   height:42vh !important;
   margin-bottom: 20px;
}
.span-box{
   display: none !important
}
.top-termss{
   height: 6vh !important;
}
.center-app-img img {
   height: 50% !important;
   /* width: 100%; */
   text-align: center;
 }
 nav form{
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .box-contact{
   border-right:1px solid #000 !important;
   height: 50px;
 }
 .box-contacts{
   border-right:1px solid #000 !important;
   height: 50px;
 }
 .off{
   display: none;
 }
.darkmodemob{
   display: block !important;
}
.nightmob{
   display: none;
}
.empl{
   position: relative;
   width: 100% !important;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.our-app-foot {
 padding-left: 35px;   
}
.onwords-details-foot{
   padding-left: 35px;
}
.footer-bottom{
   display: none !important;
}
.sticky-parent{
   height: 350vh;
}
.works-with{
   background-size: 550px;
} 
.main-img{
   height: 50vh;
   background-size: 100%;
}
.box-contact{
   height: 150px !important;
}
.mob-contact-terms{
   height: 25vh !important;
}
.aboutus-img{
   height: 30vh;
}
.b {
   transform: rotateY(60deg) translateZ(170px) !important;
 
 }
 
 .c {
   transform: rotateY(120deg) translateZ(170px) !important;
 
 }
 .construction-img{
   background-image: url(../main-webp/construction-main-img.webp);
   width: 100%;
   height: 50vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   
}
.contact-banner{
   height: 20vh !important;
/* ---------gallery end */
}
.control-img{
   height: 30vh;
   background-image: none;
}
.sync-tv-demo-text {
   margin-top: -119px;
   font-size: 30px;
}
.demo-section{
height: 50vh;
margin-bottom: 100px;
}
.video-src {
   width: 100%;
   height: 50vh;
   margin-bottom: 100px;
}
.top-smart-home-page{
   margin-top: 70%;
   position: relative;
 }
 .smart-home-paralx-row{
   height: 70vh;
 }
 .horizontal{
   margin-top: 150px;
 }
 .smart-below-img {
   width: 100%;
   object-fit: contain;
   margin-top: 25%;
}
.center-mob-fix img {
   object-fit: contain;
   width: 200px !important;
}
}


