.security-home{
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/ajax-main.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .security-home video{
    width: 100%;
    height: 100%;
  }
  .second-ajax-sec{
    background: url(../images/second-ajax.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .third-ajax-sec{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url(../images/third-ajax.png);
  }
  .fourth-ajax{
    height: 50vh;
    object-fit: contain;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background: url(../images/fourth-ajax.png);
  }
  .dg-col{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .ajax-tex{
    font-size: 12px;
    
  }
  .secure-video video{
    width: 100%;
    height: 100%;
  }
  .last-ajax{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .dg-ajax{
    font-size: 75px;
    opacity: 0.3;
    text-overflow: initial;
    /* line-height: 40vh; */

  }

  .d-gif{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .d-gif img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .left-ajax{
    display: flex;
    align-items: center;
    text-align: right;
    position: absolute;
    left: 230px;

  }
  .right-ajax{
    display: flex;
    align-items: center;
    text-align: right;
    position: absolute;
    right: 180px;
  }
  .e-ajx{
    position: relative;
    width: 100%;
    height: 60vh;
    /* column-gap: 10cm;  */
  }
  .e-ajx img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .boxro{
    background-color: aqua;
    width: 200px;
    height: 200px;
  }
