.security-home {
  width: 100%;
  height: 100vh;
  /* background-image: url(../images/ajax-main.png); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.security-home video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-ajax-sec {
  background: url(../main-webp/second-ajax.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.third-ajax-sec {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url(../main-webp/third-ajax\.webp);
}

.fourth-ajax {
  height: 50vh;
  object-fit: contain;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background: url(../main-webp/fourth-ajax\ -final.webp);
}

.dg-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ajax-tex {
  font-size: 12px;

}

.secure-video video {
  width: 100%;
  height: 100%;
}

.last-ajax {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.dg-ajax {
  font-size: 75px;
  opacity: 0.3;
  text-overflow: initial;
  /* line-height: 40vh; */

}

.d-gif {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.d-gif img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.left-ajax {
  display: flex;
  align-items: center;
  text-align: right;
  position: absolute;
  left: 230px;

}

.right-ajax {
  display: flex;
  align-items: center;
  text-align: right;
  position: absolute;
  right: 180px;
}

.e-ajx {
  position: relative;
  width: 100%;
  height: 60vh;
  /* column-gap: 10cm;  */
}

.e-ajx img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.boxro {
  background-color: aqua;
  width: 200px;
  height: 200px;
}







/* terms and condiation start */
.top-terms {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy-title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.privacy-title::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(89.98deg, #C94DA7 0.01%, #7B52DE 97.71%);
  z-index: -1;
}

.privacy-title h2 {
  background-color: black;
  padding: 0px 20px;
  position: absolute;
  top: -20px;
  text-align: center;
  font-size: 40px;
  width: fit-content;
  height: auto;
  text-transform: uppercase;
}
.privacy-title h2.dark{
  color: #fff;
}

.privacy-title p {
  position: absolute;
  top: 40px;
  font-size: 15px;
}

.privacy-list li {
  list-style: block;
}

.privacy-p p {
  padding-left: 10px;
}

.privacy-p h6 {
  padding: 10px 0px;
  font-size: 20px;
}

.contact-banner {
  background-image: url(../main-webp/contact-banner.webp);
  width: 100%;
  height: 45vh;
  margin-top: 100px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-contact{
  width: 100%;
  height: 300px;
  border-right: 1px solid #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-contacts{
  width: 100%;
  height: 300px;
text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-contact img,.box-contacts img{
  margin: 5px 0px;
}
.contact-form{
  background-color: transparent;
  color: #fff;
}
.contact-form input{
 width: 80%;
 margin: 20px auto;
 border-bottom: 1px solid #fff;
 color: #fff;
 padding: 10px 20px;
 font-size: 18px;
}
.contact-form input::placeholder{
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.contact-form input::-webkit-outer-spin-button,
.contact-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* terms and condiation end*/

/* downloads pages */
.download-list{
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
 line-height: normal;
}
.fcre{
  display: flex;
  align-items: center;
}
.fcre p :nth-last-child(){
  font-size: 30px;
}
.down-ul li{
  margin: 10px 0px;
}

.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border:  2px solid rgb(134,22,87);
}


.btn-slide2:hover {
  background: linear-gradient(89.98deg, #C94DA7 0.01%, #7B52DE 97.71%);
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-slide2:hover span.circle2 {
    color: #efa666;
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

 .btn-slide2 span.circle2 {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
  background: linear-gradient(89.98deg, #C94DA7 0.01%, #7B52DE 97.71%);
    display: flex;
    align-items: center;
    justify-content: center;
}

 .btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.btn-slide2 span.title2 {
    background: linear-gradient(90deg, #CE4DA4 0%, #7353E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    left: 80px;
  }

 .btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
    color: #fff !important;
}

.btn-slide2 span.title-hover2 {
    color: #fff;
}
