.team {
    width: 100%;
    height: 80vh;
    background-image: url(../images/team-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-nav{
    width: 100%;
    height: 40px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  .team-btn{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
  }
 
  /* Style the active class, and buttons on mouse-over */
  .active, .team-btn:hover {
    background: linear-gradient(90deg, #CE4DA4 2.4%, #7952E0 100%);
    border-radius: 47px;
    color: white;
    padding: 5px 10px;

  }
  .padding-extra{
    padding: 3px 20px !important;
  }
 






.team-onwords-title h2 {
    text-transform: capitalize !important;
}

.team-member {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;

}
.team-member  section{
    display: flex;
    align-items: center;
}
/* .empl {
    position: relative;
    width: 33%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.empls{
    position: relative;
    width: 33%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.f-impl {
    cursor: pointer;
}

.after-content:hover {
    opacity: 1;
}

.f-impl img {
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.img-title title {
    color: #000;
}

.after-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.9);
    opacity: 0;
}
.after-content p a{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.after-content:hover{
    opacity: 1;
}

.top-bor {
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, #7353E5 0%, #CE4DA4 100%);
    height: 1px;
    animation: top 3s linear infinite;
}

@keyframes top {
    0% {
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.bot-bor {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, #7353E5 0%, #CE4DA4 100%);
    height: 1px;
    animation: bot 3s linear infinite;
}
@keyframes bot {
    0% {
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.left-bor {
    position: absolute;
    left: 0;
    background: linear-gradient(180deg, #7353E5 0%, #CE4DA4 100%);
    width: 1px;
    animation: left 3s linear infinite;
}
@keyframes left {
    0% {
        height: 0%;
    }
    100%{
        height: 100%;
    }
}

.right-bor {
    position: absolute;
    right: 0;
    background: linear-gradient(180deg, #7353E5 0%, #CE4DA4 100%);
    width: 1px;
    animation: right 3s linear infinite;
}
@keyframes right {
    0% {
        height: 0%;
    }
    100%{
        height: 100%;
    }
} */
.empls{
    position: relative;
    width: 33%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#all,#rnd,#management,#it,#pr,#civil{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.shape-line{
    position: relative;
    width: 200px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    /* background-color: #7353E5; */
}
.shape-line img{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /* transform: rotate(-3deg); */

}
.shape-box{
    position: absolute;
    width: 100%;
    height: 80px;
    background: linear-gradient(90.16deg, #CB4DA6 0.04%, #8351D9 99.38%);
    border-radius: 50px;
    transform: rotate(-45deg);
    bottom: 62px;
    left: 12px;
}
.shape-box::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 80px;
    background: linear-gradient(90.16deg, #CB4DA6 0.04%, #8351D9 99.38%);
    border-radius: 50px;
    transform: rotate(180deg);
    bottom:0;
    left: 0;
    display: none;
    transition: 2s ease-in;
}
.shape-text-con{
    position: absolute;
    bottom: 0;
    right: 0;
}
.email-link{
   opacity: 0;
   overflow: hidden;
   margin-left:-300px;
   transition: 2s linear ease-in;
}

.empls:hover .shape-box::after{
  display: block;
  transition: 2s ease-in;
}
.empls:hover .email-link{
   margin-left:0px;
    opacity: 1;
    transition: 1s ease-in;
    cursor: pointer;
}
.chg-shape{
    bottom: 66px;
    left: 12px;
}