<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best in Coimbatore | Home Automation | Smart Home | Gate Automation | ALEXA | GOOGLE | AJAX | Security Systems | Automation </title>
    <meta name="description" content="Discover premier Home Automation services in Coimbatore with Onwords. Experience seamless integration of smart home devices, voice control, and eco-friendly automation for modern living.">
    <meta name="keyword" content="Automatic lights, Automatic gate, smart door, door lock, phone control, voice control light, Ac automation, Samsung, Ajax, Smart Home, Home automation, Automated water tanks, Wireless Connectivity, Climate control automation, Mobile app controlled smart devices, Home automation with mobile devices, Tamil Nadu, Coimbatore, Automation, Without Internet, Security Systems,Guard Patrol Systems,Gate automation system ,Low cost, in Coimbatore, Tamilnadu">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/main-webp/favicon.ico" type="image/x-icon" />
    <!-- custom css -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="error">
        <h2>404</h2>
        <p>We're sorry but it looks like that page doesn't exist anymore.</p>
        <button class="module-border-wrap">
            <div class="module fs-6 px-4" onclick="location.href='/'" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Back To Home
            </div>
        </button>
    </div>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
</body>
</html>