{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
  <link rel="stylesheet" href="{% static 'css/aboutus.css' %}?{% now 'U' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}?{% now 'U' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{% now 'U' %}">
  <link rel="stylesheet" href="{% static 'css/security-system.css'  %}?{% now 'U' %}">
  <link rel="stylesheet" href="{%static 'css/footer.css' %}?{% now 'U' %}">




  <link rel="stylesheet" href="{% static 'css/general.css'  %}?{% now 'U' %}">
  <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}?{% now 'U' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}?{% now 'U' %}">
  <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}?{% now 'U' %}">

  <title>Onwords</title>
</head>

<body id="bodyTag">
  <!-- navbar start -->
  <header>
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container-fluid">
        <p class="navbar-brand" href="/"><img src="{% static 'main-webp/logos-main.webp' %}" alt="logo" class="img-fluid logo">
        </p>
        <div class="darkmodemob" id="darkbuttonmob">
          <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun toggle" class="img-fluid sunmob">
          <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid nightmob">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
            <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Our Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/securitySystem">Security System</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ourApp">Our App</a>
            </li>
            <li class="nav-item active-nav">
              <a class="nav-link " href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>


        </div>
        <div class="darkmode" id="darkbutton">
          <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun toggle" class="img-fluid sun">
          <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid night">
        </div>
      </div>
    </nav>
  </header>
  <!-- navbar end -->
  <div class="down-btn">
    <button type="button" class="backtop" id="btn-back-to-top">
      <a href="#"><i class="fas fa-arrow-up"></i></a>
    </button>
    <button id="whatsapp">
      <a href="https://wa.me/+917708630275" target="_blank">
        <img src="{% static 'main-webp/whatsapp-ico.webp' %}" alt="whatsapp">
      </a>
    </button>
  </div>
  </div>
  <div class="wrapper">
    <!-- <h2>Aboutus</h2> -->

    <section class="abt-sec-first">
      <div class="aboutus-img">
        <img src="{%static 'main-webp/about-hand.webp'%}" alt="aboutus-img" class="img-fluid">
        <div class="title-aboutus">
          <h2>AboutUs</h2>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="fh">
            <center>
              <h2>About Onwords</h2>
            </center>
            <br><br>
            <p>Onwords started off as a Smart Home Solutions company in 2020 and began its journey as a visionary Smart
              Home Solutions company. With an unwavering commitment to creativity and a futuristic mindset, we set out
              to redefine the way homes are connected and automated. At the heart of Onwords lies our firm belief in
              smart technology and the Internet of Things (IoT), driving us to explore diverse domains and collectively
              shape a smarter future.<br><br>

              Our Smart Home Products have gained immense popularity among a vast audience,
              extending the benefits of automation to rural and suburban areas alike. By integrating intelligent
              security, smart interconnectivity, and interactivity, we design and develop products that prioritize
              energy efficiency, ensuring sustainable and cost-effective solutions. As we continue to expand, we
              actively seek talented individuals who share our passion and commitment to join our growing team.<br><br>

              At
              Onwords, we understand the importance of security in a connected world. We place the utmost priority on
              safeguarding your home and personal data, ensuring a protected environment for you and your loved ones.
              <br><br>

              We take immense pride in our reputation for excellence within the industry, with our smart home
              products and solutions making a significant impact on the lives of our customers. As we forge ahead, we
              invite you to embark on this exciting journey with us. Let us together redefine the possibilities of smart
              living and create a future that is both better and smarter.
              <br><br>

              Discover the transformative power of Onwords and experience a new era of home automation.
            </p>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul class="company-list-1">
              <h5>Company</h5>
              <li>
                <p onclick="location.href='/aboutus'">About Us</p>
              </li>
              <li>
                <p onclick="location.href='/contact'">Contact Us</p>
              </li>
              <li>
                <p onclick="location.href='/ourApp'">Our App</p>
              </li>
              <li>
                <p onclick="location.href='/gallery'">Gallery</p>
              </li>
              <li>
                <p onclick="location.href='/carrier'">Carrers</p>
              </li>


            </ul>

          </div>
          <div class="col-md-2">
            <ul class="our-services-foot">
              <h5>Our Services</h5>
              <li>
                <p onclick="location.href='/ourservices'">Smart Home</p>
              </li>
              <li>
                <p onclick="location.href='/gateautomation'">Gate Automation</p>
              </li>
              <li>
                <p onclick="location.href='/securitySystem'">Security System</p>
              </li>
              <li>
                <p onclick="location.href='/curtain'">Smart Curtain</p>
              </li>
              <li>
                <p> Constructions</p>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="quick-links-foot">
              <h5>Quick Links</h5>
              <li>
                <p onclick="location.href='/'"> Home</p>
              </li>
              <li>
                <p onclick="location.href='/ourservices'">Our Services</p>
              </li>
              <li>
                <p onclick="location.href='/securitySystem'">Security System</p>
              </li>
            </ul>
          </div>

          <div class="col-md-3">
            <div class=" onwords-details-foot">
              <h5>Connect With Us</h5>
              <div class="footer-foot">
                <a href="https://www.linkedin.com/company/onwords-smart-solution/
                      " target="_blank" class="footer-social-icon"></i><i class="fa-brands fa-linkedin"></i></a>

                <a href="https://www.instagram.com/team.onwords/
                          " target="_blank" class="footer-social-icon"></i><i class="fa-brands fa-instagram"></i></a>
                <a href="https://https://www.facebook.com/teamonwords/
                          " target="_blank" class="footer-social-icon"></i><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.youtube.com/@OnwordsSmartSolutions/
                          " target="_blank" class="footer-social-icon"></i> <i
                    class="fa-brands fa-square-youtube"></i></i></a>
              </div>


              <div class="footer-foot">
                <!-- <i class="fa-brands fa-linkedin" onclick="location.href='/'"></i>
                          <span onclick="location.href='www.instagram.com/team.onwords/'" target="_blank"><i
                                  class="fa-brands fa-instagram"></i></span>
                          <i class="fa-brands fa-facebook"></i> -->

              </div>
              <br>
              <div>
                <p>Onwords Smart Solutions
                  Coimbatore, IN - 642 005</p>
                <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                    class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                <p class="phone-foot" onclick="location.href='tel:7708630275'"><i class="fa-solid fa-phone"></i> 77086
                  30275</p>
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="our-app-foot ">
              <h5>Our Apps</h5>
              <div class="app-google-store">
                <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                  <img src="{% static 'main-webp/play.webp' %}" alt="play store" class="img-fluid">
                </a>
                <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                    src="{% static 'main-webp/apple.webp' %}" alt="apple storw" class="img-fluid"></a>
              </div>

            </div>
          </div>
        </div>
        <hr class="text-white">
        <div class="bootom-footer">
          <div>
            <p> © Copyright ©2023
              Onwords. All Rights Reserved | </p>
          </div>
          <div>
            <ul class="footer-bottom">
              <li>
                <p onclick="location.href='/disclaimer'">Privacy Policy</p>
              </li>
              <li>
                <p onclick="location.href='/privacyPolicy'">Terms of Use</p>
              </li>
              <li>
                <p>Sales and Refunds</p>
              </li>
              <li>
                <p>Legal</p>
              </li>
              <li>
                <p>Site Map</p>
              </li>
            </ul>
          </div>
        </div>
    </section>

    <!-- <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <img src="{% static 'images/logos.png' %}" alt="" class="img-fluid sdf">
            <p>Onwords Smart Solutions <br>
              RR Garden, Zamin Muthur, <br>
              Pollachi,
              Coimbatore, IN - 642 005 <br>
            <div class="fgh">
              <span><a href="tel:7708630275" class="footer-list"><i class="fa-solid fa-phone"></i> 77086
                  30275</a></span>
              <br><br>
              <span><a href="mailto:cs@onwords.in" class="footer-list"><i
                    class="fa-solid fa-envelope"></i>cs@onwords.in</a></span>
            </div>
            </p>
          </div>
          <div class="col-sm-6 col-md-2">
            <ul class="listx">
              <h5>Quick Links</h5>
              <li><a href="/home" class="footer-list">Home</a></li>
              <li><a href="/ourservices" class="footer-list">Our Services</a></li>
              <li><a href="/securitysystem" class="footer-list">SecuritySystem</a></li>
              <li><a href="/OurApp" class="footer-list">OurApp</a></li>
              <li><a href="/aboutus" class="footer-list">About Us</a></li>
              <li><a href="/Contact" class="footer-list">Contact</a></li>
              <li><a href="/carrer" class="footer-list">Carrer</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <ul class="listx">
              <h5>Our Services</h5>
              <li><a href="" class="footer-list">Smart Home</a></li>
              <li><a href="" class="footer-list">Web /App Devlopment</a></li>
              <li><a href="" class="footer-list">Digital Marketing</a></li>
              <li><a href="" class="footer-list">UI & UX Designing</a></li>
              <li><a href="" class="footer-list">Graphic Designing</a></li>
              <li><a href="" class="footer-list">Construction</a></li>
            </ul>

          </div>

          <div class="col-sm-12 col-md-4">
            <h5>Subscribe Us</h5>
            <input type="email" name="" id="" class="mails" placeholder="Enter Your Email"><br>
            <button type="submit" class="sub">Subscribe</button>
            <div class="row my-4">
              <div class="col df">
                <a href="https://www.youtube.com/@OnwordsSmartSolutions" target="_blank"><img
                    src="{% static 'images/youtube.png' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col df">
                <a href="https://www.facebook.com/teamonwords" target="_blank">
                  <img src="{% static 'images/facebook.png' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col df">
                <a href="https://www.instagram.com/team.onwords/
                               " target="_blank">
                  <img src="{% static 'images/instagram.png' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col df">
                <a href="" target="_blank">
                  <img src="{% static 'images/linkedin.png' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col df">
                <a href="https://twitter.com/TeamOnwords
                              " target="_blank">
                  <img src="{% static 'images/twitter.png' %}" alt="" class="img-fluid">
                </a>
              </div>
              <div class="jg">
                <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                  <img src="{% static 'images/play.png' %}" alt="df" class="img-fluid">
                </a>
                <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                    src="{% static 'images/apple.png' %}" alt="" class="img-fluid"></a>

              </div>
            </div>
          </div>
          <hr class="text-white">
          <span class="text-center" style="text-align: center;"> © Copyright ©2023
            Onwords. All Rights Reserved | Privacy Policy</span>
        </div>

      </div>
    </section> -->
  </div>


  <!-- bootstrap js -->
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
  <!-- bootstrap js -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
  <script src="{%static 'js/general.js'%}"></script>



</body>

</html>