<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
  <!-- End Google Tag Manager -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
  <title>Best home Automation Coimbatore | Smart Home | Gate Automation | Automation </title>
  <meta name="description" content="Discover premier Home Automation services in Coimbatore with Onwords. Experience seamless integration of smart home devices, voice control, and eco-friendly automation for modern living.">
  <meta name="keyword" content="Automatic lights, Automatic gate, smart door, door lock, phone control, voice control light, Ac automation, Samsung, Ajax, Smart Home, Home automation, Automated water tanks, Wireless Connectivity, Climate control automation, Mobile app controlled smart devices, Home automation with mobile devices, Tamil Nadu, Coimbatore, Automation, Without Internet, Security Systems,Guard Patrol Systems,Gate automation system ,Low cost, in Coimbatore, Tamilnadu">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/aboutus.css">
  <link rel="stylesheet" href="../static/css/responsive.css">
  <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/security-system.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/fonts/all.min.css">
  <link rel="stylesheet" href="../static/fonts/fontawesome.css">
  <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
</head>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1529103170856060');
  fbq('track', 'PageView');
</script>

<noscript>
  <img height="1" width="1"
       src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C79YW2LCJ1');
</script>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="preloader"></div>

<header>
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fonwords-logo.svg?alt=media&token=bf6389d3-ec58-452f-8876-8b0fe6db0f01" alt="logo"class="img-fluid logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
        <span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
        <span class="off text-white"><i class="fa-solid fa-x"></i></span>
    </span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                  Our Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                <li><a class="dropdown-item" href="/contact-9">Water tank Automation</a></li>
                <li><a class="dropdown-item" href="/solar">Solar</a></li>
                <li><a class="dropdown-item" href="/Audios">Sound System</a></li>
                <li><a class="dropdown-item" href="/contact-9">Web/App Devlopment</a></li>
                <li><a class="dropdown-item" href="/construction">Construction</a></li>
                <li><a class="dropdown-item" href="/smartlock">Purchase Smart Locks</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/securitySystem">Security System</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ourApp">App</a>
          </li>
          <li class="nav-item active-nav">
            <a class="nav-link " href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-9">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/careers">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fields">Get Quote</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="down-btn">
  <button type="button" class="backtop" id="btn-back-to-top">
    <a href="#"><i class="fas fa-arrow-up"></i></a>
  </button>
  <button id="whatsapp">
    <a href="https://wa.me/+917708630275" target="_blank">
      <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwhatsapp-ico.webp?alt=media&token=44745185-f1e5-4d37-b7b5-111fb36c81af" alt="whatsapp">
    </a>
  </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content login-reg ">
      <div class="modal-body ">
        <div type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></div>
        <center>
          <h2>Book A Free Demo</h2>
          <p>Onwords smart solutions helps unlock the Amazing spaces to create
            durable and innovative
            experience </p>
          <form action="" class="quot-form">
            <div class="form-row">

              <input type="text" required="required" />
              <span>Name</span>
            </div>
            <div class="form-row">
              <input type="number" required="required" />
              <span>Mobile Number</span>
            </div>
            <div class="form-row">
              <input type="text" required="required" />
              <span>Location</span>
            </div>
            <div class="form-row">
              <input type="text" required="required" />
              <span>Description</span>
            </div>
            <button type="submit" class="s-btn">
              <div class="module-border-wrap">
                <div class="module">
                  Get Started
                </div>
              </div>
            </button>
          </form>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <section class="abt-sec-first">
    <div class="aboutus-img">
      <img src="../static/main-webp/about-hand.webp" alt="aboutus-img" class="img-fluid">
      <div class="title-aboutus">
        <h2>AboutUs</h2>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="fh">
          <center>
            <h2>About Onwords</h2>
          </center>
          <br><br>
          <p>Our Smart Home Products have gained immense popularity among a vast audience, extending the benefits of
            automation to rural and suburban areas alike. By integrating intelligent security, smart
            interconnectivity, and interactivity, we design and develop products that prioritize energy efficiency,
            ensuring sustainable and cost-effective solutions. As we continue to expand, we actively seek talented
            individuals who share our passion and commitment to join our growing team.<br><br>
            At Onwords, we understand the importance of security in a connected world. We place the utmost priority on
            safeguarding your home and personal data, ensuring a protected environment for you and your loved
            ones.<br><br>We take immense pride in our reputation for excellence within the industry, with our smart
            home products and solutions making a significant impact on the lives of our customers. As we forge ahead,
            we invite you to embark on this exciting journey with us. Let us together redefine the possibilities of
            smart living and create a future that is both better and smarter.Discover the transformative power of
            Onwords and experience a new era of home automation.
          </p>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="our-story-border">
            <div class="our-story">
              <img class="our-story-img" src="../static/main-webp/our-story-abt.webp" alt="our story">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="our-story-p">
            <h4>Our story</h4>
            <p>Onwords started off as a Smart Home Solutions company in 2020 and began its journey as a visionary
              Smart
              Home Solutions company. With an unwavering commitment to creativity and a futuristic mindset, we set out
              to redefine the way homes are connected and automated. At the heart of Onwords lies our firm belief in
              smart technology and the Internet of Things (IoT), driving us to explore diverse domains and
              collectively
              shape a smarter future.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="why-choose-us-para">
    <h3 class="text-center">Why to choose us</h3>
    <h4 class="text-center">Embrace the Future with Onwords</h4>
    <div class="container">

      <div class="row-col">
        <div class="box-about reveal fade-l" data-wow-delay="0.1s">
          <p> <img src="../static/main-webp/abt-svg.svg" class="img-fluid" alt=" expertise"></p>
          <h4>Expertise</h4>
          <p>
            With years of experience in the smart technology domain, we have garnered valuable insights and expertise.
            Trust us as your reliable partners on your journey to a smarter future.
          </p>
        </div>
        <div class="box-about reveal fade-l">
          <p> <img src="../static/main-webp/automate-abt.svg" class="img-fluid" alt=" automate settings image"></p>
          <h4>Automate Everything</h4>
          <p>
            we believe in making life easier. Choose us to automate everything from lighting and security to
            entertainment and climate control, streamlining your daily routines and freeing up more time for what
            matters most.
          </p>
        </div>
        <div class="box-about reveal fade-l">
          <p> <img src="../static/main-webp/offline-abt.svg" class="img-fluid" alt=" works with offline"></p>
          <h4>Works with offline</h4>
          <p>
            Our offline capabilities mean instant access to your smart devices and systems, without the need to rely
            solely on internet connectivity. Control and monitor your home or business efficiently at any time
          </p>
        </div>
        <div class="box-about reveal fade-b" data-wow-delay="0.1s">
          <p> <img src="../static/main-webp/innovation-abt.svg" class="img-fluid" alt=" innovation"></p>
          <h4>Innovation</h4>
          <p>
            We lead the charge in pioneering smart solutions that transform the way you interact with your home or
            business. Experience the latest innovations and stay ahead in the ever-evolving world of smart technology.
          </p>
        </div>
        <div class="box-about reveal fade-b">
          <p> <img src="../static/main-webp/device-abt.svg" class="img-fluid" alt="device integration"></p>
          <h4>Device integration</h4>
          <p>
            Our expertise lies in effortlessly integrating a wide range of smart devices into your home or business
            environment. Experience the convenience of controlling multiple devices with just a few taps.
          </p>
        </div>
        <div class="box-about reveal fade-b">
          <p> <img src="../static/main-webp/customaize-abt.svg" class="img-fluid" alt=" customaization"></p>
          <h4>Customization</h4>
          <p>
            Our expertise lies in understanding your needs and desires. With our customization services, you can
            personalize every aspect of your smart living environment, ensuring a one-of-a-kind experience.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="about-quote">
    <div class="center-schedule">
      <h2>
        "Experience Smart Living with Onwords"
      </h2>
      <p>
        Schedule a FREE Demo to See How Our Smart Home Automation Solutions Perfectly Match Your Lifestyle and
        Demands.
      </p>
      <div class="go">
        <button class="gradient-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Book a Free Demo
        </button>
      </div>
    </div>
  </section>

  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <ul class="company-list-1">
            <h5>Company</h5>
            <li>
              <p onclick="location.href='/aboutus'">About Us</p>
            </li>
            <li>
              <p onclick="location.href='/contact-9'">Contact Us</p>
            </li>
            <li>
              <p onclick="location.href='/ourApp'">Our App</p>
            </li>
            <li>
              <p onclick="location.href='/gallery'">Gallery</p>
            </li>
            <li>
              <p onclick="location.href='/careers'">Careers</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="our-services-foot">
            <h5>Our Services</h5>
            <li>
              <p onclick="location.href='/ourservices'">Smart Home</p>
            </li>
            <li>
              <p onclick="location.href='/gateautomation'">Gate Automation</p>
            </li>
            <li>
              <p onclick="location.href='/securitySystem'">Security System</p>
            </li>
            <li>
              <p onclick="location.href='/curtain'">Smart Curtain</p>
            </li>
            <li>
              <p onclick="location.href='/construction'"> Constructions</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="quick-links-foot">
            <h5>Quick Links</h5>
            <li>
              <p onclick="location.href='/'"> Home</p>
            </li>
            <li>
              <p onclick="location.href='/ourservices'">Our Services</p>
            </li>
            <li>
              <p onclick="location.href='/securitySystem'">Security System</p>
            </li>
            <li>
              <p onclick="location.href='/refund'">Refunds & Cancellations</p>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class=" onwords-details-foot">
            <h5>Connect With Us</h5>
            <div class="footer-foot icon">
              <p onclick="location.href='//www.linkedin.com/company/onwords-smart-solution/'"><i
                      class="fa-brands fa-linkedin"></i></p>
              <p onclick="location.href='//www.instagram.com/team.onwords/'" target=" _blank">
                <i class="fa-brands fa-instagram"></i>
              </p>
              <p onclick="location.href='//www.facebook.com/teamonwords/'
                    " target="_blank"><i class="fa-brands fa-facebook"></i>
              </p>
              <p onclick="location.href='//www.youtube.com/@OnwordsSmartSolutions/'" target=" _blank"><i
                      class="fa-brands fa-square-youtube"></i></p>
            </div>
            <div class="footer-foot">
            </div>
            <br>
            <div>
              <p>Onwords, Coimbatore - 642 005</p>
              <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                      class="fa-solid fa-envelope"></i>cs@onwords.in</p>
              <p class="phone-foot" onclick="location.href='tel:7708630275'"><i class="fa-solid fa-phone"></i> 77086
                30275</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-app-foot onwords-details-foot ">
            <h5>Our Apps</h5>
            <div class="app-google-store">
              <a href="https://play.google.com/store/apps/details?id=com.onwords.smart_things&hl=en_IN&gl=US" target="_blank">
                <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fplay.webp?alt=media&token=f74468b9-012f-4842-9df3-edf94121667e" class="img-fluid">
              </a>
              <a href="https://apps.apple.com/in/app/onwords-smart-things/id6449142647" target="_blank"><img
                      src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fapple.webp?alt=media&token=ed330e85-cc5f-434e-958b-be088af30ae6" alt="apple storw" class="img-fluid"></a>
            </div>
          </div>
        </div>
      </div>
      <hr class="text-white">
      <div class="bootom-footer">
        <div>
          <p class="pointer"><span>©2024
              Onwords. All Rights Reserved </span><span onclick="location.href='/disclaimer'">| Privacy Policy</span> | <span
                  onclick="location.href='/privacyPolicy'">Terms of Use</span> </p>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/general.js"></script>
</body>
</html>