{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <title>About us</title>
</head>

<body>

    <header class="hero" style="transform: scale(1);">
        <div class="hero__top">
            <div class="filler filler-white"></div>
            <div class="hero__illustration">
                <div class="filler filler-white"></div>
                <div class="hero-icon"></div>
                <div class="filler filler-white"></div>
            </div>
            <div class="filler filler-white"></div>
        </div>
        <div class="hero__bottom">
            <h1>The future is here.</h1>
        </div>
    </header>

    <div class="trailer">
        <div class="video-wrapper">
            <div class="video"></div>
        </div>
    </div>

    <main class="content">
        <section class="section">
            <h2>Really</h2>
        </section>
        <section class="section">
            <h2>sweet</h2>
        </section>
        <section class="section">
            <h2>scroll</h2>
        </section>
        <section class="section">
            <h2>effect.</h2>
            <p>Inspired by Framer's homepage.</p>
        </section>
    </main>
    <script>
        const hero = document.querySelector('.hero');
        const heroTitle = hero.querySelector('h1');

        // Y value at which trailer switches to absolute positioning and scrolls up
        const threshold = window.innerHeight;

        window.addEventListener('scroll', function () {
            // scale up hero section until scale is 20x
            // and fade out hero title
            let scale = 1 + window.scrollY / 25;
            let opacity = 100 - (window.scrollY * 1.5);
            if (scale < 20) {
                hero.style.transform = `scale(${scale})`;
                heroTitle.style.opacity = opacity * .01;
            }

            // toggle threshold class at threshold value
            window.scrollY > threshold ?
                document.body.classList.add('past-threshold') :
                document.body.classList.remove('past-threshold');
        });
    </script>
</body>

</html>