{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrier.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/security-system.css'  %}">
    <link rel="stylesheet" href="{% static 'css/general.css'  %}">
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}">
    <title>Onwords</title>
</head>

<body id="bodyTag">
    <!-- navbar start -->
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'images/logos.png' %}" alt="logo"
                        class="img-fluid logo"></a>
                <!-- <div class="darkmodeMob">
                    <img src="{% static 'images/sun-wh.svg' %}" alt="" id="daybright" onclick="dayMode()">
                    <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid" id="moon"
                        onclick="nightMode()">
                </div> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                                <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                                <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                                <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                                <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">Our App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>

                    <form class="d-flex">
                        <div class="module-border-wrap">
                            <div class="module">
                                Get Started
                            </div>
                        </div>
                    </form>
                </div>
                <div class="darkmode" id="darkbutton">
                    <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sun">
                    <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid night">
                </div>
            </div>
        </nav>
    </header>
    <!-- navbar end -->
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="whatsapp:contact=0123456789@s.whatsapp.com&message='' ">
                <img src="{% static 'images/whatsapp-ico.svg' %}" alt="whatsapp">
            </a>
        </button>
    </div>
    </div>
    <div class="wrapper">
        <section class="sec-first">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="carrier-img">
                                <div class="carrier-para">
                                    <h2 class="text-center">Work With Us</h2>
                                    <h6>Nothing is possible without our people</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <h6 class="join-head">Join The Team</h6>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-frmt">

                                <input type="text" id="fname" name="fname" placeholder="Name"><br>
                                <!-- <label for="email">E-mail</label><br> -->
                                <input type="text" name="E-mail" placeholder="E-mail"><br>
                                <!-- <label for="text">Mobile Number</label><br> -->
                                <input type="number" name="number" placeholder="Number">
                            </div>
                            <!-- <div class="module  form-btnzx ">
                                Get Started
                            </div> -->
                            <div class="btn-brd">
                                <div class="module-border-wrap form-btnzx text-center">
                                    <div class="module">
                                        Get Started
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="col-md-3"></div>

                </div>
            </div>

        </section>

        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <img src="{% static 'images/logos.png' %}" alt="" class="img-fluid sdf">
                        <p>Onwords Smart Solutions <br>
                            RR Garden, Zamin Muthur, <br>
                            Pollachi,
                            Coimbatore, IN - 642 005 <br>
                        <div class="fgh">
                            <span><a href="tel:7708630275" class="footer-list"><i class="fa-solid fa-phone"></i> 77086
                                    30275</a></span>
                            <br><br>
                            <span><a href="mailto:cs@onwords.in" class="footer-list"><i
                                        class="fa-solid fa-envelope"></i>cs@onwords.in</a></span>
                        </div>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-2">

                        <ul class="listx">
                            <h5>Quick Links</h5>
                            <li><a href="/" class="footer-list">Home</a></li>
                            <li><a href="/ourservices" class="footer-list">Our Services</a></li>
                            <li><a href="" class="footer-list">Security System</a></li>
                            <li><a href="" class="footer-list">Our App</a></li>
                            <li><a href="" class="footer-list">About Us</a></li>
                            <li><a href="" class="footer-list">Contact</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="listx">
                            <h5>Our Services</h5>
                            <li><a href="" class="footer-list">Smart Home</a></li>
                            <li><a href="" class="footer-list">Web /App Devlopment</a></li>
                            <li><a href="" class="footer-list">Digital Marketing</a></li>
                            <li><a href="" class="footer-list">UI & UX Designing</a></li>
                            <li><a href="" class="footer-list">Graphic Designing</a></li>
                            <li><a href="" class="footer-list">Construction</a></li>
                        </ul>

                    </div>

                    <div class="col-sm-12 col-md-4">
                        <h5>Subscribe Us</h5>
                        <input type="email" name="" id="" class="mails" placeholder="Enter Your Email"><br>
                        <button type="submit" class="sub">Subscribe</button>
                        <div class="row my-4">
                            <div class="col df">
                                <a href="https://www.youtube.com/@OnwordsSmartSolutions" target="_blank"><img
                                        src="{% static 'images/youtube.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://www.facebook.com/teamonwords" target="_blank">
                                    <img src="{% static 'images/facebook.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://www.instagram.com/team.onwords/
                               " target="_blank">
                                    <img src="{% static 'images/instagram.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="" target="_blank">
                                    <img src="{% static 'images/linkedin.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://twitter.com/TeamOnwords
                              " target="_blank">
                                    <img src="{% static 'images/twitter.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="jg">
                                <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                    <img src="{% static 'images/play.png' %}" alt="df" class="img-fluid">
                                </a>
                                <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                        src="{% static 'images/apple.png' %}" alt="" class="img-fluid"></a>

                            </div>
                        </div>
                    </div>
                    <hr class="text-white">
                    <span class="text-center" style="text-align: center;"> © Copyright ©2023
                        Onwords. All Rights Reserved | Privacy Policy</span>
                </div>

            </div>
        </section>
    </div>


    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <script src="{%static 'js/general.js'%}"></script>



</body>

</html>