{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/construction.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}?{% now 'U' %}">

    <!-- <link rel="stylesheet" href="{% static 'css/demo.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/general.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" href="{% static 'main-webp/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{% now 'U' %}">
    <!-- bs-4 -->
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}?{% now 'U' %}">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


    <!-- cdn link -->
    <title>Onwords</title>
</head>

<body id="bodyTag">
    <div id="preloader"></div>
    <div class="wrapper">
        <!-- navbar start -->
        <header>
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="{% static 'main-webp/onwords-logo.svg' %}" alt="logo"
                            class="img-fluid logo"></a>
                    <div class="darkmodemob" id="darkbuttonmob">
                        <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun toggle" class="img-fluid sunmob">
                        <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid nightmob">
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><span class="text-white onnav"><i
                                    class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Our Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                    <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                    <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/securitySystem">Security System</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ourApp">Our App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>

                    </div>
                    <div class="darkmode" id="darkbutton">
                        <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun Toggle" class="img-fluid sun">
                        <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid night">
                    </div>
                </div>
            </nav>
        </header>
        <!-- navbar end -->
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img src="{% static 'main-webp/whatsapp-ico.webp' %}" alt="whatsapp">
                </a>
            </button>
        </div>
        <div class="construction-img"> </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-title">
                        <h2 class="my-5">Why Onwords is best choice <br>for Luxury home builder?</h2>
                        <p class="reveal fade-l" data-wow-delay="0.1s">Onwords Construction Build Firm, is the smart home builders offers a wide
                            range of services
                            that are<br>
                            tailored perfectly to meet the needs of luxury home builders. From designing and
                            constructing your dream<br>
                            home to delivering it on time and within budgets everything you need to build a that you can
                            be proud
                            of.<br> Not only is this a premiere luxury home builder,</p>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-const">
                            <h2>Benefits of a smart<br> home Construction</h2>
                            <p>There are several benefits to installing a smart home system in your new smart home
                                construction. Perhaps the most obvious benefit is the convenience and peace of mind that
                                comes with automating your home’s systems. With a smart home, you can control your
                                lights, locks, thermostat and security system from anywhere in the world with an
                                internet connection. This allows you to manage your energy usage, keep your home secure
                                and never come home to a dark house again.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img data-src="{%static 'main-webp/m-1.svg' %}" alt="construction"
                                class="img-fluid lazy-load f-consc-img rounded">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <img data-src="{%static 'main-webp/m-2.svg' %}" alt="construction"
                                class="img-fluid lazy-load sec-consc-img rounded">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-const">
                            <h2>How to get started with smart home construction?</h2>
                            <p>There are several benefits to installing a smart home system in your new smart home
                                construction. Perhaps the most obvious benefit is the convenience and peace of mind that
                                comes with automating your home’s systems. With a smart home, you can control your
                                lights, locks, thermostat and security system from anywhere in the world with an
                                internet connection. This allows you to manage your energy usage, keep your home secure
                                and never come home to a dark house again.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <center>
                    <h2 class="consc-banner-title">
                        Elevate Your Lifestyle with Onwords Civil Construction
                    </h2>
                    <p>Where Innovation Transforms Infrastructure</p>
                </center>
            </div>

        </section>
        <section class="consc-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-4">
                        <div class="consc-banner-top-bg">
                            <h3>“Unveiling Our Expertise”</h3>
                            <p>Step into a realm where cutting-edge technology merges seamlessly with the art of
                                construction – welcome to Onwords Civil Construction. With a legacy of excellence in
                                IoT-based smart home solutions, automation, and security systems, we've transcended
                                boundaries to weave intelligence, aesthetics, security, and the benefits of a smart
                                lifestyle into the fabric of our construction services.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

        </section>

        <section>
            <div class="container slid">
                <div class="slider">
                    <div class="controls">
                        <div class="up">
                            <i class="fa fa-chevron-up"></i>
                        </div>
                        <div class="down">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>

                    <div class="wrapper">
                        <div class="left">
                            <div>
                                <h2>Intelligent Design</h2>
                                <p>
                                    Our architects and engineers collaborate to infuse your projects with innovative
                                    design elements. From maximizing natural light to integrating future-ready
                                    technology, every detail is meticulously crafted to harmonize functionality and
                                    aesthetics
                                </p>
                            </div>

                            <div>
                                <h2>Efficiency Elevated</h2>
                                <p>
                                    Through automation, we streamline construction processes, ensuring projects are
                                    completed on time. Our meticulous planning and advanced technology mitigate
                                    inefficiencies, delivering on-time project completion that respects your timelines.
                                </p>
                            </div>

                            <div>
                                <h2> Client Requirements</h2>
                                <p>
                                    At the heart of our approach lies a commitment to understand your vision. We engage
                                    in in-depth discussions to grasp your aspirations, needs, and preferences, ensuring
                                    that every project embodies your unique personality.

                                </p>
                            </div>

                            <div>
                                <h2>Dedicated Expert Team</h2>
                                <p>
                                    Our team of experts, with years of experience, guides your project from conception
                                    to reality. Their dedication ensures that the finest details are brought to life,
                                    creating spaces that reflect your dreams.

                                </p>
                            </div>

                            <div>
                                <h2>Safety at the Core</h2>
                                <p>
                                    Our integrated security systems extend beyond the construction phase. Real-time
                                    monitoring, predictive analysis, and advanced access control measures create an
                                    environment that's secure, allowing you to focus on what truly matters.
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div>
                                <img src="{% static 'main-webp/cur-5.webp' %}" alt="inteligent" class="" />
                            </div>
                            <div>
                                <img src="{% static 'main-webp/cur-4.webp' %}" alt="inteligent" class="" />
                            </div>
                            <div>
                                <img src="{% static 'main-webp/cur-3.webp' %}" alt="inteligent" class="" />
                            </div>
                            <div>
                                <img src="{% static 'main-webp/cur-2.webp' %}" alt="inteligent" class="" />
                            </div>
                            <div>
                                <img src="{% static 'main-webp/cur-1.webp' %}" alt="inteligent" class="" />
                            </div>








                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <center>
                    <h2 class="my-4">Making Living Home spaces Smart
                        and Affordable</h2>
                </center>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="box-pop-construc">
                            <img src="{% static 'main-webp/construc.png' %}" alt="construc"
                                class=" construc-pop img-fluid rounded">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="cons-p-text">
                            Experience reduced energy consumption through smart lighting, climate control, and automated
                            systems that adapt to your preferences, leading to a greener, more sustainable lifestyle.
                        </p>
                    </div>
                </div>
            </div>

        </section>
        <section class="construc-demo">
            <div class="demo-cons">
                <div class="container">
                    <div class="center-construc">
                        <h2>Embark on a journey with Onwords Civil <br> Construction,</h2>
                       <center>
                        <div class="go cons-book">
                            <button class="gradient-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Book a Free Demo
                            </button>
                        </div>
                       </center>
                    </div>
                </div>
            </div>
           
        </section>
        <div id="image-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive" src="" alt=" Modal Header">
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content login-reg ">
                    <div class="modal-body ">
                        <div type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></div>
                        <center>
                            <h2>Book A Free Demo</h2>
                            <p>Onwords smart solutions helps unlock the Amazing spaces to create
                                durable and innovative
                                experience </p>
                            <form action="" class="quot-form">
                                <div class="form-row">
                                    <input type="text" required="required" />
                                    <span>Name</span>
                                </div>
                                <div class="form-row">
                                    <input type="number" required="required" />
                                    <span>Mobile Number</span>
                                </div>
                                <div class="form-row">
                                    <input type="text" required="required" />
                                    <span>Location</span>
                                </div>
                                <div class="form-row">
                                    <input type="text" required="required" />
                                    <span>Message</span>
                                </div>
                                <button type="submit" class="s-btn ">
                                    <div class="go">
                                        <div class="gradient-button">
                                            Get a Free Demo
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="company-list-1">
                        <h5>Company</h5>
                        <li>
                            <p onclick="location.href='/aboutus'">About Us</p>
                        </li>
                        <li>
                            <p onclick="location.href='/contact'">Contact Us</p>
                        </li>
                        <li>
                            <p onclick="location.href='/ourApp'">Our App</p>
                        </li>
                        <li>
                            <p onclick="location.href='/gallery'">Gallery</p>
                        </li>
                        <li>
                            <p onclick="location.href='/carrier'">Career</p>
                        </li>

                    </ul>

                </div>
                <div class="col-md-2">
                    <ul class="our-services-foot">
                        <h5>Our Services</h5>
                        <li>
                            <p onclick="location.href='/ourservices'">Smart Home</p>
                        </li>
                        <li>
                            <p onclick="location.href='/gateautomation'">Gate Automation</p>
                        </li>
                        <li>
                            <p onclick="location.href='/securitySystem'">Security System</p>
                        </li>
                        <li>
                            <p onclick="location.href='/curtain'">Smart Curtain</p>
                        </li>
                        <li>
                            <p onclick="location.href='/construction'"> Constructions</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="quick-links-foot">
                        <h5>Quick Links</h5>
                        <li>
                            <p onclick="location.href='/'"> Home</p>
                        </li>
                        <li>
                            <p onclick="location.href='/ourservices'">Our Services</p>
                        </li>
                        <li>
                            <p onclick="location.href='/securitySystem'">Security System</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <div class=" onwords-details-foot">
                        <h5>Connect With Us</h5>
                        <div class="footer-foot icon">
                            <p onclick="location.href='//www.linkedin.com/company/onwords-smart-solution/'"><i
                                    class="fa-brands fa-linkedin"></i></p>
                            <p onclick="location.href='//www.instagram.com/team.onwords/'" target=" _blank">
                                <i class="fa-brands fa-instagram"></i>
                            </p>
                            <p onclick="location.href='//www.facebook.com/teamonwords/'
                                " target="_blank"><i class="fa-brands fa-facebook"></i>
                            </p>
                            <p onclick="location.href='//www.youtube.com/@OnwordsSmartSolutions/'" target=" _blank"
                               ><i class="fa-brands fa-square-youtube"></i></p>
                        </div>

                        <div class="footer-foot">

                        </div>
                        <br>
                        <div>
                            <p>Onwords Smart Solutions
                                Coimbatore, IN - 642 005</p>
                            <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                    class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                            <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                    class="fa-solid fa-phone"></i> 77086
                                30275</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-app-foot onwords-details-foot ">
                        <h5>Our Apps</h5>
                        <div class="app-google-store">
                            <a href="https://play.google.com/store/apps/details?id=com.onwords.smart_things&hl=en_IN&gl=US">
                              <img src="{% static 'main-webp/play.webp' %}" alt="play store" class="img-fluid">
                            </a>
                            <a href="https://apps.apple.com/in/app/onwords-smart-things/id6449142647"><img
                                src="{% static 'main-webp/apple.webp' %}" alt="apple storw" class="img-fluid"></a>
                          </div>

                    </div>
                </div>
            </div>
            <hr class="text-white">
            <div class="bootom-footer">
                <div>
                    <p class="pointer">©2023
                        Onwords. All Rights Reserved |<span onclick="location.href='/disclaimer'">Privacy Policy</span> | <span onclick="location.href='/privacyPolicy'">Terms of Use</span> </p>
                </div>
                <div>
                   
                </div>
            </div>
    </section>

    <!-- Preloader -->


    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/general.js' %}"></script>
    <!-- <script src="{% static 'js/demo.js' %}"></script> -->
    <!-- carousel slider end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        let slider = document.querySelector(".slider");

        let currentSlide = 0;
        let totalSlides = slider.querySelectorAll(".wrapper .left > div").length - 1;

        slider.querySelector(".controls .up").addEventListener("click", function () {
            if (currentSlide == 0) {
                return;
            }
            currentSlide--;
            slider.querySelector(".wrapper .left div").style.marginTop = `${currentSlide * -100
                }vh`;
            slider.querySelector(".wrapper .right div").style.marginTop = `${(totalSlides - currentSlide) * -100
                }vh`;
        });

        slider.querySelector(".controls .down").addEventListener("click", function () {
            if (currentSlide == totalSlides) {
                return;
            }
            currentSlide++;
            slider.querySelector(".wrapper .left div").style.marginTop = `${currentSlide * -100
                }vh`;
            slider.querySelector(".wrapper .right div").style.marginTop = `${(totalSlides - currentSlide) * -100
                }vh`;
        });

    </script>
</body>

</html>