{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/demo.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- bs-4 -->
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}">
    <!-- bootstrap css -->




    <!-- cdn link -->
    <title>Onwords</title>
</head>

<body id="bodyTag">
    <div class="wrapper">
        <!-- navbar start -->

        <header>
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="{% static 'images/logos.png' %}" alt="logo"
                            class="img-fluid logo"></a>
                    <div class="darkmodemob" id="darkbuttonmob">
                        <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sunmob">
                        <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid nightmob">
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><span class="text-white onnav"><i
                                    class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Our Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                    <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                    <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                                    <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                                    <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                                    <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                                    <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                                    <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                    <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/securitySystem">Security System</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ourApp">Our App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>

                    </div>
                    <div class="darkmode" id="darkbutton">
                        <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sun">
                        <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid night">
                    </div>
                </div>
            </nav>
        </header>
        <!-- navbar end -->
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img src="{% static 'images/whatsapp-ico.svg' %}" alt="whatsapp">
                </a>
            </button>
        </div>
        <div class="curtain-home"></div>
        <section class="fg">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-10 text-center">
                        <div class="sec-title reveal fade-left" data-wow-delay="0.1s">
                            <h2>Advantage of making smart Curtain</h2>
                        </div>
                        <p>
                            Smart curtains are automated window coverings that can be opened, closed, and adjusted via
                            remote control or integrated with home automation systems. They can help save energy by
                            managing the amount of sunlight that enters your home while also improving your home
                            security.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>

            </div>
        </section>
        <section class="blursd">
            <div class="container">
                <div class="row my-4">
                    <div class="col-md-6">
                        <h2>Smart home at your command</h2>
                        <p>
                            People who are physically challenged and handicapped can also operate the curtains
                            effortlessly. The onwords Curtain Controller integrated device could also be operated using
                            the Voice-control assistants like Alexa and Siri.
                        </p>
                        <div class="curtain-work">
                            <div class="d-sds curtain-texs  reveal fade-left" data-wow-delay="0.1s">
                                <span><img src="{% static 'images/g-logo.png' %}" alt="" class="img-fluid"></span><span
                                    class="tex curtain-tex">Google</span>
                            </div>
                            <div class="d-sds curtain-texs">
                                <span><img src="{% static 'images/alexa-logo.png' %}" alt=""
                                        class="img-fluid"></span><span class="tex curtain-tex">Alexa</span>
                            </div>
                            <div class="d-sds curtain-texs reveal fade-right" data-wow-delay="0.1s">
                                <span><img src="{% static 'images/siri-logo.png' %}" alt="5t"
                                        class="img-fluid"></span><span class="tex curtain-tex">Siri</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="col-banner curtain-command">
                            <img src="{% static 'images/yourcommand.png' %}" alt="sh" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="center-head">
                <h2 class="text-center">“Hey Google, Close the curtain in the living room”
                </h2>
            </div>
        </div>
        <section class="img-handphone reveal fade-bottom" data-wow-delay="0.1s">
            <div class="container">
                <div class="row my-4">
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12"></div> -->
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <h2>Control From Anywhere</h2>
                        <p>
                            Access your smart home from anywhere in the world. Create unique scenes, define your
                            ambience, schedules your routines, control all devices and elevate your living experience
                            with the Onwords smart things app.
                        </p>
                        <div class="curtain-work text-center">
                            <div class="d-sds curtain-texs  reveal fade-left" data-wow-delay="0.1s">
                                <span><img src="{% static 'images/g-logo.png' %}" alt="" class="img-fluid"></span><span
                                    class="tex curtain-tex">Google</span>
                            </div>
                            <div class="d-sds curtain-texs">
                                <span><img src="{% static 'images/alexa-logo.png' %}" alt=""
                                        class="img-fluid"></span><span class="tex curtain-tex">Alexa</span>
                            </div>
                            <div class="d-sds curtain-texs reveal fade-right" data-wow-delay="0.1s">
                                <span><img src="{% static 'images/siri-logo.png' %}" alt="5t"
                                        class="img-fluid"></span><span class="tex curtain-tex">Siri</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <section class="blursd">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left reveal fade-left" data-wow-delay="0.1s">
                            <h2>Soft Touch Start</h2>
                        </div>
                        <p>
                            Pull the curtain down gently, smart curtain motor will be activated
                            to work, and support manually control when power off
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <img src="{% static 'images/softtouch.png' %}" alt="softtocuh" class="img-fluid hgf">
                    </div>
                </div>
            </div>

        </section>
        <section class="blursdleft">
            <div class="container">
                <div class="row">

                    <div class="col-md-5">
                        <img src="{% static 'images/schedule.png' %}" alt="softtocuh" class="img-fluid hgf">
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div class="text-left reveal fade-left" data-wow-delay="0.1s">
                            <h2>Set Schedules</h2>
                        </div>
                        <p>
                            Start your day feeling refreshed and ready to tackle anything with the subtle automation of
                            our smart curtains. Program them to gently wake you up each morning, so you can begin your
                            day feeling invigorated and ready for anything.
                        </p>
                    </div>
                </div>
            </div>

        </section>
        <div class="container">
            <div class="center-head">
                <h2 class="">“OK Google, turn off the curtain in the living room”

                </h2>
            </div>
        </div>


    </div>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <img src="{% static 'images/logos.png' %}" alt="" class="img-fluid sdf">
                    <p>Onwords Smart Solutions <br>
                        RR Garden, Zamin Muthur, <br>
                        Pollachi,
                        Coimbatore, IN - 642 005 <br>
                    <div class="fgh">
                        <span>
                            <a href="tel:7708630275" class="footer-list"><i class="fa-solid fa-phone"></i> 77086
                            30275</a>
                        </span>
                        <br><br>
                        <span><a href="mailto:cs@onwords.in" class="footer-list"><i
                                    class="fa-solid fa-envelope"></i>cs@onwords.in</a></span>
                    </div>
                    </p>
                </div>
                <div class="col-sm-6 col-md-2">
                    <ul class="listx">
                        <h5>Quick Links</h5>
                        <li><a href="/" class="footer-list">Home</a></li>
                        <li><a href="/ourservices" class="footer-list">Our Services</a></li>
                        <li><a href="/Security System" class="footer-list">Security System</a></li>
                        <li><a href="/Our App" class="footer-list">Our App</a></li>
                        <li><a href="/aboutus" class="footer-list">About Us</a></li>
                        <li><a href="/Contact" class="footer-list">Contact</a></li>

                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <ul class="listx">
                        <h5>Our Services</h5>
                        <li><a href="" class="footer-list">Smart Home</a></li>
                        <li><a href="" class="footer-list">Web /App Devlopment</a></li>
                        <li><a href="" class="footer-list">Digital Marketing</a></li>
                        <li><a href="" class="footer-list">UI & UX Designing</a></li>
                        <li><a href="" class="footer-list">Graphic Designing</a></li>
                        <li><a href="" class="footer-list">Construction</a></li>
                    </ul>

                </div>

                <div class="col-sm-12 col-md-4">
                    <h5>Subscribe Us</h5>
                    <input type="email" name="" id="" class="mails" placeholder="Enter Your Email"><br>
                    <button type="submit" class="sub">Subscribe</button>
                    <div class="row my-4">
                        <div class="col df">
                            <a href="https://www.youtube.com/@OnwordsSmartSolutions" target="_blank"><img
                                    src="{% static 'images/youtube.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col df">
                            <a href="https://www.facebook.com/teamonwords" target="_blank">
                                <img src="{% static 'images/facebook.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col df">
                            <a href="https://www.instagram.com/team.onwords/
                           " target="_blank">
                                <img src="{% static 'images/instagram.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col df">
                            <a href="" target="_blank">
                                <img src="{% static 'images/linkedin.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col df">
                            <a href="https://twitter.com/TeamOnwords
                          " target="_blank">
                                <img src="{% static 'images/twitter.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="jg">
                            <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                <img src="{% static 'images/play.png' %}" alt="df" class="img-fluid">
                            </a>
                            <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                    src="{% static 'images/apple.png' %}" alt="" class="img-fluid"></a>

                        </div>
                    </div>
                </div>
                <hr class="text-white">
                <span class="text-center" style="text-align: center;"> © Copyright ©2023
                    Onwords. All Rights Reserved | Privacy Policy</span>
            </div>

        </div>
    </section>


    <!-- Preloader -->


    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/general.js' %}"></script>
    <!-- <script src="{% static 'js/demo.js' %}"></script> -->
    <!-- carousel slider end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>


</body>

</html>