<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <meta name="keyword" content="Voice controlled home,Smart home voice control,Voice assisted home automation,Voice and mobile home control, alexa, smart home, automatic gate, smartlock, fingerprint lock, coimbatore, pollachi, smart curtain, automatic curtain">
    <meta name="description"
        content="Transform your home ambiance with our innovative smart curtain systems. Experience effortless elegance and convenience with our automated curtains and intelligent drapery solutions, designed to integrate seamlessly into your smart home ecosystem.">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <title>Smart curtains | Home Automation | Smart Home | Gate Automation | ALEXA | GOOGLE | AJAX | Security Systems | Automation</title>
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="preloader"></div>
    
    {% include "navbar.html" %}

    <!-- navbar end -->
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwhatsapp-ico.webp?alt=media&token=44745185-f1e5-4d37-b7b5-111fb36c81af" alt="whatsapp">
            </a>
        </button>
    </div>
    <div class="curtain-home">
        <div class="video-group">
            <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fcurtain-cl.jpg?alt=media&token=db492351-15ee-4260-9954-c6be7a4834fe" alt="cutrain-close" class="img-fluid"
                id="curtainCloseImg">
            <video src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2Fcurtain-open-vid.mp4?alt=media&token=d6c5acd2-14da-4297-9f93-4f0139d807df" class="img-fluid " id="curtain-demos"></video>
            <video src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2Fclose-curtain.mp4?alt=media&token=205ea339-521b-4617-ac45-46c20a6e63dc" class="img-fluid " id="curtain-open"></video>
        </div>
        <div class="btn-grp-curtain">
            <p class="pop-btnsd">Press</p>
            <button id="opencurtainBtn" onclick="openCurtain()">Open</button>
            <button id="closecurtainBtn" class="actcurtain" onclick="closeCurtain()">Close</button>
        </div>
    </div>
    <section class="fg">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-10 ">
                    <div class="sec-title j  reveal fade-left" data-wow-delay="0.1s">
                        <h2 class="">Advantage of making smart Curtain</h2>
                    </div>
                    <p class="text-center">
                        Smart curtains are automated window coverings that can be opened, closed, and adjusted via
                        remote control or integrated with home automation systems. They can help save energy by
                        managing the amount of sunlight that enters your home while also improving your home
                        security.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <section class="blursdleft">
                <div class="container">
                    <div class="row">

                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <div class="text-left reveal fade-left" data-wow-delay="0.1s">
                                <h2 class="my-4">Set Schedules</h2>
                            </div>
                            <p>
                                Start your day feeling refreshed and ready to tackle anything with the subtle automation
                                of
                                our smart curtains. Program them to gently wake you up each morning, so you can begin
                                your
                                day feeling invigorated and ready for anything.
                            </p>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- animation -->
        <section class="top-smart-home-page">
            <div class="container">
                <div class="row smarthome-parlarx-row">
                    <div class="col-md-6">
                        <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                            <h2>Smart home at your command</h2>
                            <p>With our Smart Curtain Automation, you can open or close your curtains at your command, without having to physically reach for them. Control your curtains using voice commands or through our user-friendly mobile app
                            </p>
                            <div class="google-social">
                                <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fg-logo.webp?alt=media&token=f8ebac56-a98f-4d36-949b-ea9e8dc39558" alt="google assistant"
                                    class="img-fluid">
                                <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Falexa.webp?alt=media&token=e6d01825-0ef9-4b5b-a023-91e9f9a74d24" alt="alexa" class="img-fluid">
                                <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fsiri-logo.webp?alt=media&token=747124d6-080a-4e6a-934b-93eae8077687" alt="siri" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fsmarthome-img.webp?alt=media&token=5da89ca9-52d0-47ee-a3d6-ec1189e389e2" alt="control-curtain"
                            class="img-fluid smart-below-img sc mt-5">
                    </div>
                </div>
                <div class="row smarthome-parlarx-row">
                    <div class="col-md-6">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fcurtain-control.jpg?alt=media&token=9f127e47-10e8-48bb-a47b-11b2efea5c58" alt="curtain control"
                            class="img-fluid smart-below-img sc mt-5">
                    </div>
                    <div class="col-md-6">
                        <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                            <h2>Control From Anywhere</h2>
                            <p>Experience the freedom of control from anywhere, ensuring your home is always in tune with your lifestyle. Whether you're across the room or across the globe, your curtains are just a tap away. Elevate your space, enhance your security, and embrace the future of home living. Welcome to a world where your home is always within reach.</p>
                        </div>
                    </div>
                </div>
                <div class="row smarthome-parlarx-row">
                    <div class="col-md-6">
                        <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                            <h2>Soft Touch Start</h2>
                            <p>Smart Touch Pull feature combines the charm of manual curtain control with the
                                convenience of
                                automation. Gently pull the curtains by hand, and the intelligent sensors detect your
                                touch,
                                activating the powerful curtain motor to smoothly glide open or closed. It's a seamless
                                transition from manual to automated control, making it a joy to interact with your
                                SmartTouch Curtains.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fopen-curtain.webp?alt=media&token=2019383a-652b-463e-b2bf-de1bf47dd92a" alt="softtocuh"
                            class="img-fluid smart-below-img sc mt-5">
                    </div>
                </div>
                <div class="row smarthome-parlarx-row">
                    <div class="col-md-6">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fcurtain%20(1).jpg?alt=media&token=42b1c1ad-1119-4b43-b79c-11edb82b885b" alt="schedules"
                            class="img-fluid smart-below-img sc mt-5">
                    </div>
                    <div class="col-md-6">
                        <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                            <h2>Set Schedules</h2>
                            <p>Start your day feeling refreshed and ready to tackle anything with the subtle automation of our smart curtains. Program them to gently wake you up each morning, so you can begin your day feeling invigorated and ready for anything.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mobil-acces">
            <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fmobile-access.webp?alt=media&token=52ddfa46-eba7-4077-a818-3e401bf117a6" alt="mobile access"
                class="img-fluid mobil reveal text-left fade-lef sc" data-wow-delay="0.1s">
            <div class="container mob">
                <div class="row">
                    <div class="col-md-7">
                        <div>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="">
                            <h2>Mobile App control</h2>
                            <p>Experience the freedom of curtain control from anywhere in the world. Whether you're on vacation, at the office, or running errands, our Smart Curtain system ensures you remain in control. Monitor and adjust your curtains using the app, guaranteeing your home looks lived-in and welcoming at all times.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <center>
               <div class="sec-title">
                <h2 class="cur-sub-tex">Smart window coverings</h2>
               </div>
            </center>
            <div class="row reveal fade-opacity" data-wow-delay="0.1s">
                <div class="col-md-3">
                    <div class="cur-img-box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fone-1.png?alt=media&token=564137d0-7a78-4726-8339-39c382795a2e" alt=" honey combo curtain" class="img-fluid">
                    </div>
                    <center><p class="fs-5 my-3">Honey comb curtain</p></center>
                </div>
                <div class="col-md-3">
                    <div class="cur-img-box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ftwo-2.png?alt=media&token=f0abe5c5-4689-4b0d-99fe-e2c73faf92d2" alt=" roller curtain" class="img-fluid">
                    </div>
                    <center><p class="fs-5 my-3">Roller curtain</p></center>
                </div>
                <div class="col-md-3">
                    <div class="cur-img-box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fthree-3.png?alt=media&token=28e0e280-ab87-494f-91df-48dc64419454" alt=" venetian curtain" class="img-fluid">
                    </div>
                    <center><p class="fs-5 my-3">Venetian curtain</p></center>
                </div>
                <div class="col-md-3">
                    <div class="cur-img-box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffour-4.png?alt=media&token=9f3a23ae-bd91-4542-9218-214310a0a4ba" alt=" doubleroller curtain" class="img-fluid">
                    </div>
                    <center><p class="fs-5 my-3">DoubleRoller curtain</p></center>
                </div>
              
            </div>
        </div>
        {% include "footer.html" %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/general.js"></script>
        <script src="../static/js/demo.js"></script>
    </section>
    </body>
</html>