<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!-- bs-4 -->
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <title>Disclaimer - Home Automation | Smart Home | Gate Automation | ALEXA | GOOGLE | AJAX | Security Systems | Automation</title>
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- navbar start -->
    {% include "navbar.html" %}

    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwhatsapp-ico.webp?alt=media&token=44745185-f1e5-4d37-b7b5-111fb36c81af" alt="whatsapp">
            </a>
        </button>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="top-terms">
                <div class="privacy-title">
                    <h2 class="privacy-h2">Disclaimer</h2>
                    <p class="privacy-font fs-5">Legal Information & Notices</p>
                </div>
            </div>
            <section class="privacy-p">
                <h6>Disclaimer</h6>
                <span class="privacy-font">Last updated: Sep 23, 2023</span><br><br>

                <h6>Introduction</h6>
                <p class="privacy-font">  
                    Welcome to Onwords Smart Solutions. This Privacy Policy governs your use of our mobile application and website, collectively referred to as the Service.
                </p>
                <h6>Information We Collect</h6>
                <p class="privacy-font" ><span class="sub-head-privacy">Personal Information:</span> <br>
                    We collect personal information such as your name, email address, and phone number when you register for an account.
                </p>
                <p class="privacy-font"><span class="sub-head-privacy">Device Information:</span> <br>
                    We collect information about the device you use to access our Service, including the hardware model and operating system.
                </p>
                <p class="privacy-font"><span class="sub-head-privacy">Usage Data:</span> <br>
                    We collect data on how you interact with our Service, including pages visited and features used.
                </p>

                <h6>How We Use Your Information</h6>
                <p class="privacy-font"><span class="sub-head-privacy">To Provide the Service:</span> <br>
                    We use your information to provide and improve our Service.
                </p>
                <p class="privacy-font"><span class="sub-head-privacy">For Marketing:</span> <br>
                    We may use your information to send you promotional messages and newsletters.
                </p>
                <p class="privacy-font"><span class="sub-head-privacy">For Analytics:</span> <br>
                    We use analytics tools to improve the user experience.
                </p>

                <h6>
                    Third-Party Services
                </h6>
                <p class="privacy-font">
                    We may share your information with third-party services for analytics, advertising, and other operational purposes. We ensure that these third parties comply with data protection laws. 
                </p>

                <h6>Data Security</h6>
                <p class="privacy-font">
                    We implement robust security measures to protect your data. However, no method of transmission or storage is 100% secure.
                </p>

                <h6>User Rights</h6>
                <p class="privacy-font">
                    You have the right to access, correct, or delete your personal data at any time.
                </p>

                <h6>Changes to This Policy</h6>

                <p class="privacy-font">
                    We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
                </p>
                <h6>Contact Us</h6>
                <p class="privacy-font"> For any questions about this Privacy Policy, you can contact us at 
                     <a href="mailto:cs@onwords.in">cs@onwords.in</a>
                </p>
            </section>
        </div>
        {% include "footer.html" %}

    </div>
    <script src="../static/js/general.js"></script>
    <script src="../static/js/hero.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"></script>
</body>
</html>