{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}?{% now 'U' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/security-system.css'  %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/general.css'  %}?{% now 'U' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}?{% now 'U' %}">

    <!-- bs-4 -->
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}?{% now 'U' %}">

    <title>Onwords</title>
</head>

<body id="bodyTag">
    <!-- navbar start -->
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'images/logos.png' %}" alt="logo"
                        class="img-fluid logo"></a>
                        <div class="darkmodemob" id="darkbuttonmob">
                            <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sunmob">
                            <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid nightmob">
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><span class="text-white onnav"><i
                                    class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                                <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                                <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                                <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                                <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">Our App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>

                    
                </div>
                <div class="darkmode" id="darkbutton">
                    <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sun">
                    <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid night">
                </div>
            </div>
        </nav>
    </header>
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img src="{% static 'images/whatsapp-ico.svg' %}" alt="whatsapp">
            </a>
        </button>
    </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="top-terms">
                <div class="privacy-title">
                    <h2>Disclaimer</h2>
                    <p>Legal Information & Notices</p>
                </div>
            </div>
            <section class="privacy-p">
                <h6>Disclaimer</h6>
                <span>Last updated: June 11, 2021</span><br><br>

                <h6>Interpretation and Definitions</h6>
                <p>Interpretation <br>
                    The words of which the initial letter is capitalized have meanings defined under the following
                    conditions. The following definitions shall have the same meaning regardless of whether they appear
                    in singular or in plural.
                </p>
                <h6>Definitions</h6>
                <p>For the purposes of this Disclaimer:</p>

                <ul class="privacy-list">
                    <li>
                        <p>Company (referred to as either "the Company", "We", "Us" or "Our" in this Disclaimer) refers
                            to Onwords <br>
                            Private Limited, 1/1, Zamin Muthur, Pollachi 642005.
                        </p>
                    </li>
                    <li>
                        <p>
                            Service refers to the Website.
                        </p>
                    </li>
                    <li>
                        <p>
                            You means the individual accessing the Service, or the company, or other legal entity on
                            behalf of which
                            <br>
                            Private Limited, 1/1, Zamin Muthur, Pollachi 642005.

                        </p>
                    </li>
                    <li>
                        <p>
                            Service refers to the Website.
                        </p>
                    </li>
                    <li>
                        <p>
                            You means the individual accessing the Service, or the company, or other legal entity on
                            behalf of which
                            such individual is accessing or using the Service, as applicable.
                        </p>
                    </li>
                    <li>
                        <p>
                            Website refers to Onwords Smart Solutions, accessible from https://www.onwords.in
                        </p>
                    </li>
                </ul>

                <h6>Disclaimer</h6>

                <p>
                    The information contained on the Service is for general information purposes only.
                    The Company assumes no responsibility for errors or omissions in the contents of the Service.
                    <br><br>
                    In no event shall the Company be liable for any special, direct, indirect, consequential, or
                    incidental damages or any damages whatsoever, whether in an action of contract, negligence or other
                    tort, arising out of or in connection with the use of the Service or the contents of the Service.
                    The Company reserves the right to make additions, deletions, or modifications to the contents on the
                    Service at any time without prior notice. The Company does not warrant that the Service is free of
                    viruses or other harmful components.

                </p>



                <h6>
                    External Links Disclaimer
                </h6>
                <p>
                    The Service may contain links to external websites that are not provided or maintained by or in any
                    way affiliated with the Company. <br><br>
                    Please note that the Company does not guarantee the accuracy, relevance, timeliness, or completeness
                    of any information on these external websites.
                </p>

                <h6>Errors and Omissions Disclaimer</h6>
                <p>
                    The information given by the Service is for general guidance on matters of interest only. Even if
                    the Company takes every precaution to insure that the content of the Service is both current and
                    accurate, errors can occur. Plus, given the changing nature of laws, rules and regulations, there
                    may be delays, omissions or inaccuracies in the information contained on the Service. <br>
                    The Company is not responsible for any errors or omissions, or for the results obtained from the use
                    of this information.
                </p>

                <h6>Fair Use Disclaimer</h6>
                <p>
                    The Company may use copyrighted material which has not always been specifically authorized by the
                    copyright owner. The Company is making such material available for criticism, comment, news
                    reporting, teaching, scholarship, or research. <br><br>

                    The Company believes this constitutes a "fair use" of any such copyrighted material as provided for
                    in section 107 of the United States Copyright law. <br><br>
                    If You wish to use copyrighted material from the Service for your own purposes that go beyond fair
                    use, You must obtain permission from the copyright owner.
                </p>

                <h6>Views Expressed Disclaimer</h6>

                <p>
                    The Service may contain views and opinions which are those of the authors and do not necessarily
                    reflect the official policy or position of any other author, agency, organization, employer or
                    company, including the Company.<br><br>

                    Comments published by users are their sole responsibility and the users will take full
                    responsibility, liability and blame for any libel or litigation that results from something written
                    in or as a direct result of something written in a comment. The Company is not liable for any
                    comment published by users and reserve the right to delete any comment for any reason whatsoever.
                </p>
                <h6>No Responsibility Disclaimer</h6>
                <p>
                    The information on the Service is provided with the understanding that the Company is not herein
                    engaged in rendering legal, accounting, tax, or other professional advice and services. As such, it
                    should not be used as a substitute for consultation with professional accounting, tax, legal or
                    other competent advisers. <br> <br>
                    In no event shall the Company or its suppliers be liable for any special, incidental, indirect, or
                    consequential damages whatsoever arising out of or in connection with your access or use or
                    inability to access or use the Service.
                    ​
                </p>
                <h6>"Use at Your Own Risk" Disclaimer</h6>
                <p>
                    All information in the Service is provided "as is", with no guarantee of completeness, accuracy,
                    timeliness or of the results obtained from the use of this information, and without warranty of any
                    kind, express or implied, including, but not limited to warranties of performance, merchantability
                    and fitness for a particular purpose. <br> <br>
                    The Company will not be liable to You or anyone else for any decision made or action taken in
                    reliance on the information given by the Service or for any consequential, special or similar
                    damages, even if advised of the possibility of such damages.

                </p>
                <h6>Contact Us</h6>
                <p>If you have any questions about this Disclaimer, You can contact Us: <br><br>
                    By email: <a href=""> reach_us@onwords.in</a>
                    ​
                </p>


            </section>
        </div>


        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="company-list-1">
                            <h5>Company</h5>
                            <li>
                                <p onclick="location.href='/aboutus'">About Us</p>
                            </li>
                            <li>
                                <p onclick="location.href='/contact'">Contact Us</p>
                            </li>
                            <li>
                                <p onclick="location.href='/ourApp'">Our App</p>
                            </li>
                            <li>
                                <p onclick="location.href='/gallery'">Gallery</p>
                            </li>
                            <li>
                                <p onclick="location.href='/carrier'">Carrers</p>
                            </li>


                        </ul>

                    </div>
                    <div class="col-md-2">
                        <ul class="our-services-foot">
                            <h5>Our Services</h5>
                            <li>
                                <p onclick="location.href='/ourservices'">Smart Home</p>
                            </li>
                            <li>
                                <p onclick="location.href='/gateautomation'">Gate Automation</p>
                            </li>
                            <li>
                                <p onclick="location.href='/securitySystem'">Security System</p>
                            </li>
                            <li>
                                <p onclick="location.href='/curtain'">Smart Curtain</p>
                            </li>
                            <li>
                                <p> Constructions</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="quick-links-foot">
                            <h5>Quick Links</h5>
                            <li>
                                <p onclick="location.href='/'"> Home</p>
                            </li>
                            <li>
                                <p onclick="location.href='/ourservices'">Our Services</p>
                            </li>
                            <li>
                                <p onclick="location.href='/securitySystem'">Security System</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <div class=" onwords-details-foot">
                            <h5>Connect With Us</h5>
                            <div class="footer-foot">
                                <a href="https://www.linkedin.com/company/onwords-smart-solution/
                            " target="_blank" class="footer-social-icon"></i><i class="fa-brands fa-linkedin"></i></a>

                                <a href="https://www.instagram.com/team.onwords/
                                " target="_blank" class="footer-social-icon"></i><i
                                        class="fa-brands fa-instagram"></i></a>
                                <a href="https://https://www.facebook.com/teamonwords/
                                " target="_blank" class="footer-social-icon"></i><i
                                        class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.youtube.com/@OnwordsSmartSolutions/
                                " target="_blank" class="footer-social-icon"></i> <i
                                        class="fa-brands fa-square-youtube"></i></i></a>
                            </div>


                            <div class="footer-foot">
                                <!-- <i class="fa-brands fa-linkedin" onclick="location.href='/'"></i>
                                <span onclick="location.href='www.instagram.com/team.onwords/'" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></span>
                                <i class="fa-brands fa-facebook"></i> -->

                            </div>
                            <br>
                            <div>
                                <p>Onwords Smart Solutions
                                    Coimbatore, IN - 642 005</p>
                                <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                        class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                                <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                        class="fa-solid fa-phone"></i> 77086
                                    30275</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="our-app-foot ">
                            <h5>Our Apps</h5>
                            <div class="app-google-store">
                                <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                    <img src="{% static 'images/play.png' %}" alt="" class="img-fluid">
                                </a>
                                <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                        src="{% static 'images/apple.png' %}" alt="" class="img-fluid"></a>
                            </div>

                        </div>
                    </div>
                </div>
                <hr class="text-white">
                <div class="bootom-footer">
                    <div>
                        <p> © Copyright ©2023
                            Onwords. All Rights Reserved | </p>
                    </div>
                    <div>
                        <ul class="footer-bottom">
                            <li>
                                <p onclick="location.href='/disclaimer'">Privacy Policy</p>
                            </li>
                            <li>
                                <p onclick="location.href='/privacyPolicy'">Terms of Use</p>
                            </li>
                            <li>
                                <p>Sales and Refunds</p>
                            </li>
                            <li>
                                <p>Legal</p>
                            </li>
                            <li>
                                <p>Site Map</p>
                            </li>
                        </ul>
                    </div>
                </div>
        </section>

    </div>


    <!-- bootstrap js -->
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>





</body>

</html>