<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/galley.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Onwords - Home Automation | Smart Home | Gate Automation | ALEXA | GOOGLE | AJAX | Security Systems | Automation</title>
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<body id="bodyTag">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- navbar start -->
    {% include "navbar.html" %}

    <!-- navbar end -->
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwhatsapp-ico.webp?alt=media&token=44745185-f1e5-4d37-b7b5-111fb36c81af" alt="whatsapp">
            </a>
        </button>
    </div>
    <div class="wrapper">
        <section>
            <div class="container mt-5">
                <div class="gallery-cols">
                    <div class=" ">
                        <div>
                            <a href="#" id="video-down-btn" class="gallerBtn act-galleryOne">
                                <span><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Four-video.webp?alt=media&token=a62ec151-0a25-4871-b501-83d349185f42" alt="Ambience"></span><span
                                    class="ambience">Videos</span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <a href="#" id="broucher-down-btn" class="gallerBtn">
                                <span> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Four-1.webp?alt=media&token=98673e77-5a44-4be5-9aa2-d5e8701ed21f" alt="gate automation"></span><span
                                    class="ambience">Brouchers</span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <a href="#" id="logo-down-btn" class="gallerBtn">
                                <span> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Four-gate.webp?alt=media&token=2be35a20-fe88-421b-98cb-51bf4afdc8ed"
                                        alt="pre request videoes"></span><span class="ambience">Logo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="videosDown">
            <div class="container">
                <div class="video-row">
                    <!-- Video 1 -->
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-2.png?alt=media&token=ae3a4acd-c048-4e67-9063-e74b3ed93777" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2FDeepan-Home-Gate-Automation.mp4?alt=media&token=0b2f85ed-9108-4e84-a710-7c6941c2e0f4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Sliding Gate</p>
                        </div>
                    </div>
        
                    <!-- Video 2 -->
                    

                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-7.png?alt=media&token=01925121-d016-4400-9e7f-6aadee652ba2" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2FRam-Doctor-Home-gate-Automation.mp4?alt=media&token=9bc130fe-2633-4c99-9ea5-529e54dcc721" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Swing Gate</p>
                        </div>
                    </div>
        
                    <!-- Video 3 -->
                    <div class="video-list">
                            <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-4.png?alt=media&token=98e70315-fbec-4f3c-9ad1-06a5230a710c" class="img-fluid vide-thumb">
                                <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2FIncrease-Property-Value-with-High-Quality-Sliding-Gate-Automation_Onwords.mp4?alt=media&token=9122850a-7cfc-4f61-93df-2c0aee977208" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <div class="desc">
                                <p>Sliding Gate</p>
                            </div>
                    </div>
        
                    <!-- Video 4 -->
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-5.png?alt=media&token=1d13d1bd-06c9-4665-9281-aa303afc81d7" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2Flakshmanan-sir-gate-automation.mp4?alt=media&token=06630333-9670-4dc2-acc8-29b27bc469d5" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Sliding Gate</p>
                        </div>
                    </div>

                    <!-- Video 5 -->
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-6.png?alt=media&token=b160c268-0531-4083-8f02-2e9612c20ee5" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2Fmohan-sir-gate-automation-landscape.mp4?alt=media&token=34685642-97bd-449c-8a66-044232dd632c" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Sliding Gate</p>
                        </div>
                    </div>

                    <!-- Video 6 -->
                    
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-3.png?alt=media&token=d02b04b3-7ff4-46c5-96f7-0aa838db80c1" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2FDiscover-the-Future-of-Home-Security%20_%20Swing-Gate-Automation-Onwords.mp4?alt=media&token=f3b60bc0-c9c5-437f-b9f7-9a8d00b67db7" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Swing Gate</p>
                        </div>
                </div>
                    <!-- Video 7 -->
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-8.png?alt=media&token=010c0a3d-ee14-44d7-8c3c-aa587113e5f4" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2Fshivesh-gate-automation-landscape.mp4?alt=media&token=4764c8a9-4d98-4d45-8ef0-294e300f3ba3" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Swing Gate</p>
                        </div>
                    </div>

                    <!-- Video 8 -->
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-9.png?alt=media&token=a2ee9073-3593-49bc-9952-172f36b29d4f" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2FSliding-Gate-With-Roller-Motor-Explanation-video.mp4?alt=media&token=72795fd6-fd5e-4851-bbd3-bc0b2eebc45a" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Sliding Gate With Roller Motor Explanation video</p>
                        </div>
                    </div>

                    <!-- Video 9 -->
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-11.png?alt=media&token=df8ffc46-ca70-493a-9ad1-b75b3b41e448" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2FThe-Future-of-Home-Security_Gate-Automation-in-Coimbatore.mp4?alt=media&token=8973f7bd-495b-48ca-8d59-9724dc8d31ba" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>The Future of Home Security Gate Automation </p>
                        </div>
                    </div>

                    <!-- Video 10 -->
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-7.png?alt=media&token=01925121-d016-4400-9e7f-6aadee652ba2" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2FUltimate-Sliding-Gate-Automation_Upgrade-Your-Home-Security_Onwords.mp4?alt=media&token=c0dbc2c7-eb8e-4fd1-bd06-3387e80980be" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Ultimate Sliding Gate Automation </p>
                        </div>
                    </div>

                    <!-- Video 11 -->
                    <div class="video-list">
                        <video controls poster="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fvid-12.png?alt=media&token=3b4921e0-4c5d-45f7-bf1d-8dffd9228e26" class="img-fluid vide-thumb">
                            <source src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/videos%2FVarun-Sir-Home-Gate-Horizontal.mp4?alt=media&token=ad8ac4fe-7fdb-4b04-b3f5-2b18764e81fc" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Swing Gate With Roller</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="BrouchersDown">
            <div class="container">
                <div class="brouchers-row">
                    <div class="brouchers-list">
                        <a href="../static/brouchers/smart-home.zip" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc-brouchers">
                                <p>Smart Home</p>
                            </div>
                        </a>
                    </div>
                    <div class="brouchers-list">
                        <a href="../static/brouchers/Ajax.zip" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc">
                                <p>AJAX</p>
                            </div>
                        </a>
                    </div>
                    <div class="brouchers-list">
                        <a href="../static/brouchers/lock.zip" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc">
                                <p>SMART LOKCKS</p>
                            </div>
                        </a>
                    </div>
                    <div class="brouchers-list">
                        <a href="../static/brouchers/gate.zip" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc">
                                <p>SMART GATE</p>
                            </div>
                        </a>
                    </div>
                    <div class="brouchers-list">
                        <a href="../static/brouchers/better-watchman-pamphlets.pdf" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc">
                                <p>BETTER WATCHMAN</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <section id="logos">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffiles-gradient.svg?alt=media&token=a9da166a-59c9-47e7-8cb6-a928715a700a" alt="download banner" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <ul class="down-ul">
                            <li class="fcre">
                                <p>
                                    <a href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/zips%2Ftext-with-logos.zip?alt=media&token=43b1b2c8-8ed4-4784-ab46-8d1cbadd241b" download
                                        class="btn-slide2">
                                        <span class="circle2"><i class="fa fa-download"></i></span>
                                        <span class="title2">Download</span>
                                        <span class="title-hover2">Click here</span>
                                    </a>
                                </p>
                                <p class="fs-3 fw-1">Onwords Text with logo</p>
                            </li>
                            <li class="fcre">
                                <p>
                                    <a href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/zips%2Ftexts.zip?alt=media&token=0ccf1165-84b7-439d-9aea-a91483abc363" download class="btn-slide2">
                                        <span class="circle2"><i class="fa fa-download"></i></span>
                                        <span class="title2">Download</span>
                                        <span class="title-hover2">Click here</span>
                                    </a>
                                </p>
                                <p class="fs-3 fw-1">Onwords Text</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {% include "footer.html" %}

    </div>
    <script src="../static/js/general.js"></script>
    <script src="../static/js/hero.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"></script>
    <script>
        // ===============down load list==========
        const videoBtn = document.getElementById('video-down-btn')
        const broucherBtn = document.getElementById('broucher-down-btn')
        const logobtn = document.getElementById('logo-down-btn')
        const videosDown = document.getElementById('videosDown')
        const broucherDown = document.getElementById('BrouchersDown')
        const logoDown = document.getElementById('logos')

        videoBtn.addEventListener('click', () => {
            videosDown.style.display = 'block'
            broucherDown.style.display = 'none'
            logoDown.style.display = 'none'
            videoBtn.classList.add('act-galleryOne')
            broucherBtn.classList.remove('act-gallery-two')
            logobtn.classList.remove('act-gallery-three')
        })
        broucherBtn.addEventListener('click', () => {
            videosDown.style.display = 'none'
            broucherDown.style.display = 'block'
            logoDown.style.display = 'none'
            videoBtn.classList.remove('act-galleryOne')
            broucherBtn.classList.add('act-gallery-two')
            logobtn.classList.remove('act-gallery-three')
        })
        logobtn.addEventListener('click', () => {
            videosDown.style.display = 'none'
            broucherDown.style.display = 'none'
            logoDown.style.display = 'block'
            videoBtn.classList.remove('act-galleryOne')
            broucherBtn.classList.remove('act-gallery-two')
            logobtn.classList.add('act-gallery-three')
        })
    </script>
</body>
</html>