<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="../static/main-webp/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/galley.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Onwords - Home Automation | Smart Home | Gate Automation | ALEXA | GOOGLE | AJAX | Security Systems | Automation</title>
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<body id="bodyTag">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- navbar start -->
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="../static/main-webp/onwords-logo.svg" alt="logo"
                        class="img-fluid logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span>
                        </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/contact-9">Water tank Automation</a></li>
                                <li><a class="dropdown-item" href="/contact-9">Web/App Devlopment</a></li>
                                <li><a class="dropdown-item" href="/construction">Construction</a></li>
                                <li><a class="dropdown-item" href="/smartlock">Purchase Smart Locks</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact-9">Contact us</a>
                        </li>
                        <li class="nav-item active-nav">
                            <a class="nav-link" href="/downloads">Videos/Brochure</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link" href="/fields">Get Quote</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- navbar end -->
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img src="../static/main-webp/whatsapp-ico.webp" alt="whatsapp">
            </a>
        </button>
    </div>
    <div class="wrapper">
        <section>
            <div class="container mt-5">
                <div class="gallery-cols">
                    <div class=" ">
                        <div>
                            <a href="#" id="video-down-btn" class="gallerBtn act-galleryOne">
                                <span><img src="../static/main-webp/our-video.webp" alt="Ambience"></span><span
                                    class="ambience">Videos</span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <a href="#" id="broucher-down-btn" class="gallerBtn">
                                <span> <img src="../static/main-webp/our-1.webp" alt="gate automation"></span><span
                                    class="ambience">Brouchers</span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <a href="#" id="logo-down-btn" class="gallerBtn">
                                <span> <img src="../static/main-webp/our-gate.webp"
                                        alt="pre request videoes"></span><span class="ambience">Logo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="videosDown">
            <div class="container">
                <div class="video-row">
                    <!-- Video 1 -->
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-2.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/Deepan-Home-Gate-Automation.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Sliding Gate</p>
                        </div>
                    </div>
        
                    <!-- Video 2 -->
                    

                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-7.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/Ram-Doctor-Home-gate-Automation.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Swing Gate</p>
                        </div>
                    </div>
        
                    <!-- Video 3 -->
                    <div class="video-list">
                            <video controls poster="../static/downloadsFiles/video/vid-4.png" class="img-fluid vide-thumb">
                                <source src="../static/downloadsFiles/video/Increase-Property-Value-with-High-Quality-Sliding-Gate-Automation_Onwords.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <div class="desc">
                                <p>Sliding Gate</p>
                            </div>
                    </div>
        
                    <!-- Video 4 -->
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-5.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/lakshmanan-sir-gate-automation.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Sliding Gate</p>
                        </div>
                    </div>

                    <!-- Video 5 -->
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-6.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/mohan-sir-gate-automation-landscape.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Sliding Gate</p>
                        </div>
                    </div>

                    <!-- Video 6 -->
                    
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-3.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/Discover-the-Future-of-Home-Security_Swing-Gate-Automation-Onwords.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Swing Gate</p>
                        </div>
                </div>
                    <!-- Video 7 -->
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-8.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/shivesh-gate-automation-landscape.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Swing Gate</p>
                        </div>
                    </div>

                    <!-- Video 8 -->
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-9.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/Sliding-Gate-With-Roller-Motor-Explanation-video.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Sliding Gate With Roller Motor Explanation video</p>
                        </div>
                    </div>

                    <!-- Video 9 -->
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-11.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/The-Future-of-Home-Security_Gate-Automation-in-Coimbatore.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>The Future of Home Security Gate Automation </p>
                        </div>
                    </div>

                    <!-- Video 10 -->
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-7.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/Ultimate-Sliding-Gate-Automation_Upgrade-Your-Home-Security_Onwords.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Ultimate Sliding Gate Automation </p>
                        </div>
                    </div>

                    <!-- Video 11 -->
                    <div class="video-list">
                        <video controls poster="../static/downloadsFiles/video/vid-12.png" class="img-fluid vide-thumb">
                            <source src="../static/downloadsFiles/video/Varun-Sir-Home-Gate-Horizontal.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="desc">
                            <p>Swing Gate With Roller</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="BrouchersDown">
            <div class="container">
                <div class="brouchers-row">
                    <div class="brouchers-list">
                        <a href="../static/brouchers/smart-home.zip" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc-brouchers">
                                <p>Smart Home</p>
                            </div>
                        </a>
                    </div>
                    <div class="brouchers-list">
                        <a href="../static/brouchers/Ajax.zip" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc">
                                <p>AJAX</p>
                            </div>
                        </a>
                    </div>
                    <div class="brouchers-list">
                        <a href="../static/brouchers/lock.zip" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc">
                                <p>SMART LOKCKS</p>
                            </div>
                        </a>
                    </div>
                    <div class="brouchers-list">
                        <a href="../static/brouchers/gate.zip" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc">
                                <p>SMART GATE</p>
                            </div>
                        </a>
                    </div>
                    <div class="brouchers-list">
                        <a href="../static/brouchers/better-watchman-pamphlets.pdf" download>
                            <img src="../static/brouchers/download-icon.png" alt="brouchers image" class="img-fluid ">
                            <div class="desc">
                                <p>BETTER WATCHMAN</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <section id="logos">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <img src="../static/main-webp/files-gradient.svg" alt="download banner" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <ul class="down-ul">
                            <li class="fcre">
                                <p>
                                    <a href="../static/downloadsFiles/text-with-logos.zip" download
                                        class="btn-slide2">
                                        <span class="circle2"><i class="fa fa-download"></i></span>
                                        <span class="title2">Download</span>
                                        <span class="title-hover2">Click here</span>
                                    </a>
                                </p>
                                <p class="fs-3 fw-1">Onwords Text with logo</p>
                            </li>
                            <li class="fcre">
                                <p>
                                    <a href="../static/downloadsFiles/texts.zip" download class="btn-slide2">
                                        <span class="circle2"><i class="fa fa-download"></i></span>
                                        <span class="title2">Download</span>
                                        <span class="title-hover2">Click here</span>
                                    </a>
                                </p>
                                <p class="fs-3 fw-1">Onwords Text</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="company-list-1">
                            <h5>Company</h5>
                            <li>
                                <p onclick="location.href='/aboutus'">About Us</p>
                            </li>
                            <li>
                                <p onclick="location.href='/contact-9'">Contact Us</p>
                            </li>
                            <li>
                                <p onclick="location.href='/ourApp'">Our App</p>
                            </li>
                            <li>
                                <p onclick="location.href='/gallery'">Gallery</p>
                            </li>
                            <li>
                                <p onclick="location.href='/careers'">Careers</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="our-services-foot">
                            <h5>Our Services</h5>
                            <li>
                                <p onclick="location.href='/ourservices'">Smart Home</p>
                            </li>
                            <li>
                                <p onclick="location.href='/gateautomation'">Gate Automation</p>
                            </li>
                            <li>
                                <p onclick="location.href='/securitySystem'">Security System</p>
                            </li>
                            <li>
                                <p onclick="location.href='/curtain'">Smart Curtain</p>
                            </li>
                            <li>
                                <p onclick="location.href='/construction'"> Constructions</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="quick-links-foot">
                            <h5>Quick Links</h5>
                            <li>
                                <p onclick="location.href='/'"> Home</p>
                            </li>
                            <li>
                                <p onclick="location.href='/ourservices'">Our Services</p>
                            </li>
                            <li>
                                <p onclick="location.href='/securitySystem'">Security System</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <div class=" onwords-details-foot">
                            <h5>Connect With Us</h5>
                            <div class="footer-foot icon">
                                <p onclick="window.open('//www.linkedin.com/company/onwords-smart-solution/')">
                                    <i class="fa-brands fa-linkedin"></i>
                                </p>
                                <p onclick="window.open('//www.instagram.com/team.onwords/')">
                                    <i class="fa-brands fa-instagram"></i>
                                </p>
                                <p onclick="window.open('//www.facebook.com/teamonwords/')">
                                    <i class="fa-brands fa-facebook"></i>
                                </p>
                                <p onclick="window.open('//www.youtube.com/@OnwordsSmartSolutions/')">
                                    <i class="fa-brands fa-square-youtube"></i>
                                </p>
                            </div>
                            
                            <br>
                            <div>
                                <p>Onwords, Coimbatore - 642 005</p>
                                <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                        class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                                <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                        class="fa-solid fa-phone"></i> 77086 30275</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="our-app-foot onwords-details-foot ">
                            <h5>Our Apps</h5>
                            <div class="app-google-store">
                                <a href="https://play.google.com/store/apps/details?id=com.onwords.smart_things&hl=en_IN&gl=US" target="_blank">
                                    <img src="../static/main-webp/play.webp" alt="play store" class="img-fluid">
                                </a>
                                <a href="https://apps.apple.com/in/app/onwords-smart-things/id6449142647" target="_blank"><img
                                        src="../static/main-webp/apple.webp" alt="apple storw" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="text-white">
                <div class="bootom-footer">
                    <div>
                        <p class="pointer"><span>©2024
                            Onwords. All Rights Reserved </span><span onclick="location.href='/disclaimer'">| Privacy Policy</span> | <span onclick="location.href='/privacyPolicy'">Terms of Use</span> </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/general.js"></script>
    <script src="../static/js/data.js"></script>
    <script src="../static/js/gallery.js"></script>
    <script>
        // ===============down load list==========
        const videoBtn = document.getElementById('video-down-btn')
        const broucherBtn = document.getElementById('broucher-down-btn')
        const logobtn = document.getElementById('logo-down-btn')
        const videosDown = document.getElementById('videosDown')
        const broucherDown = document.getElementById('BrouchersDown')
        const logoDown = document.getElementById('logos')

        videoBtn.addEventListener('click', () => {
            videosDown.style.display = 'block'
            broucherDown.style.display = 'none'
            logoDown.style.display = 'none'
            videoBtn.classList.add('act-galleryOne')
            broucherBtn.classList.remove('act-gallery-two')
            logobtn.classList.remove('act-gallery-three')
        })
        broucherBtn.addEventListener('click', () => {
            videosDown.style.display = 'none'
            broucherDown.style.display = 'block'
            logoDown.style.display = 'none'
            videoBtn.classList.remove('act-galleryOne')
            broucherBtn.classList.add('act-gallery-two')
            logobtn.classList.remove('act-gallery-three')
        })
        logobtn.addEventListener('click', () => {
            videosDown.style.display = 'none'
            broucherDown.style.display = 'none'
            logoDown.style.display = 'block'
            videoBtn.classList.remove('act-galleryOne')
            broucherBtn.classList.remove('act-gallery-two')
            logobtn.classList.add('act-gallery-three')
        })
    </script>
</body>
</html>