<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
  <!-- End Google Tag Manager -->
  <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="shortcut icon" href="../static/main-webp/favicon.ico" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/fonts/all.min.css">
  <link rel="stylesheet" href="../static/fonts/fontawesome.css">
  <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
  <title>Onwords - Home Automation | Smart Home | Gate Automation | ALEXA | GOOGLE | AJAX | Security Systems | Automation</title>
</head>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1529103170856060');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1"
       src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C79YW2LCJ1');
</script>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="preloader"></div>
  <section class="">
    <div class="container">
      <div class="">
        <div class="privacy-title team-onwords-title">
          <h2>FAQS</h2>
        </div>
      </div>
      <div class="faq-container ">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h6> 1.How to trust your brand or company ?</h6>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Visit <a href="http://www.onwords.in/">http://www.onwords.in/</a>, our website.You may also visit our
                  YouTube account to view some of our
                  earlier work.Additionally, we highlighted in Prime Insights the iconic brands for 2023.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h6> 2.Need full price list for all products </h6>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>pdf link</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h6>3. In Comparison with other brands , what is your speciality ? </h6>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>The cost of the material only depends on its quality and the service warranties we offer (Gate -year,
                  Ajax -2 YEar, and smart Home - 5 year).</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                <h6>4.Give brief spec of gate motor?</h6>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Please visit our website at <a href="https://www.onwords.in/">http://www.onwords.in/</a> to obtain all
                  spec sheets.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                <h6>5.Need near by location for live demo</h6>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> majority of our clients won't feel comfortable when they visit their place.Consequently, we
                  recommend own portfolio videos on our website <a href="./gallery.html">Gallery</a> </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <h6>6.It is possible to speak to your CEO directly in a phone call for price negotiation?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> CEO won't be available for phone calls during negotiations; instead, you can contact CMO for
                  additional discussions or negotiations.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseseven">
                <h6>7.How can i trust my privacy through your product ? </h6>
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Your <a href="http://www.onwords.in/">Smart Home</a> security is unbreakable. Welcome to Smart Home
                  privacy
                  because the server is
                  entirely within your home, preventing us from accessing your data until you give us permission in
                  writing.
                  Hub serves as a local server for your residence, ensuring complete data security.It has a global
                  reputation and is utilized in more than 120+ countries.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingeight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                <h6>8.Without any power supply, how can i operate the gate ?</h6>
              </button>
            </h2>
            <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> Using our manual keys, you may open your gate without electricity.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingnine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                <h6>9.It is possible you can operate the gate ?</h6>
              </button>
            </h2>
            <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>No, it is not possible since only you know the app's password.For remote access, you must provide us
                  access to the gate controller; otherwise, we will not be able to manage your gate. </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingten">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                <h6>10.If sunday is possible to visit our office ?</h6>
              </button>
            </h2>
            <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> Yes, you are welcome to visit our office on Sunday with a phone call in advance.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingeleven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
                <h6>11.Why can't you provide a welder with your team?</h6>
              </button>
            </h2>
            <div id="collapseeleven" class="accordion-collapse collapse" aria-labelledby="headingeleven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> For a better understanding of gates, local welders are recommended since they are less expensive
                  than gate fabricators.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingtwelve">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve">
                <h6>12.It is possible tommorow instalation today is advanced ?</h6>
              </button>
            </h2>
            <div id="collapsetwelve" class="accordion-collapse collapse" aria-labelledby="headingtwelve"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Yes, we can accomplish it in the worst case scenario, and it depends only on the installation team's
                  availability.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingthirteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsethirteen" aria-expanded="false" aria-controls="collapsethirteen">
                <h6>13.What will be EB bill per day if gate operated ?</h6>
              </button>
            </h2>
            <div id="collapsethirteen" class="accordion-collapse collapse" aria-labelledby="headingthirteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> The motor uses 300W of power each cycle.Therefore, the EB bill is solely determined by how often you
                  operate.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingfourteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsefourteen" aria-expanded="false" aria-controls="collapsefourteen">
                <h6>14.If anyone tries to break or overcomefrom my gate , Can i have notification ?</h6>
              </button>
            </h2>
            <div id="collapsefourteen" class="accordion-collapse collapse" aria-labelledby="headingfourteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> We advise using an AJAX security system to alert you when someone breaks in.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingfifteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsefifteen" aria-expanded="false" aria-controls="collapsefifteen">
                <h6>15.If your smart home app is in problem , how can i operate my device without switch's ?</h6>
              </button>
            </h2>
            <div id="collapsefifteen" class="accordion-collapse collapse" aria-labelledby="headingfifteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>There won't be any downtime from our end because you'll have a local server.You can operate the retro
                  switch or touch switch if you don't have a local server.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingsixteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsesixteen" aria-expanded="false" aria-controls="collapsesixteen">
                <h6>16.If i have a problem with your device at midnight.How can i contact you,do you have a 24/7
                  services
                  ?</h6>
              </button>
            </h2>
            <div id="collapsesixteen" class="accordion-collapse collapse" aria-labelledby="headingsixteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>People will be accessible to talk about smart home and gate automation from 8 am to 10 pm.
                  Regarding security system, we provide a station that is always being watched.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingseventeen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseseventeen" aria-expanded="false" aria-controls="collapseseventeen">
                <h6>17.If i gave permission to operate my device to you.can you operate ?</h6>
              </button>
            </h2>
            <div id="collapseseventeen" class="accordion-collapse collapse" aria-labelledby="headingseventeen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Regarding our services, there is no such thing as permission; only clients have access.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingeighteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseeighteen" aria-expanded="false" aria-controls="collapseeighteen">
                <h6>18.If one arm fails another arm operate or not ?</h6>
              </button>
            </h2>
            <div id="collapseeighteen" class="accordion-collapse collapse" aria-labelledby="headingeighteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Regarding our services, there is no such thing as permission; only clients have access.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingnineteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsenineteen" aria-expanded="false" aria-controls="collapsenineteen">
                <h6>19.If any thunder or lighting ,it will effect your device ?</h6>
              </button>
            </h2>
            <div id="collapsenineteen" class="accordion-collapse collapse" aria-labelledby="headingnineteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Since our system is secured by MCBs, any power fluctuations brought on by lights will trip the MCBs
                  instead of causing any harm to it.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingtwenty">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsetwenty" aria-expanded="false" aria-controls="collapsetwenty">
                <h6>20.What kind of of mechanism operat's in swing gate and also in arm ?</h6>
              </button>
            </h2>
            <div id="collapsetwenty" class="accordion-collapse collapse" aria-labelledby="headingtwenty"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> Slider gates are moved by a motor to which a protructing toothed racks is attached. Swing gate arm
                  motor operates in hydraulic position mechanism.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="../static/js/data.js"></script>
  <script src="../static/js/general.js"></script>
</body>
</html>