{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="shortcut icon" href="{% static 'main-webp/favicon.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/team.css' %}">
  <link rel="stylesheet" href="{% static 'css/security-system.css'  %}">

  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <!-- bootstrap css -->
  <!-- fontawesome -->
  <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}">

  <title>Onwords</title>
</head>

<body id="bodyTag">
  <div id="preloader"></div>

  <section class="">
    <div class="container">

      <div class="">
        <div class="privacy-title team-onwords-title">
          <h2>FAQS</h2>
          <!-- <p class="fs-4">The creative crew behind Onwords</p> -->
        </div>
      </div>

      <div class="faq-container">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h6> 1.How to trust your brand or company ?</h6>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Visit Our Website <a href="http://www.onwords.in/">http://www.onwords.in/</a> to Know our works,you
                  can also visit our youtube channel to know our previous works.We have also featured in prime insights
                  the iconic brands of the year 2023</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h6> 2.Need full price list for all products </h6>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>pdf link</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h6>3.Comparing to other brand to what is your spacility ? </h6>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>The price of material purley depend only on the quality and the service warranty we provide (Gate
                  -year ,Ajax-2 YEar,smart Home - 5 year)</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                <h6>4.Give brief spec of gate motor?</h6>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Kindly visit our website <a href="http://www.onwords.in/">http://www.onwords.in/</a> to get detailed
                  specsheets</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                <h6>5.Need near by location fir live demo</h6>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Most of our clients won't feel coninient on visiting their space.so we suggen own portfolio videoes
                  in our website <a href="gallery.html">gallery</a> </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>6.possible to speak to our CEO directly in a phone call for price negotiable ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> CEO wont to be available for negotiation calls,for further talks (or) negotiation calls,you can
                  contact CMO</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                <h6>7.How can i trust my privacy through your product ? </h6>
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> We can't breach your<a href="http://www.onwords.in/">Smart Home</a> privacy as the server is
                  completly in your house,so that we can'taccess your dara untill ypu legally permit us<br>
                  hub is a localized server for your home,so the data in totally secure.It's an international brand and
                  it is used in 120+ countries</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingeight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseThree">
                <h6>8.Without any power ,supply how can i operate the gate ?</h6>
              </button>
            </h2>
            <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> You can open your gaye without power using our manual keys</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>9.It is possible you can operate the gate ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>No it is not possibe as the app password is known only for you.For remote access,you have to let us
                  to open the gate controller,untill you give access we can't control your gate </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>10.If sunday is possible to visit our office ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> Yes,it is possible visit our office on sunday,with prior phone call.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>11.Why can't you provide a welder with your team?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> We suggest local welder for better understanding of gate local welder are more affordable we
                  recommend gate fabricator</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>12.It is possible tommorow instalation todayis advanced ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Yes we can do it in worst case and it purely based on avalilability of the installation team.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>13.What will be EB bill per day if gate operated ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> Power consumption of the motor is 300W per cycle.so the EB bill is purely based on the number of
                  times you operate</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>14.If anyone tries to break or overcomefrom my gate,Can i have notification ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> We recommend AJAX security system for thief break in notification</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>15.If you smart home app is in problem,how can i operate my device without switch's ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> You will be provided with a local server, so down time from our side is not possible .if you go
                  without local server,you can control the retro switch or touch switch.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>16.If i have a proble with your device at midnight.How can i contact you,do you have a 24/7 services
                  ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Speaking on smart home and gate automation ,people will be available from 8am to 10pm.
                  comming to security sysytem ,we provide 24/7 monitaring station.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>17.If i gave permission to operate my device to you.can you operate ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>There nothing called permission when it comes to our services,only client have the access.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>18.If one arm fails another arm operate or not ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> Mostly arms won't fail,even if it fails another arm will work untill our service person arrives</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>19.If any thunder or lightng ,it will effect your device ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Our system is protected with MCB,so incase of any power average due to lighting will result in
                  trippinf of MCB and will not cause any damage our system.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                <h6>20.What kind of of mechanism operat's in swing gate and also in arm ?</h6>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> Swing gate arm motor works in hydralic position mechanisam sliding gate are moved by a motor to
                  which a protruding toothed log is attached.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>


  <!-- bootstrap js -->
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
  <!-- bootstrap js -->
  <script src="{% static 'js/data.js' %}"></script>
  <script src="{% static 'js/general.js' %}"></script>
  <!-- carousel slider end -->
  <script src="{% static 'js/all.min.js' %}"></script>
  <script src="{% static 'js/fontawesome.min.js' %}"></script>

  <!-- check -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>