<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/fields.css">
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
    <script src="../static/js/quotation.js"></script>
    <title>Quotation</title>
</head>
<body>
  <div class="container mt-1">
    <div class="top">
      <nav>
        <h2 class="htitle">Choose Catagory</h2>
      </nav>
    
      <div class="stepper-wrapper col-md-12">
        <div class="stepper-item active">
          <div class="step-counter">1</div>
          <div class="step-name">Choose Catagory</div>
        </div>
        <div class="stepper-item ">
          <div class="step-counter">2</div>
          <div class="step-name">Choose Package</div>
        </div>
        <div class="stepper-item ">
          <div class="step-counter">3</div>
          <div class="step-name">Quotation</div>
        </div> 
      </div>
    </div>
    <a onclick="home()"><img src="../static/img/back.png" alt="back" width="9" class="back"></a>

      <div class="container  mt-2 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
        <div class="col-md-12 col-lg-6 ">
          <a onclick="smarthome()" class="grid">
            <img src="../static/img/Catagory/Home_Automation.jpg" alt="Smart Home" class="home">
            
            <div class="details">
                <span class="title">Smart Home</span> 
            </div>
            <div class="arro">
              <span class="arrow"><img src="../static/img/arrow.png" alt="arrow"></span>
            </div>
        </a>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <a onclick="gateautomation()" class="grid">
                <img src="../static/img/Catagory/Gate_automation.jpg" alt="Gate Automation" class="gate">
                <div class="details">
                  <span class="title">Gate Automation</span>
              </div>
              <div class="arro">
                <span class="arrow"><img src="../static/img/arrow.png" alt="arrow"></span>
              </div>
              </a>
            </div>
            <div class="col-md-12">
              <a onclick="security_system()" class="grid">
                <img src="../static/img/Catagory/security_system.png" width="100"alt="Security System1" class="security ">
               
                <div class="details">
                  <span class="title">Security System</span>
              </div>
              <div class="arro">
                <span class="arrow"><img src="../static/img/arrow.png" alt="arrow"></span>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>