<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/galley.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <title>Onwords</title>
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="preloader"></div>
    <div class="wrapper">
        <!-- navbar start -->
        {% include "navbar.html" %}

        <!-- navbar end -->
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwhatsapp-ico.webp?alt=media&token=44745185-f1e5-4d37-b7b5-111fb36c81af" alt="whatsapp">
                </a>
            </button>
        </div>
        <section>
            <center>
                <h2 class="gall-head">Our Gallery</h2>
                <h5 class="gall-head-2">Check out our Portfolio Collections</h5>
            </center>
        </section>
        <section>
            <div class="container">
                <div class="gallery-cols">
                    <div class=" ">
                        <div>
                            <a href="#" id="one-gal-btn" class="gallerBtn act-galleryOne">
                                <span><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Four-1.webp?alt=media&token=98673e77-5a44-4be5-9aa2-d5e8701ed21f" alt="Ambience"></span><span
                                    class="ambience">Our Work
                                    Ambience</span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <a href="#" id="two-gal-btn" class="gallerBtn">
                                <span> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Four-gate.webp?alt=media&token=2be35a20-fe88-421b-98cb-51bf4afdc8ed"
                                        alt="gate automation"></span><span class="ambience">Gate
                                    Automations</span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <a href="#" id="three-gal-btn" class="gallerBtn">
                                <span> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Four-video.webp?alt=media&token=a62ec151-0a25-4871-b501-83d349185f42"
                                        alt="pre request videoes"></span><span class="ambience">Pre
                                    request videos</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="gal-1">
            <div class="container">
                <div class="row-gall-1">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-6-img.webp?alt=media&token=284d1a19-26da-43bc-b47f-242521d89899" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-4-img.webp?alt=media&token=f7240ebc-4c01-4068-bd49-399c2f1082df" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-3-img.webp?alt=media&token=8f0fe308-e459-4d0a-aeca-ca9f6f7604e5" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-5-img.webp?alt=media&token=07cddfda-234b-46c3-854f-c9f662454188" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-2-img.webp?alt=media&token=dab2c16d-4695-40a3-90ed-9289826f3795" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-1-img.webp?alt=media&token=455d6277-7e91-49a3-a688-76c77de7f162" class="lazy-load">
                </div>
            </div>
        </section>
        <section id="gal-2">
            <div class="container">
                <div class="row-gall-2">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-6-img.webp?alt=media&token=284d1a19-26da-43bc-b47f-242521d89899" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-4-img.webp?alt=media&token=f7240ebc-4c01-4068-bd49-399c2f1082df" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-3-img.webp?alt=media&token=8f0fe308-e459-4d0a-aeca-ca9f6f7604e5" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-5-img.webp?alt=media&token=07cddfda-234b-46c3-854f-c9f662454188" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-2-img.webp?alt=media&token=dab2c16d-4695-40a3-90ed-9289826f3795" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-1-img.webp?alt=media&token=455d6277-7e91-49a3-a688-76c77de7f162" class="lazy-load">
                </div>
            </div>
        </section>
        <section id="gal-3">
            <div class="container">
                <div class="row-gall-3">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-6-img.webp?alt=media&token=284d1a19-26da-43bc-b47f-242521d89899" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-4-img.webp?alt=media&token=f7240ebc-4c01-4068-bd49-399c2f1082df" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-3-img.webp?alt=media&token=8f0fe308-e459-4d0a-aeca-ca9f6f7604e5" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-5-img.webp?alt=media&token=07cddfda-234b-46c3-854f-c9f662454188" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-2-img.webp?alt=media&token=dab2c16d-4695-40a3-90ed-9289826f3795" class="lazy-load">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgaller-1-img.webp?alt=media&token=455d6277-7e91-49a3-a688-76c77de7f162" class="lazy-load">
                </div>
            </div>
        </section>
    </div>
    {% include "footer.html" %}

    <script src="../static/js/general.js"></script>
    <script src="../static/js/gallery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>