{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" href="{% static 'main-webp/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
    <link rel="stylesheet" href="{% static 'css/galley.css' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}">

    <!-- bs-4 -->
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'fonts-6/css/all.css' %}">

    <!-- fontawesome icon -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <!-- carousel -->

    <!-- cdn link -->



    <!-- cdn link -->
    <title>Onwords</title>
</head>


<body id="bodyTag">
    <!-- <div class="blob"></div> -->
    <div class="wrapper" id="blur">
        <!-- navbar start -->
        <header>
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="{% static 'images/logos.png' %}" alt="logo"
                            class="img-fluid logo"></a>

                    <div class="darkmodemob" id="darkbuttonmob">
                        <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sunmob">
                        <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid nightmob">
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><span class="text-white onnav"><i
                                    class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                            <li class="nav-item">
                                <a class="nav-link active-nav" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Our Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/ourservices">Smart home</a></li>
                                    <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                    <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                                    <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                                    <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                                    <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                                    <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                                    <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                    <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/securitySystem">Security System</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ourApp">Our App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>

                        </ul>


                    </div>
                    <div class="darkmode" id="darkbutton">
                        <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sun">
                        <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid night">
                    </div>
                </div>
            </nav>
        </header>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <center>
                            <h2 class="text-dark">Get a Quote</h2>
                            <p class="text-dark">Onwords smart solutions helps unlock the Amazing spaces to create
                                durable and innovative
                                experience </p>
                            <form action="" class="quot-form">

                                <input type="text" name="" id="username" placeholder="Full name" required><br><br>

                                <input type="number" name="" id="number" placeholder="Mobile number" required><br><br>
                                <input type="email" name="" id="email" placeholder="Email"><br><br>

                                <input type="text" name="" id="location" placeholder="Location"><br><br>
                                <textarea name="" id="" cols="12" rows="2" placeholder="Enquiry for"></textarea>
                                <button type="submit" class="s-btn">
                                    <div class="module-border-wrap">
                                        <div class="module">
                                            Get Started
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <!-- navbar end -->

        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img src="{% static 'images/whatsapp-ico.svg' %}" alt="whatsapp">
                </a>
            </button>
        </div>

        <section>
            <center>
                <h2 class="gall-head">Our Gallery</h2>
                <h5 class="gall-head-2">Check out our Portfolio Collections</h5>
            </center>
        </section>
        <section>
            <div class="container">
                <div class="gallery-cols">
                    <div class=" ">
                        <div>
                            <a href="#" id="one-gal-btn" class="gallerBtn act-galleryOne">
                                <span><img src="{%static 'images/our-1.svg'%}"></span><span class="ambience">Our Work
                                    Ambience</span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <a href="#" id="two-gal-btn" class="gallerBtn">
                                <span> <img src="{%static 'images/our-gate.svg'%}"></span><span class="ambience">Gate
                                    Automations</span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <a href="#" id="three-gal-btn" class="gallerBtn">
                                <span> <img src="{%static 'images/our-video.svg'%}"></span><span class="ambience">Pre
                                    request videos</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="gal-1">
            <div class="container">
                <div class="row-gall-1">
                    <img src="{%static 'images/galler-1-img.svg'%}">
                    <img src="{%static 'images/galler-2-img.svg'%}">
                    <img src="{%static 'images/galler-3-img.svg'%}">
                    <img src="{%static 'images/galler-4-img.svg'%}">
                    <img src="{%static 'images/galler-5-img.svg'%}">
                    <img src="{%static 'images/galler-6-img.svg'%}">

                </div>
            </div>
        </section>
        <section id="gal-2">
            <div class="container">
                <div class="row-gall-2">
                    <img src="{%static 'images/galler-2-img.svg'%}">
                    <img src="{%static 'images/galler-3-img.svg'%}">
                    <img src="{%static 'images/galler-4-img.svg'%}">
                    <img src="{%static 'images/galler-5-img.svg'%}">
                    <img src="{%static 'images/galler-6-img.svg'%}">
                    <img src="{%static 'images/galler-1-img.svg'%}">
                </div>
            </div>
        </section>
        <section id="gal-3">
            <div class="container">
                <div class="row-gall-3">
                    <img src="{%static 'images/galler-6-img.svg'%}">
                    <img src="{%static 'images/galler-4-img.svg'%}">
                    <img src="{%static 'images/galler-3-img.svg'%}">
                    <img src="{%static 'images/galler-5-img.svg'%}">
                    <img src="{%static 'images/galler-2-img.svg'%}">
                    <img src="{%static 'images/galler-1-img.svg'%}">
                </div>
            </div>
        </section>


        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="company-list-1">
                            <h5>Company</h5>
                            <li>
                                <p onclick="location.href='/aboutus'">About Us</p>
                            </li>
                            <li>
                                <p onclick="location.href='/contact'">Contact Us</p>
                            </li>
                            <li>
                                <p onclick="location.href='/ourApp'">Our App</p>
                            </li>
                            <li>
                                <p onclick="location.href='/gallery'">Gallery</p>
                            </li>
                            <li>
                                <p onclick="location.href='/carrier'">Carrers</p>
                            </li>


                        </ul>

                    </div>
                    <div class="col-md-2">
                        <ul class="our-services-foot">
                            <h5>Our Services</h5>
                            <li>
                                <p onclick="location.href='/ourservices'">Smart Home</p>
                            </li>
                            <li>
                                <p onclick="location.href='/gateautomation'">Gate Automation</p>
                            </li>
                            <li>
                                <p onclick="location.href='/securitySystem'">Security System</p>
                            </li>
                            <li>
                                <p onclick="location.href='/curtain'">Smart Curtain</p>
                            </li>
                            <li>
                                <p> Constructions</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="quick-links-foot">
                            <h5>Quick Links</h5>
                            <li>
                                <p onclick="location.href='/'"> Home</p>
                            </li>
                            <li>
                                <p onclick="location.href='/ourservices'">Our Services</p>
                            </li>
                            <li>
                                <p onclick="location.href='/securitySystem'">Security System</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <div class=" onwords-details-foot">
                            <h5>Connect With Us</h5>
                            <div class="footer-foot">
                                <a href="https://www.linkedin.com/company/onwords-smart-solution/
                            " target="_blank" class="footer-social-icon"></i><i class="fa-brands fa-linkedin"></i></a>

                                <a href="https://www.instagram.com/team.onwords/
                                " target="_blank" class="footer-social-icon"></i><i
                                        class="fa-brands fa-instagram"></i></a>
                                <a href="https://https://www.facebook.com/teamonwords/
                                " target="_blank" class="footer-social-icon"></i><i
                                        class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.youtube.com/@OnwordsSmartSolutions/
                                " target="_blank" class="footer-social-icon"></i> <i
                                        class="fa-brands fa-square-youtube"></i></i></a>
                            </div>


                            <div class="footer-foot">
                                <!-- <i class="fa-brands fa-linkedin" onclick="location.href='/'"></i>
                                <span onclick="location.href='www.instagram.com/team.onwords/'" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></span>
                                <i class="fa-brands fa-facebook"></i> -->

                            </div>
                            <br>
                            <div>
                                <p>Onwords Smart Solutions
                                    Coimbatore, IN - 642 005</p>
                                <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                        class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                                <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                        class="fa-solid fa-phone"></i> 77086
                                    30275</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="our-app-foot ">
                            <h5>Our Apps</h5>
                            <div class="app-google-store">
                                <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                    <img src="{% static 'images/play.png' %}" alt="" class="img-fluid">
                                </a>
                                <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                        src="{% static 'images/apple.png' %}" alt="" class="img-fluid"></a>
                            </div>

                        </div>
                    </div>
                </div>
                <hr class="text-white">
                <div class="bootom-footer">
                    <div>
                        <p> © Copyright ©2023
                            Onwords. All Rights Reserved | </p>
                    </div>
                    <div>
                        <ul class="footer-bottom">
                            <li>
                                <p onclick="location.href='/disclaimer'">Privacy Policy</p>
                            </li>
                            <li>
                                <p onclick="location.href='/privacyPolicy'">Terms of Use</p>
                            </li>
                            <li>
                                <p>Sales and Refunds</p>
                            </li>
                            <li>
                                <p>Legal</p>
                            </li>
                            <li>
                                <p>Site Map</p>
                            </li>
                        </ul>
                    </div>
                </div>
        </section>

    </div>
    <!-- Preloader -->


    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'images/demo.js' %}"></script>
    <script src="{% static 'images/darkmode.js' %}"></script>
    <script src="{% static 'js/gallery.js'%}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <!-- carousel slider end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>

    <!-- Calling Slick Library -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- carousel slider script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min"></script>

    <!-- bs-4 -->

    <script>
        document.getElementById('lightonBtn').addEventListener("click", () => {
            document.getElementById('withlight').style.display = 'block'
            document.getElementById('withoutlight').style.display = 'none'
            document.querySelector('.btns-on').style.display = 'none'
            document.querySelector('.btns-off').style.display = 'block'

        })
        document.getElementById('lightoffBtn').addEventListener("click", () => {
            document.getElementById('withlight').style.display = 'none'
            document.getElementById('withoutlight').style.display = 'block'
            document.querySelector('.btns-on').style.display = 'block'
            document.querySelector('.btns-off').style.display = 'none'

        })

    </script>
    <script>
        var headBtn = document.getElementById('mydiv')
        var btns = headBtn.getElementsByClassName('btns');
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", () => {
                var current = document.getElementsByClassName('act-anim');
                current[0].className = current[0].className.replace("act-anim", "");
                this.className += "act-anim";
            });
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            function counter(id, start, end, duration) {
                let obj = document.getElementById(id),
                    current = start,
                    range = end - start,
                    increment = end > start ? 1 : -1,
                    step = Math.abs(Math.floor(duration / range)),
                    timer = setInterval(() => {
                        current += increment;
                        obj.textContent = current;
                        if (current == end) {
                            clearInterval(timer);
                        }
                    }, step);
            }
            counter("count1", 0, 1500, 3000);
            counter("count2", 100, 1000, 2500);
            counter("count3", 0, 900, 3000);
        });
        // ---topbtn start
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");
        let whatsapp = document.getElementById("whatsapp")

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
                whatsapp.style.display = 'block'
            } else {
                mybutton.style.display = "none";
                whatsapp.style.display = 'none'
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        // ---topbtn end


        // ---strat mouse wheel--
        const mouseWheel = document.querySelector('.box-scroll');
        const boxImg = document.querySelectorAll('.card-box-img')

        mouseWheel.addEventListener('wheel', function (e) {
            const race = 15; // how many pixels to scroll

            if (e.deltaY > 0) { // Scroll right

                mouseWheel.scrollLeft += race;
                for (const boxicons of boxImg)
                    boxicons.style.transform = 'scale(1.1)'

            }

            else // Scroll left
                mouseWheel.scrollLeft -= race;
            for (const boxicon of boxImg) {
                boxicon.style.transform = 'scale(0.6)'
            }
            e.preventDefault();
        });
        // ---strat mouse wheel--

    </script>
    <script>

    //     window.setTimeout( function reloads() {
    //   window.location.reload();
    // }, 20000);

    </script>
    <script>
        const blob = document.querySelector('.blob');
        const cursorScale = document.querySelectorAll('.cursor-scale')
        window.addEventListener('pointermove', (e) => {
            const { clientX, clientY } = e;
            // console.log(clientX, clientY)
            blob.animate({
                left: `${clientX}px`,
                top: `${clientY}px`
            }, { duration: 3000, fill: "forwards" })
        })

        window.addEventListener("mousemove", function (e) {
            mouseX = e.clientX;
            mouseY = e.clientY
        })
    </script>
</body>

</html>







<!-- 
    
       
 -->