{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/ourservice.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/gate.css'%}">
    <!-- bs-4 -->
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- fontawesome icon -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <!-- carousel -->
    <!-- cdn link -->



    <!-- cdn link -->
    <title>Onwords</title>
</head>

<body id="bodyTag">
    <!-- navbar start -->
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'images/logos.png' %}" alt="logo"
                        class="img-fluid logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a>
                                <li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                                <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                                <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                                <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                                <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">Our App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-warning text-dark bg-warning fw-bold" type="submit"><i
                                class="fa-solid fa-phone"></i>
                            SCHEDULE A
                            CALL</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- navbar end -->
    <div class="backto-top" id="btn-back-to-top">
        <div class="container">
            <div class="resdf">
                <button><i class="fa-solid fa-angle-up"></i></button>
            </div>
        </div>
    </div>


    <!-- gokila changes -->
    <div class="main-container-gate">
        <div class="main-img">
            <h2 class="gate-para">Gate Automation</h2>
        </div>
        <div>
            <h1 class="text-center" style="padding:40px 0">Simplified Long-lasting Automation
                <br> Solution for Your Gates
            </h1>
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <img src="{%static 'images/swing-gate-1.svg' %}" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Swing Gate</h2>
                        <p>Automatic gates commonly use electric motors or hydraulics to operate them. Swing gates
                            rotate around hinges on gate posts at the sides of driveway entrances, on and off of the
                            site.Sliding gates are moved by a static motor. They typically have backup batteries, remote
                            controls, other settings.
                            Automatic swing gates by Aacess Automations are fabricated to provide safety, suitability,
                            and against unauthorized invasion.</p>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h2>Sliding Gate</h2>
                            <p>The most common type of Gates used in all premises is Automatic Sliding Gates. The
                                sliding gate is mounted parallel on a track and moves forward and backward with the help
                                of rollers. We at Access Automation uses high-quality bearings that are double padded to
                                help the rollers from not getting blocked by dust and debris that ensures the smooth
                                operation of the gate. Gates designs are firstly prepared in AutoCAD and are fabricated
                                with the use of MS Hollow sections and sheets. </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img src="{%static 'images/sliding-gate-2.svg'%}">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <img src="{%static 'images/swing-gate-1.svg'%}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Swing Gate</h2>
                        <p>Roller gate system is the perfect solution for extra wide opening areas & where in there is
                            very less or no run-back for single side sliding arrangement to install the conventional
                            sliding gates. They are manufactured in two, three or more gate panels and therefore reduce
                            the required back run/parking space.
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h2>Boom Barrier</h2>
                            <p>Boom Barriers offer efficient security at exit and entry points of factories, office
                                complexes, condominiums, parking lots, toll plazas, or any roadway entry where medium to
                                heavy traffic is expected. The boom barrier is aesthetically designed with sleek and
                                modern looks. Features of the boom barrier gate include an inbuilt anti-crush safety
                                device, which suspends the motion of the boom, should it meet any obstruction.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img src="{%static 'images/boom-gate.svg'%}">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="control-img">

            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div>
                            <h2>Control From Anywhere</h2>
                            <p>Access your smart Gate from anywhere in the world. Create unique scenes, define your
                                ambience, schedules your routines, control all devices and elevate your living
                                experience with the Onwords smart things app.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <h2 class="text-center">“Hey Google, Open the main gate door”
        </h2>
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <img src="{% static 'images/logos.png' %}" alt="" class="img-fluid sdf">
                        <p>Onwords Smart Solutions <br>
                            RR Garden, Zamin Muthur, <br>
                            Pollachi,
                            Coimbatore, IN - 642 005 <br>
                        <div class="fgh">
                            <span><a href="tel:7708630275" class="footer-list"><i class="fa-solid fa-phone"></i> 77086
                                    30275</a></span>
                            <br><br>
                            <span><a href="mailto:cs@onwords.in" class="footer-list"><i
                                        class="fa-solid fa-envelope"></i>cs@onwords.in</a></span>
                        </div>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <ul class="listx">
                            <h5>Quick Links</h5>
                            <li><a href="/" class="footer-list">Home</a></li>
                            <li><a href="/ourservices" class="footer-list">Our Services</a></li>
                            <li><a href="/securitySystem" class="footer-list">Security System</a></li>
                            <li><a href="" class="footer-list">Our App</a></li>
                            <li><a href="" class="footer-list">About Us</a></li>
                            <li><a href="" class="footer-list">Contact</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="listx">
                            <h5>Our Services</h5>
                            <li><a href="" class="footer-list">Smart Home</a></li>
                            <li><a href="" class="footer-list">Web /App Devlopment</a></li>
                            <li><a href="" class="footer-list">Digital Marketing</a></li>
                            <li><a href="" class="footer-list">UI & UX Designing</a></li>
                            <li><a href="" class="footer-list">Graphic Designing</a></li>
                            <li><a href="" class="footer-list">Construction</a></li>
                        </ul>

                    </div>

                    <div class="col-sm-12 col-md-4">
                        <h5>Subscribe Us</h5>
                        <input type="email" name="" id="" class="mails" placeholder="Enter Your Email"><br>
                        <button type="submit" class="sub">Subscribe</button>
                        <div class="row my-4">
                            <div class="col df">
                                <a href="https://www.youtube.com/@OnwordsSmartSolutions" target="_blank"><img
                                        src="{% static 'images/youtube.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://www.facebook.com/teamonwords" target="_blank">
                                    <img src="{% static 'images/facebook.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://www.instagram.com/team.onwords/
                               " target="_blank">
                                    <img src="{% static 'images/instagram.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="" target="_blank">
                                    <img src="{% static 'images/linkedin.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://twitter.com/TeamOnwords
                              " target="_blank">
                                    <img src="{% static 'images/twitter.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="jg">
                                <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                    <img src="{% static 'images/play.png' %}" alt="df" class="img-fluid">
                                </a>
                                <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                        src="{% static 'images/apple.png' %}" alt="" class="img-fluid"></a>

                            </div>
                        </div>
                    </div>
                    <hr class="text-white">
                    <span class="text-center" style="text-align: center;"> © Copyright ©2023
                        Onwords. All Rights Reserved | Privacy Policy</span>
                </div>

            </div>
        </section>
    </div>
    <!-- gokila changes -->



















    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- carousel slider end -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>

    <!-- Calling Slick Library -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- carousel slider script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- bs-4 -->
</body>

</html>