<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" href="../static/css/navbar.css">

        
    <div class="nav">
        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fonwords-logo.svg?alt=media&token=bf6389d3-ec58-452f-8876-8b0fe6db0f01" alt="logo" class="img-fluid logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><span class="text-white onnav">
                <i class="fa-solid fa-bars"></i></span>
                <span class="off text-white">
                    <i class="fa-solid fa-x"></i>
                </span>
            </button>
            <ul class="menu">
                    
                <li><a class="nav-item {% if request.path == '/' %}color{% endif %}" aria-current="page" href="/">Home</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle {% if request.path in ['/ourservices','/gateautomation','/solar','/Audios','/construction'] %}color{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Services
                    </a>
                
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item {% if request.path in ['/ourservices','/seedemo','/curtain'] %}color{% endif %}" href="/ourservices">Smart Home</a></li>
                        <li><a class="dropdown-item {% if request.path == '/gateautomation' %}color{% endif %}" href="/gateautomation">Gate Automation</a></li>
                        <li><a class="dropdown-item {% if request.path == '/solar' %}color{% endif %}" href="/solar">Solar Panels</a></li>
                        <li><a class="dropdown-item {% if request.path == '/Audios' %}color{% endif %}" href="/Audios">Sound System</a></li>
                        <li><a class="dropdown-item {% if request.path == '/construction' %}color{% endif %}" href="/construction">Construction</a></li>
                        <li><a class="dropdown-item {% if request.path == '/smartlock' %}color{% endif %}" href="/smartlock">Purchase Smart Locks</a></li>
                    </ul>
                </li>
                
                
                
                <li><a class="nav-item {% if request.path == '/securitySystem' %}color{% endif %}" href="/securitySystem">Security System</a></li>
                <li><a class="nav-item {% if request.path == '/ourApp' %}color{% endif %}" href="/ourApp">App</a></li>
                <li><a class="nav-item {% if request.path == '/aboutus' %}color{% endif %}" href="/aboutus">About Us</a></li>
                <li><a class="nav-item {% if request.path == '/contact-9' %}color{% endif %}" href="/contact-9">Contact us</a></li>
                <li><a class="nav-item {% if request.path == '/downloads' %}color{% endif %}" href="/downloads">Videos/Brochure</a></li>
                {% if request.path != '/' %}
                <li class="nav-item">
                    <a class="nav-item" href="/fields">Get Quote</a>
                </li>
                {% endif %}
            </ul>                  
    </div>
          

<script>
    $(document).ready(function(){
        $(window).scroll(function(){
              $val = $(window).scrollTop();
              if($val > 10){
                    $('.nav').addClass('active');
              }else{
                 $('.nav').removeClass('active');  
              }
        })

        $(' .nav button').click(function(){
          $(' .nav ul.menu').toggleClass('display');
        })
   })

   

document.addEventListener("DOMContentLoaded", function() {
    // Toggle dropdown menu on click
    var dropdownToggle = document.getElementById("navbarDropdown");
    dropdownToggle.addEventListener("click", function(event) {
        var dropdownMenu = dropdownToggle.nextElementSibling;
        dropdownMenu.classList.toggle("show");
        event.stopPropagation(); // Prevent the click event from bubbling up
    });

    // Close dropdown when clicking outside
    window.addEventListener("click", function(event) {
        var dropdownMenus = document.querySelectorAll(".dropdown-menu");
        dropdownMenus.forEach(function(menu) {
            if (!menu.contains(event.target) && !dropdownToggle.contains(event.target)) {
                menu.classList.remove("show");
            }
        });
    });
});


</script>