<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <title>Best in Coimbatore | Home Automation | Smart Home | Gate Automation | ALEXA | GOOGLE | AJAX | Security Systems | Automation </title>
    <meta name="description" content="Control your smart home at your fingertips with Onwords' innovative mobile app. Seamlessly manage home automation features like gate automation, climate control, and security systems directly from your phone. Designed for user-friendly experience in Coimbatore, our app brings convenience and efficiency to your smart home lifestyle.">
    <meta name="keyword" content="Automatic lights, Automatic gate, smart door, door lock, phone control, voice control light, Ac automation, Samsung, Ajax, Smart Home, Home automation, Automated water tanks, Wireless Connectivity, Climate control automation, Mobile app controlled smart devices, Home automation with mobile devices, Tamil Nadu, Coimbatore, Automation, Without Internet, Security Systems,Guard Patrol Systems,Gate automation system ,Low cost, in Coimbatore, Tamilnadu">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- navbar start -->
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fonwords-logo.svg?alt=media&token=bf6389d3-ec58-452f-8876-8b0fe6db0f01" alt="logo"
                        class="img-fluid logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span>
                        </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/solar">Solar</a></li>
                                <li><a class="dropdown-item" href="/Audios">Sound System</a></li>

                                <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">Our App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/About Us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact-9">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fields">Get Quote</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwhatsapp-ico.webp?alt=media&token=44745185-f1e5-4d37-b7b5-111fb36c81af" alt="whatsapp">
                </a>
            </button>
        </div>
    <div class="container">
        <div class="chetro-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="smartThingsApp">
                        <div class="">
                            <h2>Download</h2>
                            <h6>Our <span class="smapp-color">Smart Things App</span></h6>
                            <p>
                                Controlling and automating home <br> appliances with our Onwords <br> Smart things app
                            </p>
                            <div class="app-google-store mob-li-app">
                                <a href="https://play.google.com/store/apps/details?id=com.onwords.smart_things&hl=en_IN&gl=US">
                                  <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fplay.webp?alt=media&token=f74468b9-012f-4842-9df3-edf94121667e" alt="play store" class="img-fluid new-smart-app">
                                </a>
                                <a href="https://apps.apple.com/in/app/onwords-smart-things/id6449142647"><img
                                    src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fapple.webp?alt=media&token=ed330e85-cc5f-434e-958b-be088af30ae6" alt="apple store" class="img-fluid new-smart-app"></a>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-img-app">
                        <img src="../static/main-webp/mob-app-imgs.png" alt="mobile-app"  class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/general.js"></script>
</body>
</html>