<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
<!-- End Google Tag Manager -->
<meta name="discription"
    content="Onwords Smart home app . Download our latest onwords smart home app and share your experience with us. Onwords Smart home app.">
<!-- bootstrap css -->
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/responsive.css">
<link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/our-app.css">
<link rel="stylesheet" href="../static/css/general.css">
<link rel="stylesheet" href="../static/css/footer.css">
<!-- bs-4 -->
<link rel="stylesheet" href="../static/fonts/all.min.css">
<link rel="stylesheet" href="../static/fonts/fontawesome.css">
<link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
<title>Onwords smart Things</title>
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrapper lights">
        <!-- navbar start -->
 {% include "navbar.html" %}
        <!-- navbar end -->
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwhatsapp-ico.webp?alt=media&token=44745185-f1e5-4d37-b7b5-111fb36c81af" alt="whatsapp">
                </a>
            </button>
        </div>
    </div>
    <section class="our-app-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="r-banner">
                        <div class="first-box">
                            <h3>
                                Download Our Smart <br>
                                Things App
                            </h3>
                            <h6>
                                Controlling and automating home
                                appliances with our Onwords Smart Things App
                            </h6>
                            <div class="bot-re">
                                <div class="add-download">
                                    <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fgooglepay.webp?alt=media&token=04934a5c-5c29-4ca0-9870-96df2837cb35" alt="play store"
                                            class="img-fluid">
                                    </a>
                                    <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fappstore.webp?alt=media&token=12bc6964-02e5-440c-9333-06c96f9c9a9b" alt="app store"
                                            class="img-fluid">
                                    </a>

                                </div>
                                <div class="qr">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fqr.svg?alt=media&token=ed058f34-100b-44ea-bfe6-734b061ee04a" alt="QR code">

                                    <p class="text-dark text-center">Scan this QR code for <br> download our app</p>
                                </div>
                            </div>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fmobile.svg?alt=media&token=263723f9-82ad-4af4-840f-08bb1108af0d" alt="smarthome-mobileapp"
                            class="img-fluid r-banner-img">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <center>
                <div class="top-termss ">
                    <div class="privacy-title">
                        <h2 class="privacy-h2">About our App</h2>
                        <!-- <p>Legal Information & Notices</p> -->
                    </div>
                </div>
                <p class="mb-4 our-app-p">
                    Discover a new level of convenience and control with the Onwords Smart Things App. Experience <br>
                    seamless connectivity and complete customization for your smart home devices. With just three simple
                    <br> steps, you can connect, personalize, and share your smart devices effortlessly.
                </p>
            </center>
            <div class="row app-con-sec">
                <div class="col-md-6">
                    <div class="iphone-13 ">
                        <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fiphone-123.svg?alt=media&token=76aa826f-b30b-4a83-b3b3-7cc3f0cbb597" alt="devices"
                            class="img-fluid pro-13 lazy-load">
                        <div class="span-box ">
                            <p> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fbulb.svg?alt=media&token=9d00c9ec-8040-45b1-99a8-83378ef2c200" alt="Celing-light"
                                    class="img-fluid mob-lights lazy-load"></p>
                            <p>
                                <span>Ceiling Light 1</span><br>
                                <small>Status Off</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dick">
                        <p><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fdick-circl.svg?alt=media&token=34ba56e6-a1bd-4d0a-a34b-1431c54b8fae" alt="dick-circl" class="img-fluid"></p>
                        <div class="app-store-content">
                            <h5>Easy Device Setup</h5>
                            <p>
                                Scan for compatible devices within your home network. Our app will guide you through the
                                setup process, making it a breeze to connect your smart devices. In just a few taps,
                                establish a secure connection between your devices and the app. Say goodbye to
                                complicated setup procedures
                            </p>
                        </div>
                    </div>
                    <div class="dick">
                        <p><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fdick-circl.svg?alt=media&token=34ba56e6-a1bd-4d0a-a34b-1431c54b8fae" alt="tick" class="img-fluid"></p>
                        <div class="app-store-content">
                            <h5>Fully Customizable </h5>
                            <p>
                                Make your app reflect your style by choosing from a variety of stunning wallpapers.
                                Create a personalized atmosphere that matches your mood.
                                Easily customize your rooms by assigning unique names and icons. Tailor your smart home
                                setup to your lifestyle and preferences
                            </p>
                        </div>
                    </div>
                    <div class="dick">
                        <p><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fdick-circl.svg?alt=media&token=34ba56e6-a1bd-4d0a-a34b-1431c54b8fae" alt="tick" class="img-fluid"></p>
                        <div class="app-store-content">
                            <h5>Sharing Made Simple</h5>
                            <p>
                                Want to share only a specific room or particular devices? Onwords Smart Things App lets
                                you tailor your sharing preferences. Select exactly what you want your family to access,
                                ensuring privacy and convenience.Share your home devices with your family members in
                                just a single step. No complicated procedures or confusing setups
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <center>
                <h2 class="sec-title">
                    One App to ManageEverything, <br> Anywhere.
                </h2> <br>
            </center>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="mob-center-fix">
                <div class="left-mob-fix">
                    <div class="app-feature">
                        <p> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffriendly-app.png?alt=media&token=b43dbcf6-373c-4e73-aa02-54d5e86ab0c1" alt="friendly app"></p>
                        <p>User-friendly app </p>
                    </div>
                    <div class="app-feature">
                        <p> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fic-3.svg?alt=media&token=c992ee00-9a0d-4acf-a3a4-783d9d890a4e" alt="friendly app"></p>
                        <p>Fully Customizable</p>
                    </div>
                    <div class="app-feature">
                        <p> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fic-5.svg?alt=media&token=9007c259-7ae1-45a7-8a23-617f5aa39ecf" alt="friendly app"></p>
                        <p>Single tap control</p>
                    </div>
                </div>
                <div class="center-mob-fix">
                    <video src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwebsite.mov?alt=media&token=a978aa60-82b0-43aa-9577-2c350599c4ea" class="img-fluid" loop muted autoplay width="100%"
                        h100%></video>
                </div>
                <div class="right-mob-fix">
                    <div class="app-feature">
                        <p> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fic-19.svg?alt=media&token=95dddc2c-801a-4515-b36e-587d3e3d8309" alt="friendly app"></p>
                        <p>Ios and Android Version</p>
                    </div>
                    <div class="app-feature">
                        <p> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fic-4.svg?alt=media&token=cb18b454-8cd5-4bbe-831b-21a2f5ba6a0c" alt="friendly app"></p>
                        <p>Secure & Safety</p>
                    </div>
                    <div class="app-feature">
                        <p> <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fic-6.svg?alt=media&token=91291ab6-c040-445d-b81f-57cee728862f" alt="friendly app"></p>
                        <p>24/7 customer support</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="interface-hid">
        <div class="container">
            <center>
                <div class="sec-title">
                    <h2>Check Our App Interface</h2>
                </div> <br><br>
            </center>
            <div class="row">

                <div class="col-md-12 fghs">
                    <div class="containersa">
                        <div class="carousela">
                            <div class="item a"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fmob-1.svg?alt=media&token=90f84c1d-c8a4-4b63-bdf4-2e8df68e3b28" alt="App interface-1"
                                    class=""></div>
                            <div class="item b"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fic-123.svg?alt=media&token=3136965c-2000-43c4-896c-1487b3270c4a" alt="App-interface-2"
                                    class="  mob-mock-adjus"></div>
                            <div class="item c"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fic-121.svg?alt=media&token=bd4ac9a9-65ed-4e99-88d7-f4ea362f2417" alt="App interface-3"
                                    class="  mob-mock-adjus"></div>
                            <div class="item d"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fmob-4.svg?alt=media&token=3b133bec-2771-4d15-a5ba-e6c27fb0e7fe" alt="App interface-4"
                                    class=" "></div>
                            <div class="item e"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fmob-5.svg?alt=media&token=107ad704-ab76-494f-ac4a-98f82620f93c" alt="App interface-5"
                                    class=" "></div>
                            <div class="item f"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fmob-12.svg?alt=media&token=dbfac959-35ea-4bc9-9a73-467bc386b899" alt="App interface-6"
                                    class=" "></div>
                        </div>
                        <div class="mock">
                            <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fiphone13-mockup.webp?alt=media&token=558c11dd-c94f-474d-b8a8-60812c73ae49" alt="app features"
                                class="app-fea-mockups lazy-load">
                        </div>
                    </div>
                    <div class="gc">
                        <div class="nexta"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fright-arrow.svg?alt=media&token=88200907-eb4e-4d88-ae00-a1636578c2d4" alt="right arrow"
                                class="img-fluid"></div>
                        <div class="preva"><img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fright-arrow.svg?alt=media&token=88200907-eb4e-4d88-ae00-a1636578c2d4" alt="right arrow"
                                class="img-fluid left-arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}

    <script src="../static/js/general.js"></script>
    <script src="../static/js/hero.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"></script>
    <script>
        function scrollTo(scrolled) {
            $('.slider-gallery').css('transform', 'translateX(' + scrolled + 'px');
        }
        $(window).bind('scroll', function () {
            var scrolled = $(window).scrollTop();
            scrollTo(-scrolled);
        });

        "use strict"

        document.addEventListener('scroll', horizontalScroll);

        let sticky = document.querySelector('.sticky-h');
        let stickyParent = document.querySelector('.sticky-parent');

        let scrollWidth = sticky.scrollWidth;
        let verticalScrollHeight = stickyParent.getBoundingClientRect().height - sticky.getBoundingClientRect().height;

        function horizontalScroll() {

            //Checking whether the sticky element has entered into view or not
            let stickyPosition = sticky.getBoundingClientRect().top;
            if (stickyPosition > 1) {
                return;
            } else {
                let scrolled = stickyParent.getBoundingClientRect().top; //how much is scrolled?
                sticky.scrollLeft = (scrollWidth / verticalScrollHeight) * (-scrolled) * 0.85;

            }
        }

    </script>
    <script>
        var carousel = $(".carousela"),
            currdeg = 0;

        $(".nexta").on("click", { d: "n" }, rotate);
        $(".preva").on("click", { d: "p" }, rotate);

        function rotate(e) {
            if (e.data.d == "n") {
                currdeg = currdeg - 60;
            }
            if (e.data.d == "p") {
                currdeg = currdeg + 60;
            }
            carousel.css({
                "-webkit-transform": "rotateY(" + currdeg + "deg)",
                "-moz-transform": "rotateY(" + currdeg + "deg)",
                "-o-transform": "rotateY(" + currdeg + "deg)",
                "transform": "rotateY(" + currdeg + "deg)"
            });
        }
    </script>
</body>
</html>