{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/ourservice.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- bs-4 -->
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- fontawesome icon -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <!-- carousel -->
    <title>Onwords</title>
</head>

<body id="bodyTag">
    <!-- navbar start -->
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'images/logos.png' %}" alt="logo"
                        class="img-fluid logo"></a>
                <div class="darkmodeMob">
                    <img src="{% static 'images/sun-wh.svg' %}" alt="" id="daybright" onclick="dayMode()">
                    <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid" id="moon"
                        onclick="nightMode()">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                                <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                                <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                                <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                                <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="#">Onwords Construction</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">Our App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>

                    <form class="d-flex">
                        <div class="module-border-wrap">
                            <div class="module">
                                Get Started
                            </div>
                        </div>
                    </form>
                </div>
                <div class="darkmode">
                    <img src="{% static 'images/sun-wh.svg' %}" alt="" id="daybright" onclick="dayMode()">
                    <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid" id="moon"
                        onclick="nightMode()">
                </div>
            </div>
        </nav>
    </header>
    <!-- navbar end -->
    <button type="button" class="backtop" id="btn-back-to-top">
        <a href=""> <i class="fas fa-arrow-up"></i></a>
    </button>

    </div>
    <div class="wrapper">
        <section class="our-service-banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="{% static 'images/sh-cut.png' %}" alt="sh" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <h2>Smart Home</h2>
                        <h4>
                            Light up your world for every occasion and emotion.
                        </h4>
                        <p>
                            Elevate your home ambience with eGlu’s smart lighting solutions. Manage your lights, create
                            color schemes to suit your moods or automate your lighting set-up-all at the touch of a
                            button
                        </p>

                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="service-container">
                    <div class="video-con">
                        <div id="dayLight">
                            <div class="video-sec">
                                <video src="{% static 'images/day-final.mp4'%}" autoplay="autoplay" muted loop></video>
                            </div>
                        </div>
                        <div id="night">
                            <div class="video-sec">
                                <video src="{% static 'images/night-final.mp4'%}" autoplay="autoplay" muted
                                    loop></video>
                            </div>
                        </div>
                    </div>
                    <div class="hov-serv">
                        <div class="day click-btn" id="dayBtn" onclick="dayFun()">
                            <div class="btns-vec"><span><img src="{% static 'images/day-vector.png' %}" alt="day">Day
                                    Scene</span>
                            </div>
                        </div>
                        <div class="night click-btn" id="nightBtn" onclick="nightFun()">
                            <div class="btns-vec"><span><img src="{% static 'images/night-vector.png' %}"
                                        alt="day">night Scene</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="fg">
            <div class="sec-title reveal fade-left" data-wow-delay="0.1s">
                <h2></h2>
            </div>
            <div class="container">
                <div class="row my-4">
                    <div class="col-md-6">
                        <div class="col-banner">
                            <img src="{% static 'images/sh-1.png' %}" alt="sh" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Smart Home</h2>
                        <p>
                            Smart homes allow you to have greater control of your
                            energy use, all while automating things like adjusting temperature turning on and off
                            lights, opening and closing window treatments, and adjusting irrigation based on the
                            weather.
                        </p>
                        <a href="#" class="d-flex align-items-center">
                            <p class=" sec-btn-test" onclick="location.href='/seedemo'">See Demo</p>
                            <p><i class="fa-solid fa-chevron-right anim-icon"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row my-4">
                    <div class="col-md-6">
                        <h2>Smart Curtains</h2>
                        <p>
                            Smart curtains are automated window coverings that can be opened, closed, and adjusted via
                            remote control or integrated with home automation systems. They can help save energy by
                            managing the amount of sunlight that enters your home while also improving your home
                            security.
                        </p>
                        <a href="#" class="d-flex align-items-center">
                            <p class=" sec-btn-test" onclick="location.href='/curtain'">See Demo</p>
                            <p><i class="fa-solid fa-chevron-right anim-icon"></i></p>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="col-banner">
                            <img src="{% static 'images/curtains.png' %}" alt="sh" class="img-fluid">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <div class="container">
                <div class="row my-4">
                    <div class="col-md-6">
                        <div class="col-banner">
                            <img src="{% static 'images/vaccum-cleaner.png' %}" alt="sh" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>SMART VACCUM CLEANER</h2>
                        <p>
                            Smart homes allow you to have greater control of your
                            energy use, all while automating things like adjusting temperature turning on and off
                            lights, opening and closing window treatments, and adjusting irrigation based on the
                            weather. Smart curtains are automated window coverings that can be opened, closed, and
                            adjusted via remote control or integrated with home automation systems. They can help save
                            energy by managing the amount of sunlight that enters your home while also improving your
                            home security.
                        </p>

                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row my-4">
                    <div class="col-md-6">
                        <h2>Security system</h2>
                        <p>
                            The future of curtains and blinds is here Add a curtain controller to your curtains and have
                            a convenient and stylish way to manage natural light and privacy in your home.
                        </p>
                        <a href="#" class="d-flex align-items-center">
                            <p class=" sec-btn-test" onclick="location.href='/securitySystem'">See Demo</p>
                            <p><i class="fa-solid fa-chevron-right anim-icon"></i></p>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="col-banner">
                            <img src="{% static 'images/security.png' %}" alt="sh" class="img-fluid">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <div class="container">
                <div class="row my-4">
                    <div class="col-md-6">
                        <div class="col-banner">
                            <img src="{% static 'images/doorlock.svg' %}" alt="sh" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Smart door lock</h2>
                        <p>
                            Onwords smart locks provide superior security with features such as 360-degree fingerprint
                            recognition, RFID card, password access, OTP, remote access and mechanical key .With our
                            innovative and cutting-edge digital smart door locks, you can be assured of the ultimate
                            safety solution for your home or office.
                        </p>

                    </div>

                </div>
            </div>
        </section>
        <!-- <section class="ourservice-sec">
            <div class="container">
                <div class="sec-title reveal fade-left" data-wow-delay="0.1s">
                    <h2>Smart Home</h2>
                </div>
                <div class="row">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="anim-style">
                                    <div class="anim-box">
                                        <p class="pos"> <img src="{% static 'images/fans.png' %}" alt="web"
                                                class="img-fluid"></p>
                                        <p class="pos-1">Fan/Light <br> Automation</p>
                                    </div>
                                    <div class="anim-box">
                                        <p class="pos"> <img src="{% static 'images/watertank.png'%}" alt="web"
                                                class="img-fluid"></p>
                                        <p class="pos-1">Water Tank </p>
                                    </div>
                                    <div class="anim-box">
                                        <p class="pos"> <img src="{% static 'images/lock.png' %}" alt="web"
                                                class="img-fluid"></p>
                                        <p class="pos-1">Door Lock</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="anim-style">
                                    <div class="anim-box">
                                        <p class="pos"> <img src="{% static 'images/vaccum.png' %}" alt="web"
                                                class="img-fluid"></p>
                                        <p class="pos-1">Vaccum Cleaner</p>
                                    </div>
                                    <div class="anim-box">
                                        <p class="pos"> <img src="{% static 'images/ac.png' %}" alt="web"
                                                class="img-fluid"></p>
                                        <p class="pos-1">Ac Control</p>
                                    </div>
                                    <div class="anim-box">
                                        <p class="pos"> <img src="{% static 'images/curtain-banner.png' %}" alt="web"
                                                class="img-fluid"></p>
                                        <p class="pos-1">Curtain</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row my-4 align-items-center">
                    <div class="col">
                        <img src="{% static 'images/blackfan.png' %}" alt="" class="img-fluid jk">
                    </div>
                    <div class="col">
                        <h2>Fan Automation</h2>
                        <p>Automated fan control measures temperature and humidity at two points – the floor and the
                            ceiling. This information is used to calculate the heat index. The heat index is the “feels
                            like” temperature, not the actual air temperature. Based on the heat index, the automated
                            fan speed control software identifies the best operating speed and direction. Then it runs
                            the fans accordingly.
                            <br><br>
                            Using the automated fan control is as simple as selecting the desired temperature range and
                            leaving it to do its work. When the temperature rises above the desired temperature range,
                            the fans will automatically run in the forward direction and create a cooling effect. If the
                            temperature drops below the desired temperature range, the automated fan control will run
                            the fans in the reverse direction to redistribute the warm air overhead and eliminate hot
                            and cold spots without generating a discernible breeze.
                        </p>
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col">
                        <h2>Light Automation</h2>
                        <p>“Smart lighting” is one of those things that, as trends for “smart” everything grow,
                            electrical contractors are dealing with more and more. In fact, it’s not just smart homes,
                            but plans for entire smart cities that represent opportunities for electrical contractors to
                            expand their skills and sign on to new, profitable projects. According to the US-based
                            Independent Electrical Contractors, smart lighting controls are a key to success for the
                            people who use them, in more ways than one: “A well-chosen solution also enables superior
                            lighting performance, code compliance, better space utilization, and delivers the right
                            lighting environment for the people in the space.” As an area that is creating considerable
                            new opportunities for contractors, it’s a good idea to be familiar with the various
                            benefits. </p>
                    </div>
                    <div class="col">
                        <img src="{% static 'images/lights.png' %}" alt="" class="img-fluid jk">
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col">
                        <img src="{% static 'images/as.jpg' %}" alt="" class="img-fluid jk">
                    </div>
                    <div class="col">
                        <h2>Water Tank</h2>
                        <p>“Smart lighting” is one of those things that, as trends for “smart” everything grow,
                            electrical contractors are dealing with more and more. In fact, it’s not just smart homes,
                            but plans for entire smart cities that represent opportunities for electrical contractors to
                            expand their skills and sign on to new, profitable projects. According to the US-based
                            Independent Electrical Contractors, smart lighting controls are a key to success for the
                            people who use them, in more ways than one: “A well-chosen solution also enables superior
                            lighting performance, code compliance, better space utilization, and delivers the right
                            lighting environment for the people in the space.” As an area that is creating considerable
                            new opportunities for contractors, it’s a good idea to be familiar with the various
                            benefits. </p>
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    
                    <div class="col">
                        <h2>Door Lock</h2>
                        <p>“Smart lighting” is one of those things that, as trends for “smart” everything grow,
                            electrical contractors are dealing with more and more. In fact, it’s not just smart homes,
                            but plans for entire smart cities that represent opportunities for electrical contractors to
                            expand their skills and sign on to new, profitable projects. According to the US-based
                            Independent Electrical Contractors, smart lighting controls are a key to success for the
                            people who use them, in more ways than one: “A well-chosen solution also enables superior
                            lighting performance, code compliance, better space utilization, and delivers the right
                            lighting environment for the people in the space.” As an area that is creating considerable
                            new opportunities for contractors, it’s a good idea to be familiar with the various
                            benefits. </p>
                    </div>
                    <div class="col">
                        <img src="{% static 'images/doorlock.png' %}" alt="" class="img-fluid jk">
                    </div>

                </div>
                <div class="row my-4 align-items-center">
                    <div class="col">
                        <img src="{% static 'images/rf.jpg' %}" alt="" class="img-fluid jk">
                    </div>

                    <div class="col">
                        <h2>Vaccum Cleaner</h2>
                        <p>“Smart lighting” is one of those things that, as trends for “smart” everything grow,
                            electrical contractors are dealing with more and more. In fact, it’s not just smart homes,
                            but plans for entire smart cities that represent opportunities for electrical contractors to
                            expand their skills and sign on to new, profitable projects. According to the US-based
                            Independent Electrical Contractors, smart lighting controls are a key to success for the
                            people who use them, in more ways than one: “A well-chosen solution also enables superior
                            lighting performance, code compliance, better space utilization, and delivers the right
                            lighting environment for the people in the space.” As an area that is creating considerable
                            new opportunities for contractors, it’s a good idea to be familiar with the various
                            benefits. </p>
                    </div>
                   
                </div>
                <div class="row my-4 align-items-center">
                   

                    <div class="col">
                        <h2>Ac Control</h2>
                        <p>“Smart lighting” is one of those things that, as trends for “smart” everything grow,
                            electrical contractors are dealing with more and more. In fact, it’s not just smart homes,
                            but plans for entire smart cities that represent opportunities for electrical contractors to
                            expand their skills and sign on to new, profitable projects. According to the US-based
                            Independent Electrical Contractors, smart lighting controls are a key to success for the
                            people who use them, in more ways than one: “A well-chosen solution also enables superior
                            lighting performance, code compliance, better space utilization, and delivers the right
                            lighting environment for the people in the space.” As an area that is creating considerable
                            new opportunities for contractors, it’s a good idea to be familiar with the various
                            benefits. </p>
                    </div>
                    <div class="col">
                        <img src="{% static 'images/acc.png' %}" alt="" class="img-fluid jk">
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col">
                        <img src="{% static 'images/ghj.jpg' %}" alt="" class="img-fluid jk" style="border-radius: 20px;">
                    </div>

                    <div class="col">
                        <h2>Curtain</h2>
                        <p>“Smart lighting” is one of those things that, as trends for “smart” everything grow,
                            electrical contractors are dealing with more and more. In fact, it’s not just smart homes,
                            but plans for entire smart cities that represent opportunities for electrical contractors to
                            expand their skills and sign on to new, profitable projects. According to the US-based
                            Independent Electrical Contractors, smart lighting controls are a key to success for the
                            people who use them, in more ways than one: “A well-chosen solution also enables superior
                            lighting performance, code compliance, better space utilization, and delivers the right
                            lighting environment for the people in the space.” As an area that is creating considerable
                            new opportunities for contractors, it’s a good idea to be familiar with the various
                            benefits. </p>
                    </div>
                  

                </div>
            </div>
        </section> -->

        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <img src="{% static 'images/logos.png' %}" alt="" class="img-fluid sdf">
                        <p>Onwords Smart Solutions <br>
                            RR Garden, Zamin Muthur, <br>
                            Pollachi,
                            Coimbatore, IN - 642 005 <br>
                        <div class="fgh">
                            <span><a href="tel:7708630275" class="footer-list"><i class="fa-solid fa-phone"></i> 77086 30275</a></span>
                            <br><br>
                            <span><a href="mailto:cs@onwords.in"class="footer-list"><i
                                        class="fa-solid fa-envelope"></i>cs@onwords.in</a></span>
                        </div>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <ul class="listx">
                            <h5>Quick Links</h5>
                            <li><a href="/" class="footer-list">Home</a></li>
                            <li><a href="/ourservices" class="footer-list">Our Services</a></li>
                            <li><a href="" class="footer-list">Security System</a></li>
                            <li><a href="" class="footer-list">Our App</a></li>
                            <li><a href="" class="footer-list">About Us</a></li>
                            <li><a href="" class="footer-list">Contact</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="listx">
                            <h5>Our Services</h5>
                            <li><a href="" class="footer-list">Smart Home</a></li>
                            <li><a href="" class="footer-list">Web /App Devlopment</a></li>
                            <li><a href="" class="footer-list">Digital Marketing</a></li>
                            <li><a href="" class="footer-list">UI & UX Designing</a></li>
                            <li><a href="" class="footer-list">Graphic Designing</a></li>
                            <li><a href="" class="footer-list">Construction</a></li>
                        </ul>

                    </div>

                    <div class="col-sm-12 col-md-4">
                        <h5 >Subscribe Us</h5>
                        <input type="email" name="" id="" class="mails" placeholder="Enter Your Email"><br>
                        <button type="submit" class="sub">Subscribe</button>
                        <div class="row my-4">
                            <div class="col df">
                                <a href="https://www.youtube.com/@OnwordsSmartSolutions" target="_blank"><img
                                        src="{% static 'images/youtube.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://www.facebook.com/teamonwords" target="_blank">
                                    <img src="{% static 'images/facebook.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://www.instagram.com/team.onwords/
                               " target="_blank">
                                    <img src="{% static 'images/instagram.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="" target="_blank">
                                    <img src="{% static 'images/linkedin.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col df">
                                <a href="https://twitter.com/TeamOnwords
                              " target="_blank">
                                    <img src="{% static 'images/twitter.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="jg">
                                <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                    <img src="{% static 'images/play.png' %}" alt="df" class="img-fluid">
                                </a>
                                <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                        src="{% static 'images/apple.png' %}" alt="" class="img-fluid"></a>

                            </div>
                        </div>
                    </div>
                    <hr class="text-white">
                    <span class="text-center" style="text-align: center;"> © Copyright ©2023
                        Onwords. All Rights Reserved | Privacy Policy</span>
                </div>

            </div>
        </section>
    </div>


    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{%static 'js/main.js' %}"></script>
    <script src="{% static 'js/ourservices.js' %}"></script>
    <!-- carousel slider end -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>

    <!-- Calling Slick Library -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- carousel slider script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- bs-4 -->
    <script>
        const dayLight = document.getElementById('dayLight')
        const night = document.getElementById('night')
        const dayBtn = document.getElementById('dayBtn')
        const nightBtn = document.getElementById('nightBtn')

        dayBtn.addEventListener('click', (e) => {
            event.preventDefault();
            dayLight.style.display = 'block'
            night.style.display = 'none'
        })
        nightBtn.addEventListener('click', (e) => {
            event.preventDefault();
            dayLight.style.display = 'none'
            night.style.display = 'block'
        })


        // ---topbtn start
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        // ---topbtn end

    </script>




</body>

</html>