<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta name="keyword" content="smart home, Voice controlled home,Smart home voice control,Voice assisted home automation,Voice and mobile home control, Gate automation,Remote gate control,Smart gate technology,automatic gate, remote control gate, IoT, mobile control gate">
    <meta name="description" content="Onwords offers advanced smart home and gate automation solutions in Coimbatore. Explore our range of products including smart curtains, vacuum cleaners, security systems, and door locks for a futuristic and secure living experience.">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/ourservice.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="../static/main-webp/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!-- bs-4 -->
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <title>Automatic Gates | Home Automation | Security Systems</title>
    </head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C79YW2LCJ1');
</script>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="preloader"></div>
<!-- navbar start -->
<header>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/main-webp/onwords-logo.svg" alt="logo"
                                                  class="img-fluid logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
        <span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
        <span class="off text-white"><i class="fa-solid fa-x"></i></span>
    </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Our Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item active-nav" href="/ourservices">Smart Home</a></li>
                            <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                            <li><a class="dropdown-item" href="/contact-9">Water tank Automation</a></li>
                            <li><a class="dropdown-item" href="/solar">Solar</a></li>
                            <li><a class="dropdown-item" href="/Audios">Sound System</a></li>

                            <li><a class="dropdown-item" href="/contact-9">Web/App Devlopment</a></li>
                            <li><a class="dropdown-item" href="/construction">Construction</a></li>
                            <li><a class="dropdown-item" href="/smartlock">Purchase Smart Locks</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/securitySystem">Security System</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ourApp">App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-9">Contact us</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/downloads">Videos/Brochure</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/fields">Get Quote</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <button type="button" class="backtop" id="btn-back-to-top">
        <a href="#"><i class="fas fa-arrow-up"></i></a>
    </button>
    <button id="whatsapp">
        <a href="https://wa.me/+917708630275" target="_blank">
            <img src="../static/main-webp/whatsapp-ico.webp" alt="whatsapp" class="lazy-load">
        </a>
    </button>
    <section class="our-service-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="../static/main-webp/sh-cut.webp" alt="smarthome" class="img-fluid">
                </div>
                <div class="col-md-6 waviy">
                    <h2>Smart Home</h2>
                    <h4>
                        Light up your world for every occasion and emotion.
                    </h4>
                    <p>
                        Elevate your home ambience with eGlu’s smart lighting solutions. Manage your lights, create
                        color schemes to suit your moods or automate your lighting set-up-all at the touch of a
                        button.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="service-container">
                <div class="video-con">
                    <div id="dayLight">
                        <div class="video-sec">
                            <video src="../static/main-webp/day-final.mp4" autoplay="autoplay" muted
                                   loop></video>
                        </div>
                    </div>
                    <div id="night">
                        <div class="video-sec">
                            <video src="../static/main-webp/night-final.mp4" autoplay="autoplay" muted
                                   loop></video>
                        </div>
                    </div>
                </div>
                <div class="hov-serv">
                    <div class="day click-btn" id="dayBtn" onclick="dayFun()">
                        <div class="btns-vec"><span><img src="../static/main-webp/day-vector.webp"
                                                         alt="day scene image">Day
                                    Scene</span>
                        </div>
                    </div>
                    <div class="night click-btn" id="nightBtn" onclick="nightFun()">
                        <div class="btns-vec"><span><img src="../static/main-webp/night-vector.webp"
                                                         alt="night scene image">night Scene</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="top-smart-home-page">
        <div class="container">
            <div class="row smarthome-parlarx-row">
                <div class="col-md-6">
                    <div class="content-smart">
                        <h2 class="">Smart Home</h2>
                        <p class="reveal text-left fade-b" data-wow-delay="0.1s">
                            Smart homes allow you to have greater control of your
                            energy use, all while automating things like adjusting temperature turning on and off
                            lights, opening and closing window treatments, and adjusting irrigation based on the
                            weather.
                        </p>
                        <a href="#">
                            <button class="see-demo" onclick="location.href='/seedemo'">see demo</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../static/main-webp/sh-1.webp" alt="Smart Home Automation System" class="img-fluid smart-below-img">
                </div>
            </div>
            <div class="row smarthome-parlarx-row">
                <div class="col-md-6">
                    <img src="../static/main-webp/curtains.jpg" alt="Smart Home Automation System" class="img-fluid smart-below-img">
                </div>
                <div class="col-md-6">
                    <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                        <h2>Smart Curtains</h2>
                        <p class="reveal fade-b" data-wow-delay="0.1s">
                            Smart curtains are automated window coverings that can be opened, closed, and adjusted via
                            remote control or integrated with home automation systems. They can help save energy by
                            managing the amount of sunlight that enters your home while also improving your home
                            security.
                        </p>
                        <a href="#">
                            <button class="see-demo" onclick="location.href='/curtain'">see demo</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row smarthome-parlarx-row">
                <div class="col-md-6">
                    <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                        <h2>Smart Vaccum Cleaner</h2>
                        <p class="reveal  fade-b" data-wow-delay="0.1s">
                            Introducing the next evolution in home cleaning – our Smart Vacuum Cleaner. Designed to simplify your life and transform your living space, this cutting-edge appliance combines intelligent technology with exceptional cleaning power. Say goodbye to mundane chores and hello to a cleaner, smarter home.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../static/main-webp/vaccum-cleaner.webp" alt="vaccum cleaner" class="img-fluid smart-below-img">
                </div>
            </div>
            <div class="row smarthome-parlarx-row">
                <div class="col-md-6">
                    <img src="../static/main-webp/security.webp" alt="security system" class="img-fluid smart-below-img">
                </div>
                <div class="col-md-6">
                    <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                        <h2>Security system</h2>
                        <p class="reveal  fade-b" data-wow-delay="0.1s">

                            Ajax security Systems . We create solutions that stand on the cutting edge of technology and science — then we put those innovations into our devices. Ajax devices operate in the most extreme conditions, always ready to protect against tragedy.to manage natural light and privacy in your home.
                        </p>
                        <a href="#">
                            <button class="see-demo" onclick="location.href='/securitySystem'">see demo</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row smarthome-parlarx-row">
                <div class="col-md-6">
                    <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                        <h2>Smart door lock</h2>
                        <p class="reveal  fade-b" data-wow-delay="0.1s">
                            Onwords smart locks provide superior security with features such as 360-degree fingerprint
                            recognition, RFID card, password access, OTP, remote access and mechanical key .With our
                            innovative and cutting-edge digital smart door locks, you can be assured of the ultimate
                            safety solution for your home or office.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../static/main-webp/doorlock.webp" alt="door lock" class="img-fluid smart-below-img">
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="company-list-1">
                        <h5>Company</h5>
                        <li>
                            <p onclick="location.href='/aboutus'">About Us</p>
                        </li>
                        <li>
                            <p onclick="location.href='/contact-9'">Contact Us</p>
                        </li>
                        <li>
                            <p onclick="location.href='/ourApp'">Our App</p>
                        </li>
                        <li>
                            <p onclick="location.href='/gallery'">Gallery</p>
                        </li>
                        <li>
                            <p onclick="location.href='/careers'">Careers</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="our-services-foot">
                        <h5>Our Services</h5>
                        <li>
                            <p onclick="location.href='/ourservices'">Smart Home</p>
                        </li>
                        <li>
                            <p onclick="location.href='/gateautomation'">Gate Automation</p>
                        </li>
                        <li>
                            <p onclick="location.href='/securitySystem'">Security System</p>
                        </li>
                        <li>
                            <p onclick="location.href='/curtain'">Smart Curtain</p>
                        </li>
                        <li>
                            <p onclick="location.href='/construction'"> Constructions</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="quick-links-foot">
                        <h5>Quick Links</h5>
                        <li>
                            <p onclick="location.href='/'"> Home</p>
                        </li>
                        <li>
                            <p onclick="location.href='/ourservices'">Our Services</p>
                        </li>
                        <li>
                            <p onclick="location.href='/securitySystem'">Security System</p>
                        </li>
                        <li>
                            <p onclick="location.href='/refund'">Refunds & Cancellations</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class=" onwords-details-foot">
                        <h5>Connect With Us</h5>
                        <div class="footer-foot icon">
                            <p onclick="window.open('//www.linkedin.com/company/onwords-smart-solution/')">
                                <i class="fa-brands fa-linkedin"></i>
                            </p>
                            <p onclick="window.open('//www.instagram.com/team.onwords/')">
                                <i class="fa-brands fa-instagram"></i>
                            </p>
                            <p onclick="window.open('//www.facebook.com/teamonwords/')">
                                <i class="fa-brands fa-facebook"></i>
                            </p>
                            <p onclick="window.open('//www.youtube.com/@OnwordsSmartSolutions/')">
                                <i class="fa-brands fa-square-youtube"></i>
                            </p>
                        </div>
                        
                        <br>
                        <div>
                            <p>Onwords, Coimbatore - 642 005</p>
                            <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                    class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                            <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                    class="fa-solid fa-phone"></i> 77086 30275</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-app-foot onwords-details-foot ">
                        <h5>Our Apps</h5>
                        <div class="app-google-store">
                            <a href="https://play.google.com/store/apps/details?id=com.onwords.smart_things&hl=en_IN&gl=US" target="_blank">
                                <img src="../static/main-webp/play.webp" alt="play store" class="img-fluid">
                            </a>
                            <a href="https://apps.apple.com/in/app/onwords-smart-things/id6449142647" target="_blank"><img
                                    src="../static/main-webp/apple.webp" alt="apple storw" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="text-white">
            <div class="bootom-footer">
                <div>
                    <p class="pointer"><span>©2024
                        Onwords. All Rights Reserved </span><span onclick="location.href='/disclaimer'">| Privacy Policy</span> | <span onclick="location.href='/privacyPolicy'">Terms of Use</span> </p>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/js/general.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>