{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="discription"
        content="Our products and services · Smart lights · Vacuum cleaner · Smart security · Gate Automation · Smart Curtains · Agri automation.">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/ourservice.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" href="{% static 'main-webp/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}?{% now 'U' %}">


    <!-- bs-4 -->
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}?{% now 'U' %}">
    <title>Our Service | onwords</title>
</head>

<body id="bodyTag">
    <!-- navbar start -->
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'main-webp/logos-main.webp' %}" alt="logo"
                        class="img-fluid logo"></a>
                <div class="darkmodemob" id="darkbuttonmob">
                    <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun toggle" class="img-fluid sunmob">
                    <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid nightmob">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><span class="text-white onnav"><i
                                class="fa-solid fa-bars"></i></span>
                        <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                                <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                                <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                                <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                                <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">Our App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="darkmode" id="darkbutton">
                    <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun Toggle" class="img-fluid sun">
                    <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid night">
                </div>
            </div>
        </nav>
    </header>
    <!-- navbar end -->
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img data-src="{% static 'main-webp/whatsapp-ico.webp' %}" alt="whatsapp" class="lazy-load">
            </a>
        </button>
    </div>

 <section>
    <div class="wrapper-sec elem" >
        <div class="bloc">
            <canvas id="canvas"></canvas>
        </div>
      </div>
 </section>
 <section class="top-smart-home-page">
   <div class="container">
    <div class="row smarthome-parlarx-row">
        <div class="col-md-6">
            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                <h2>Smart Home</h2>
                        <p>
                            Smart homes allow you to have greater control of your
                            energy use, all while automating things like adjusting temperature turning on and off
                            lights, opening and closing window treatments, and adjusting irrigation based on the
                            weather.
                        </p>
                        <a href="#">
                            <button class="see-demo" onclick="location.href='/seedemo'">see demo</button>
                        </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'main-webp/sh-1.webp' %}" alt="" class="img-fluid smart-below-img">
        </div>
    </div>
    <div class="row smarthome-parlarx-row">
        <div class="col-md-6">
            <img src="{% static 'main-webp/curtains.webp' %}" alt="" class="img-fluid smart-below-img">
        </div>
        <div class="col-md-6">
            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                <h2>Smart Curtains</h2>
                <p>
                    Smart curtains are automated window coverings that can be opened, closed, and adjusted via
                    remote control or integrated with home automation systems. They can help save energy by
                    managing the amount of sunlight that enters your home while also improving your home
                    security.
                </p>
                <a href="#">
                    <button class="see-demo" onclick="location.href='/curtain'">see demo</button>
                </a>
            </div>
        </div>
        
    </div>
    <div class="row smarthome-parlarx-row">
        <div class="col-md-6">
            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                <h2>SMART VACCUM CLEANER</h2>
                        <p>
                            Smart homes allow you to have greater control of your
                            energy use, all while automating things like adjusting temperature turning on and off
                            lights, opening and closing window treatments, and adjusting irrigation based on the
                            weather. Smart curtains are automated window coverings that can be opened, closed, and
                            adjusted via remote control or integrated with home automation systems. They can help save
                            energy by managing the amount of sunlight that enters your home while also improving your
                            home security.
                        </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'main-webp/vaccum-cleaner.webp' %}" alt="" class="img-fluid smart-below-img">
        </div>
    </div>
    <div class="row smarthome-parlarx-row">
        <div class="col-md-6">
            <img src="{% static 'main-webp/security.webp' %}" alt="" class="img-fluid smart-below-img">
        </div>
        <div class="col-md-6">
            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                <h2>Security system</h2>
                <p>
                    The future of curtains and blinds is here Add a curtain controller to your curtains and have
                    a convenient and stylish way to manage natural light and privacy in your home.
                </p>
                <a href="#">
                    <button class="see-demo" onclick="location.href='/securitySystem'">see demo</button>
                </a>
            </div>
        </div>
        
    </div>
    <div class="row smarthome-parlarx-row">
        <div class="col-md-6">
            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                <h2>Smart door lock</h2>
                <p>
                    Onwords smart locks provide superior security with features such as 360-degree fingerprint
                    recognition, RFID card, password access, OTP, remote access and mechanical key .With our
                    innovative and cutting-edge digital smart door locks, you can be assured of the ultimate
                    safety solution for your home or office.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'main-webp/doorlock.webp' %}" alt="" class="img-fluid smart-below-img">
        </div>
    </div>
   </div>
 </section>
  <section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="company-list-1">
                    <h5>Company</h5>
                    <li>
                        <p onclick="location.href='/aboutus'">About Us</p>
                    </li>
                    <li>
                        <p onclick="location.href='/contact'">Contact Us</p>
                    </li>
                    <li>
                        <p onclick="location.href='/ourApp'">Our App</p>
                    </li>
                    <li>
                        <p onclick="location.href='/gallery'">Gallery</p>
                    </li>
                    <li>
                        <p onclick="location.href='/carrier'">Carrers</p>
                    </li>


                </ul>

            </div>
            <div class="col-md-2">
                <ul class="our-services-foot">
                    <h5>Our Services</h5>
                    <li>
                        <p onclick="location.href='/ourservices'">Smart Home</p>
                    </li>
                    <li>
                        <p onclick="location.href='/gateautomation'">Gate Automation</p>
                    </li>
                    <li>
                        <p onclick="location.href='/securitySystem'">Security System</p>
                    </li>
                    <li>
                        <p onclick="location.href='/curtain'">Smart Curtain</p>
                    </li>
                    <li>
                        <p onclick="location.href='/construction'"> Constructions</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="quick-links-foot">
                    <h5>Quick Links</h5>
                    <li>
                        <p onclick="location.href='/'"> Home</p>
                    </li>
                    <li>
                        <p onclick="location.href='/ourservices'">Our Services</p>
                    </li>
                    <li>
                        <p onclick="location.href='/securitySystem'">Security System</p>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <div class=" onwords-details-foot">
                    <h5>Connect With Us</h5>
                    <div class="footer-foot">
                        <a href="https://www.linkedin.com/company/onwords-smart-solution/
                    " target="_blank" class="footer-social-icon"></i><i class="fa-brands fa-linkedin"></i></a>

                        <a href="https://www.instagram.com/team.onwords/
                        " target="_blank" class="footer-social-icon"></i><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="https://https://www.facebook.com/teamonwords/
                        " target="_blank" class="footer-social-icon"></i><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.youtube.com/@OnwordsSmartSolutions/
                        " target="_blank" class="footer-social-icon"></i> <i
                                class="fa-brands fa-square-youtube"></i></i></a>
                    </div>


                    <div class="footer-foot">

                    </div>
                    <br>
                    <div>
                        <p>Onwords Smart Solutions
                            Coimbatore, IN - 642 005</p>
                        <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                        <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                class="fa-solid fa-phone"></i> 77086
                            30275</p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="our-app-foot ">
                    <h5>Our Apps</h5>
                    <div class="app-google-store">
                        <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                            <img src="{% static 'main-webp/play.webp' %}" alt="playstore" class="img-fluid">
                        </a>
                        <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                src="{% static 'main-webp/apple.webp' %}" alt="apple store"
                                class="img-fluid"></a>
                    </div>

                </div>
            </div>
        </div>
        <hr class="text-white">
        <div class="bootom-footer">
            <div>
                <p>Copyright ©2023
                    Onwords. All Rights Reserved | </p>
            </div>
            <div>
                <ul class="footer-bottom">
                    <li>
                        <p onclick="location.href='/disclaimer'">Privacy Policy</p>
                    </li>
                    <li>
                        <p onclick="location.href='/privacyPolicy'">Terms of Use</p>
                    </li>
                    <li>
                        <p>Sales and Refunds</p>
                    </li>
                    <li>
                        <p>Legal</p>
                    </li>
                    <li>
                        <p>Site Map</p>
                    </li>
                </ul>
            </div>
        </div>
</section>

    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <!-- <script src="{%static 'js/main.js' %}"></script> -->
    <script src="paralx.js"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <!-- carousel slider end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <!-- bs-4 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>

</html>