<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta name="description"
        content="With an unwavering commitment to creativity and a futuristic mindset, we set out to redefine the way homes are connected and automated. At the heart of Onwords&nbsp;...">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Ffavicon.ico?alt=media&token=c523e1c5-6c24-48fe-84d3-6e090de9ef8c" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <title>Refund & Cancellation Policy | onwords</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C79YW2LCJ1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C79YW2LCJ1');
    </script>
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1529103170856060');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1529103170856060&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="preloader"></div>
    <!-- navbar start -->
    {% include "navbar.html" %}

    <!-- navbar end -->
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img src="https://firebasestorage.googleapis.com/v0/b/onwords-in.appspot.com/o/images%2Fwhatsapp-ico.webp?alt=media&token=44745185-f1e5-4d37-b7b5-111fb36c81af" alt="whatsapp">
            </a>
        </button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content login-reg ">
                <div class="modal-body ">
                    <div type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <center>
                        <h2>Book A Free Demo</h2>
                        <p>Onwords smart solutions helps unlock the Amazing spaces to create
                            durable and innovative
                            experience </p>
                        <form action="" class="quot-form">
                            <div class="form-row">

                                <input type="text" required="required" />
                                <span>Name</span>
                            </div>

                            <div class="form-row">
                                <input type="number" required="required" />
                                <span>Mobile Number</span>
                            </div>
                            <div class="form-row">
                                <input type="text" required="required" />
                                <span>Location</span>
                            </div>
                            <div class="form-row">
                                <input type="text" required="required" />
                                <span>Description</span>
                            </div>
                            <button type="submit" class="s-btn">
                                <div class="module-border-wrap">
                                    <div class="module">
                                        Get Started
                                    </div>
                                </div>
                            </button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="refund-con">
            <center>
                <h2 class="my-3">Return, Refund, Replacement and Cancellation Policy </h2>
            </center>
            <h5>Returns and Refunds: </h5>
            <p>To maintain the quality and integrity of our merchandise, the return of services shall not entitle any
                refund. However, as our commitment is focused towards providing the best possible customer service, we
                provide immediate attention to the issue and replacement of components if applicable and the best
                possible resolution </p>
            <h5>Replacement: </h5>
            <p>As our offering is based on service, replacement is not applicable in this case.</p>
            <h5>Cancellation: </h5>
            <p>
                Cancellations shall be made before the initiation of a service. To initiate such a cancellation, please
                contact our customer support team. Any payment made for canceled services will be refunded on time,
                using the original payment method. For services that have already been initiated, our cancellation
                policy will not apply. We value our customers’ satisfaction and are committed to doing our best to
                address any concern or issue that may arise during our customers’ interactions with our services. We are
                committed to delivering high-quality services to meet their requirements. Our customer support team will
                always be ready to assist them in the best possible manner.
            </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/general.js"></script>
</body>
</html>