<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <meta name="description" content="Secure your world with cutting-edge security systems from onwords, proudly partnered with AJAX. Our range of advanced security solutions, featuring state-of-the-art AJAX technology, ensures unparalleled protection and peace of mind. From sophisticated surveillance to responsive alarms, we offer reliable and intelligent security tailored to modern needs. Trust onwords and AJAX to safeguard what matters most to you.">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="shortcut icon" href="../static/main-webp/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <title>Onwords x Ajax | Security Systems | Advanced Surveillance | Intelligent Alarms | Advanced Surveillance | Safety Solutions | Smart Security | Reliable Protection | Integrated Security | High-Tech Safety
    </title>
</head>
<body class="security-bg">
    <div id="preloader"></div>
    <div class="wrapper">
        <!-- navbar start -->
        <header>
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="../static/main-webp/onwords-logo.svg" alt="logo"
                            class="img-fluid logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
        <span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
        <span class="off text-white"><i class="fa-solid fa-x"></i></span>
    </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Our Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                    <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                    <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                                </ul>
                            </li>
                            <li class="nav-item active-nav">
                                <a class="nav-link" href="/securitySystem">Security System</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ourApp">Our App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact-9">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- navbar end -->
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img src="../static/main-webp/whatsapp-ico.webp" alt="whatsapp">
                </a>
            </button>
        </div>
        <div class="security-home">
            <video src="../static/main-webp/ajax-video.mp4" muted autoplay loop></video>
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="security-sec">
                            <div class="sec-title">
                                <h2>Your Protection in an imperfection world </h2>
                            </div>
                            <p class="text-center reveal fade-b" data-wow-delay="0.1s">
                                At Ajax, we believe that people shouldn’t have to live in fear in today's world. Our
                                continually
                                evolving security system gives people peace of mind. When you're under the reliable
                                protection
                                of Ajax, you're safe from thieves, fires or leaks that can cause real harm to property
                                and
                                people.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section>
        <section class="second-ajax-sec reveal fade-bottom " data-wow-delay="0.1s"></section>
        <div class="sec-title reveal fade-left" data-wow-delay="0.1s">
            <h2>Innovation to protect</h2>
        </div>
        <section class="third">
            <video src="../static/main-webp/ajax-1.webm" loop autoplay muted></video>
        </section>
        <div class="sec-title reveal fade-left " data-wow-delay="0.1s">
            <h2>Our Products</h2>
            <h4>Wireless security devices of the Ajax system</h4>
        </div>
        <section class="fourth-ajax"></section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 px-5">
                        <h4>Control panels</h4>
                        <p>
                            Hub is a reinvented security system control panel. Acting as a central unit for all system
                            devices, Ajax hub instantly notifies users and a security company of alarm activation at a
                            facility.
                        </p>
                    </div>
                    <div class="col-md-3 px-5">
                        <h4>
                            Door Protect
                        </h4>
                        <p>
                            Wireless opening detector that notifies of first signs of room intrusion by means of a
                            broken door or window. It can be mounted on all types of doors including a metal base.
                        </p>
                    </div>
                    <div class="col-md-3 px-5">
                        <h4>
                            Fire detection
                        </h4>
                        <p>
                            fire detectors alert users via connected sirens, mobile app, SMS, or call. Multiple
                            detectors connected to the hub can activate an alarm synchronously if at least one of them
                            is triggered
                        </p>
                    </div>
                    <div class="col-md-3 px-5">
                        <h4>Motion Protect</h4>
                        <p>
                            Wireless motion detector that notifies the owner of the first signs of home or office
                            intrusion. The detector is fastened to the wall in front of the doors and other places
                            likely of intruder entry
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="secure-video">
            <video src="../static/main-webp/secure-video.mp4" muted autoplay loop></video>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="motion-secure">
                            <h2>Motion Cam Outdoor</h2>
                            <h6>Wireless motion detector taking photos by alarm and on demand</h6>
                            <ul class="li-sec">
                                <li>Special lens</li>
                                <li>Intellect against false alarms</li>
                                <li>Filter for thermal interferences</li>
                                <li>Unique wireless technologies</li>
                                <li>Sensitivity level</li>
                                <li>More security</li>
                                <li>Professional installation</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../static/main-webp/motion-cam.png" alt="motion-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-motion-img  reveal fade-opacity" data-wow-delay="0.1s">
                            <img src="../static/main-webp/ajax-component-3.png" alt="ajax-component"
                                class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-motion-content">
                            <h1>Dual Curtain Outdoor</h1>
                            <p>Two detectors in one</p>
                            <p>Masking sensors</p>
                            <p>Unique optical sysytems</p>
                            <p>Flexible settings of detection zones</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="secure-video">
            <video src="../static/main-webp/constructor-bg.mp4" muted loop autoplay></video>
            <div class="secure-video-text">
                <h2>Choose the most suitable Ajax set in 2 <br> minutes</h2>
            </div>
        </section>
        <section>
            <div class="last-ajax">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-center justify-content-center e-ajx">
                            <p class="dg-ajax left-ajax">We stand</p>
                            <img src="../static/main-webp/lastajax-gif.gif" alt="lastajax" class=" img-fluid">
                            <p class="dg-ajax right-ajax">against evil </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="company-list-1">
                        <h5>Company</h5>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/contact-9">Contact Us</a></li>
                        <li><a href="/ourApp">Our App</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/careers">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="our-services-foot">
                        <h5>Our Services</h5>
                        <li>
                            <p onclick="location.href='/ourservices'">Smart Home</p>
                        </li>
                        <li>
                            <p onclick="location.href='/gateautomation'">Gate Automation</p>
                        </li>
                        <li>
                            <p onclick="location.href='/securitySystem'">Security System</p>
                        </li>
                        <li>
                            <p onclick="location.href='/curtain'">Smart Curtain</p>
                        </li>
                        <li>
                            <p onclick="location.href='/construction'"> Constructions</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="quick-links-foot">
                        <h5>Quick Links</h5>
                        <li>
                            <p onclick="location.href='/'"> Home</p>
                        </li>
                        <li>
                            <p onclick="location.href='/ourservices'">Our Services</p>
                        </li>
                        <li>
                            <p onclick="location.href='/securitySystem'">Security System</p>
                        </li>
                        <li>
                            <p onclick="location.href='/refund'">Refunds & Cancellations</p>
                          </li>
                        
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class=" onwords-details-foot">
                        <h5>Connect With Us</h5>
                        <div class="footer-foot icon">
                            <p onclick="location.href='//www.linkedin.com/company/onwords-smart-solution/'"><i
                                    class="fa-brands fa-linkedin"></i></p>
                            <p onclick="location.href='//www.instagram.com/team.onwords/'" target=" _blank">
                                <i class="fa-brands fa-instagram"></i>
                            </p>
                            <p onclick="location.href='//www.facebook.com/teamonwords/'
                                " target="_blank"><i class="fa-brands fa-facebook"></i>
                            </p>
                            <p onclick="location.href='//www.youtube.com/@OnwordsSmartSolutions/'" target=" _blank"><i
                                    class="fa-brands fa-square-youtube"></i></p>
                        </div>
                        <br>
                        <div>
                            <p>Onwords, Coimbatore - 642 005</p>
                            <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                    class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                            <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                    class="fa-solid fa-phone"></i> 77086 30275</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-app-foot onwords-details-foot ">
                        <h5>Our Apps</h5>
                        <div class="app-google-store">
                            <a href="https://play.google.com/store/apps/details?id=com.onwords.smart_things&hl=en_IN&gl=US">
                              <img src="../static/main-webp/play.webp" alt="play store" class="img-fluid">
                            </a>
                            <a href="https://apps.apple.com/in/app/onwords-smart-things/id6449142647"><img
                                src="../static/main-webp/apple.webp" alt="apple storw" class="img-fluid"></a>
                          </div>
                    </div>
                </div>
            </div>
            <hr class="text-white">
            <div class="bootom-footer">
                <div>
                    <p class="pointer"><span>©2023
                        Onwords. All Rights Reserved </span><span onclick="location.href='/disclaimer'">| Privacy Policy</span> | <span onclick="location.href='/privacyPolicy'">Terms of Use</span> </p>
                </div>
            </div>
        </div>
    </section>
    <script>
        (function () {
            init();

            var g_containerInViewport;
            function init() {
                setStickyContainersSize();
                bindEvents();
            }

            function bindEvents() {
                window.addEventListener("wheel", wheelHandler);
            }

            function setStickyContainersSize() {
                document.querySelectorAll('.sticky-container').forEach(function (container) {
                    const stikyContainerHeight = container.querySelector('main').scrollWidth;
                    container.setAttribute('style', 'height: ' + stikyContainerHeight + 'px');
                });
            }

            function isElementInViewport(el) {
                const rect = el.getBoundingClientRect();
                return rect.top <= 0 && rect.bottom > document.documentElement.clientHeight;
            }

            function wheelHandler(evt) {

                const containerInViewPort = Array.from(document.querySelectorAll('.sticky-container')).filter(function (container) {
                    return isElementInViewport(container);
                })[0];

                if (!containerInViewPort) {
                    return;
                }

                var isPlaceHolderBelowTop = containerInViewPort.offsetTop < document.documentElement.scrollTop;
                var isPlaceHolderBelowBottom = containerInViewPort.offsetTop + containerInViewPort.offsetHeight > document.documentElement.scrollTop;
                let g_canScrollHorizontally = isPlaceHolderBelowTop && isPlaceHolderBelowBottom;

                if (g_canScrollHorizontally) {
                    containerInViewPort.querySelector('main').scrollLeft += evt.deltaY;
                }
            }
        })();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/general.js"></script>
</body>
</html>