{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="One-click security management, remote configuration and professional monitoring.">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/security-system.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" href="{% static 'main-webp/favicon.ico' %}?{% now 'U' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}?{% now 'U' %}">

    <!-- bs-4 -->
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}?{% now 'U' %}">


    <title>Ajax | onwords</title>
</head>

<body class="security-bg">
    <div class="wrapper">
        <!-- navbar start -->
        <header>
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="{% static 'main-webp/onwords-logo.svg' %}" alt="logo"
                            class="img-fluid logo"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><span class="text-white onnav"><i
                                    class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Our Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                    <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                    <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                                </ul>
                            </li>

                            <li class="nav-item active-nav">
                                <a class="nav-link" href="/securitySystem">Security System</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ourApp">Our App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </nav>
        </header>
        <!-- navbar end -->
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img src="{% static 'main-webp/whatsapp-ico.webp' %}" alt="whatsapp">
                </a>
            </button>
        </div>
        <div class="security-home">
            <video src="{% static 'main-webp/ajax-video.mp4'%}" muted autoplay loop></video>
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="security-sec">
                            <div class="sec-title reveal fade-left" data-wow-delay="0.1s">
                                <h2>Your Protection in an imperfection world </h2>
                            </div>
                            <p class="text-center">
                                At Ajax, we believe that people shouldn’t have to live in fear in today's world. Our
                                continually
                                evolving security system gives people peace of mind. When you're under the reliable
                                protection
                                of Ajax, you're safe from thieves, fires or leaks that can cause real harm to property
                                and
                                people.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section>
        <section class="second-ajax-sec reveal fade-bottom " data-wow-delay="0.1s"></section>
        <div class="sec-title reveal fade-left" data-wow-delay="0.1s">
            <h2>Innovation to protect</h2>
        </div>
        <section class="third-ajax-sec reveal fade-top text-white " data-wow-delay="0.1s">
            <div class="container">
                <div class="row dg-col">
                    <div class="col-md-2">
                        <div class="d-flex my-3">
                            <span class="px-4">
                                <img src="{% static 'main-webp/ajaxd.svg' %}" alt="ajax">
                            </span>
                            <span class="">
                                <h4>Technologies</h4>
                                <p class="ajax-tex">
                                    Our proprietary technologies
                                    radio communication encryption, digital algorithms are invented in-house by our
                                    engineers.
                                </p>
                            </span>
                        </div>
                        <div class="d-flex my-3">
                            <span class="px-4">
                                <img src="{% static 'main-webp/devic.svg' %}" alt="ajax">
                            </span>
                            <span class="sj">
                                <h4>Devices</h4>
                                <p class="ajax-tex">
                                    Ajax detectors combine the best components with conceptual design.
                                </p>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <div class="d-flex my-3">
                            <span class="px-4">
                                <img src="{% static 'main-webp/ajaxd.svg' %}" alt="ajax">
                            </span>
                            <span class="">
                                <h4>Apps</h4>
                                <p class="ajax-tex">
                                    Convenient and powerful software makes a complex system simple to manage.
                                </p>
                            </span>
                        </div>
                        <div class="d-flex my-3">
                            <span class="px-4">
                                <img src="{% static 'main-webp/infrac.svg' %}" alt="ajax">
                            </span>
                            <span class="">
                                <h4>Infrastructure</h4>
                                <p class="ajax-tex">
                                    A reliable cloud with 99.9% fault tolerance and advanced encryption.
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="sec-title reveal fade-left " data-wow-delay="0.1s">
            <h2>Our Products</h2>
            <h4>Wireless security devices of the Ajax system</h4>
        </div>
        <section class="fourth-ajax"></section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 px-5">
                        <h4>Control panels</h4>
                        <p>
                            Hub is a reinvented security system control panel. Acting as a central unit for all system
                            devices, Ajax hub instantly notifies users and a security company of alarm activation at a
                            facility.
                        </p>
                    </div>
                    <div class="col-md-3 px-5">
                        <h4>
                            DoorProtect
                        </h4>
                        <p>
                            Wireless opening detector that notifies of first signs of room intrusion by means of a
                            broken door or window. It can be mounted on all types of doors including a metal base.
                        </p>
                    </div>
                    <div class="col-md-3 px-5">
                        <h4>
                            Fire detection
                        </h4>
                        <p>
                            fire detectors alert users via connected sirens, mobile app, SMS, or call. Multiple
                            detectors connected to the hub can activate an alarm synchronously if at least one of them
                            is triggered
                        </p>
                    </div>
                    <div class="col-md-3 px-5">
                        <h4>MotionProtect</h4>
                        <p>
                            Wireless motion detector that notifies the owner of the first signs of home or office
                            intrusion. The detector is fastened to the wall in front of the doors and other places
                            likely of intruder entry
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="secure-video">
            <video src="{% static 'main-webp/secure-video.mp4' %}" muted autoplay loop></video>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Motion Cam Outdoor</h2>
                        <h6>Wireless motion detector taking photos by alarm and on demand</h6>

                        <p>Special lens</p>
                        <p>Intellect against false alarms</p>
                        <p>Filter for thermal interferences</p>
                        <p>Unique wireless technologies</p>
                        <p>Sensitivity level</p>
                        <p>More security</p>
                        <p>Professional installation</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'main-webp/motion-cam.png' %}" alt="motion-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="right-motion-content">
                            <h1>Dual Curtain Outdoor</h1>
                            <h5>Two detectors in one</h5>
                            <h5>Masking sensors</h5>
                            <h5>Unique optical sysytems</h5>
                            <h5>Flexible settings of detection zones</h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-motion-img">
                            <img src="{% static 'main-webp/ajax-component-3.png' %}" alt="ajax-component"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="secure-video">
            <video src="{% static 'main-webp/constructor-bg.mp4' %}" muted loop autoplay></video>
        </section>
        <section>
            <div class="last-ajax">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-center justify-content-center e-ajx">
                            <p class="dg-ajax left-ajax">We stand</p>
                            <img src="{% static 'main-webp/lastajax-gif.gif' %}" alt="lastajax" class=" img-fluid">
                            <p class="dg-ajax right-ajax">against evil </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="company-list-1">
                        <h5>Company</h5>
                        <li>
                            <p onclick="location.href='/aboutus'">About Us</p>
                        </li>
                        <li>
                            <p onclick="location.href='/contact'">Contact Us</p>
                        </li>
                        <li>
                            <p onclick="location.href='/ourApp'">Our App</p>
                        </li>
                        <li>
                            <p onclick="location.href='/gallery'">Gallery</p>
                        </li>
                        <li>
                            <p onclick="location.href='/carrier'">Career</p>
                        </li>
                    </ul>

                </div>
                <div class="col-md-2">
                    <ul class="our-services-foot">
                        <h5>Our Services</h5>
                        <li>
                            <p onclick="location.href='/ourservices'">Smart Home</p>
                        </li>
                        <li>
                            <p onclick="location.href='/gateautomation'">Gate Automation</p>
                        </li>
                        <li>
                            <p onclick="location.href='/securitySystem'">Security System</p>
                        </li>
                        <li>
                            <p onclick="location.href='/curtain'">Smart Curtain</p>
                        </li>
                        <li>
                            <p onclick="location.href='/construction'"> Constructions</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="quick-links-foot">
                        <h5>Quick Links</h5>
                        <li>
                            <p onclick="location.href='/'"> Home</p>
                        </li>
                        <li>
                            <p onclick="location.href='/ourservices'">Our Services</p>
                        </li>
                        <li>
                            <p onclick="location.href='/securitySystem'">Security System</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <div class=" onwords-details-foot">
                        <h5>Connect With Us</h5>
                        <div class="footer-foot icon">
                            <p onclick="location.href='//www.linkedin.com/company/onwords-smart-solution/'"><i
                                    class="fa-brands fa-linkedin"></i></p>
                            <p onclick="location.href='//www.instagram.com/team.onwords/'" target=" _blank">
                                <i class="fa-brands fa-instagram"></i>
                            </p>
                            <p onclick="location.href='//www.facebook.com/teamonwords/'
                                " target="_blank"><i class="fa-brands fa-facebook"></i>
                            </p>
                            <p onclick="location.href='//www.youtube.com/@OnwordsSmartSolutions/'" target=" _blank"
                               ><i class="fa-brands fa-square-youtube"></i></p>
                        </div>

                        <div class="footer-foot">


                        </div>
                        <br>
                        <div>
                            <p>Onwords Smart Solutions
                                Coimbatore, IN - 642 005</p>
                            <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                    class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                            <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                    class="fa-solid fa-phone"></i> 77086
                                30275</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-app-foot onwords-details-foot ">
                        <h5>Our Apps</h5>
                        <div class="app-google-store">
                            <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                <img src="{% static 'main-webp/play.webp' %}" alt="playstore" class="img-fluid">
                            </a>
                            <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                    src="{% static 'main-webp/apple.webp' %}" alt="apple store" class="img-fluid"></a>
                        </div>

                    </div>
                </div>
            </div>
            <hr class="text-white">
            <div class="bootom-footer">
                <div>
                    <p class="pointer">©2023
                        Onwords. All Rights Reserved |<span onclick="location.href='/disclaimer'">Privacy Policy</span>
                        | <span onclick="location.href='/privacyPolicy'">Terms of Use</span> </p>
                </div>
                <div>

                </div>
            </div>
    </section>



    <!-- Preloader -->
    <script>
        /**
    * By Alvaro Trigo 
    * Follow me on Twitter: https://twitter.com/imac2
    */
        (function () {
            init();

            var g_containerInViewport;
            function init() {
                setStickyContainersSize();
                bindEvents();
            }

            function bindEvents() {
                window.addEventListener("wheel", wheelHandler);
            }

            function setStickyContainersSize() {
                document.querySelectorAll('.sticky-container').forEach(function (container) {
                    const stikyContainerHeight = container.querySelector('main').scrollWidth;
                    container.setAttribute('style', 'height: ' + stikyContainerHeight + 'px');
                });
            }

            function isElementInViewport(el) {
                const rect = el.getBoundingClientRect();
                return rect.top <= 0 && rect.bottom > document.documentElement.clientHeight;
            }

            function wheelHandler(evt) {

                const containerInViewPort = Array.from(document.querySelectorAll('.sticky-container')).filter(function (container) {
                    return isElementInViewport(container);
                })[0];

                if (!containerInViewPort) {
                    return;
                }

                var isPlaceHolderBelowTop = containerInViewPort.offsetTop < document.documentElement.scrollTop;
                var isPlaceHolderBelowBottom = containerInViewPort.offsetTop + containerInViewPort.offsetHeight > document.documentElement.scrollTop;
                let g_canScrollHorizontally = isPlaceHolderBelowTop && isPlaceHolderBelowBottom;

                if (g_canScrollHorizontally) {
                    containerInViewPort.querySelector('main').scrollLeft += evt.deltaY;
                }
            }
        })();
    </script>

    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/general.js' %}"></script>
    <!-- <script src="{% static 'js/demo.js' %}"></script> -->
    <!-- carousel slider end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>