<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/packages.css">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />
  <script src="../static/js/quotation.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.0/css/all.min.css" integrity="sha512-ykRBEJhyZ+B/BIJcBuOyUoIxh0OfdICfHPnPfBy7eIiyJv536ojTCsgX8aqrLQ9VJZHGz4tvYyzOM0lkgmQZGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Quotation</title>
</head>
<body>
  <div class="container mt-1">
    <div class="top">
      <nav>
        <h2 class="htitle">Choose Package</h2>
      </nav>
  
      <div class="stepper-wrapper col-md-12">
          <div onclick="quotation_home()" class="stepper-item completed">
            <div class="step-counter"><i class="fas fa-check"></i></div>
            <div class="step-name">Choose Catagory</div>
          </div>
          <div class="stepper-item active">
            <div class="step-counter">2</div>
            <div class="step-name">Choose Package</div>
          </div>
          <div class="stepper-item ">
            <div class="step-counter">3</div>
            <div class="step-name">Quotation</div>
          </div> 
        </div>
      </div>
        <div class="container mt-2">
          <a onclick="back()"><img src="../static/img/back.png" alt="back" width="9" class="back"></a>
          <div class="row">
                <div class="col-md-6 ">
                  <a onclick="Livingtech_premium()" class="grid">
                    <img src="../static/img/Smart_home/image5.jpg" width="200" alt="Livingtech Premium" class="col2">
                        <div class="details">
                          <span class="title">Livingtech Premium</span>
                        </div>
                        <div class="arro">
                          <span class="arrow"><img src="../static/img/arrow.png" alt="arrow"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                  <a onclick="Intellihome_ultimate()" class="grid">
                    <img src="../static/img/Smart_home/image6.jpg" width="200" alt="IntelliHome Ultimate" class="col2">
                        <div class="details">
                          <span class="title">IntelliHome Ultimate</span>
                        </div>
                        <div class="arro">
                          <span class="arrow"><img src="../static/img/arrow.png" alt="arrow"></span>
                        </div>
                    </a>
              </div>
            </div>
        </div>          
    </div>
      
    </body>
    </html>