{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- bs-4 -->
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}">
    <title>Onwords</title>


    <!-- cdn link -->



    <!-- cdn link -->
    <title>Onwords</title>
</head>

<body id="bodyTag">
    <div class="wrapper">
        <!-- navbar start -->
        <header>
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="{% static 'images/logos.png' %}" alt="logo"
                            class="img-fluid logo"></a>
                            <div class="darkmodemob" id="darkbuttonmob">
                                <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sunmob">
                                <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid nightmob">
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Our Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                    <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                    <li><a class="dropdown-item" href="/agriautomation">Agri Automation</a></li>
                                    <li><a class="dropdown-item" href="#">Software & Hardware</a></li>
                                    <li><a class="dropdown-item" href="#">Web/App Devlopment</a></li>
                                    <li><a class="dropdown-item" href="#">Ui&Ux Designing</a></li>
                                    <li><a class="dropdown-item" href="#">Graphics Designing</a></li>
                                    <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                    <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/securitySystem">Security System</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ourApp">Our App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>

                        <form class="d-flex">
                            <div class="module-border-wrap">
                                <div class="module">
                                    Get Started
                                </div>
                            </div>
                        </form>
                    </div>
                   
                    <div class="darkmode" id="darkbutton">
                        <img src="{% static 'images/sun-wh.svg' %}" alt="" class="img-fluid sun">
                        <img src="{% static 'images/moon-wh.svg' %}" alt="" class="img-fluid night">
                    </div>
                </div>
            </nav>
        </header>
        <!-- navbar end -->
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="whatsapp:contact=0123456789@s.whatsapp.com&message='' ">
                    <img src="{% static 'images/whatsapp-ico.svg' %}" alt="whatsapp">
                </a>
            </button>
           </div>
        <div class="demo mob-demo">
            <div class="sf">
                <!-- <video src="{% static 'images/anim-night.mp4' %}" class="img-fluid night-tv" muted loop
                    autoplay></video> -->
                <audio id="audio" src="{% static 'images/hueaudio.mp3' %}"></audio>
                <video src="{% static 'images/day-4k.mp4' %}" class="img-fluid day" muted loop autoplay></video>
                <video src="{% static 'images/night-out.mp4' %}" class="img-fluid night" muted loop autoplay></video>
                <!-- <video src="{% static 'images/animation-dark.mp4' %}" class="img-fluid day" muted loop autoplay></video>
                <video src="{% static 'images/day-tv-on.mp4' %}" class="img-fluid day-tv" muted loop autoplay></video>
                <video src="{% static 'images/day.mp4' %}" class="img-fluid night" muted loop autoplay></video> -->
                <video src="{% static 'images/nigh.mp4' %}" class="img-fluid hue" muted loop autoplay></video>
                <!-- <video src="{% static 'images/tv-on-anim.mp4' %}" class="img-fluid hue-off" muted loop autoplay></video> -->
            </div>
            <div class="sfh">
                <div class="jh">
                    <h6 class="title-word text-white">
                        Press play to start Syncing
                    </h6>
                    <div class=" blurred-box">
                        <img src="{% static 'images/scene.png' %}" alt="scene">
                        <p class="display">
                            <span>Night</span>
                            <span class="TvText">Off</span>
                        </p>
                        <p>
                            <label class="switch">
                                <input type="checkbox" onclick="tv()" id="tv">
                                <span class="slider round"></span>
                            </label>
                        </p>
                    </div>
                    <div class=" blurred-box">
                        <img src="{% static 'images/hue.png' %}" alt="scene">
                        <p class="display">
                            <span>Hue</span>
                            <span class="hueText">Off</span>
                        </p>
                        <p>
                            <label class="switch">
                                <input type="checkbox" onclick="hue()" id="hueBtn">
                                <span class="slider round"></span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="mic" onclick="play()">
                    <img src="{% static 'images/w-volume.svg' %}" alt="" class="volume-black-slash">
                    <img src="{% static 'images/volumeup-white.svg' %}" alt="" class="volume-black">
                </div>
                <div class="micoff" onclick="playoff()">
                    <img src="{% static 'images/w-volume.svg' %}" alt="" class="volume-black-slash">
                </div>
            </div>
        </div>
        <div class="second-section">

            <div class="sec-title reveal fade-left center-tex-hue" data-wow-delay="0.1s">
                <h2>Light your home smarter <br> Onwords Hue</h2>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{% static 'images/sync.png' %}" alt="sync" class="gfh img-fluid">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <h3 class="fs-1">Sync with Tv</h3>
                            <p class="fs-5">
                                The Hue Sync TV app works with native smart apps such as Netflix and Disney+, HDMI
                                devices, and set-top boxes. In short: anything you watch on your screen.
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="fs-1">Create the right <br> atmosphere</h3>
                            <p class="fs-5">
                                The Hue Sync TV app works with native smart apps such as Netflix and Disney+, HDMI
                                devices, and set-top boxes. In short: anything you watch on your screen.
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <img src="{% static 'images/create-atmosphere.png' %}" alt="sync" class="img-fluid">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{% static 'images/gaming-mode.svg' %}" alt="sync" class="gfh img-fluid">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <h3 class="fs-1">Gaming Mode</h3>
                            <p class="fs-5">
                                The Hue Sync TV app works with native smart apps such as Netflix and Disney+, HDMI
                                devices, and set-top boxes. In short: anything you watch on your screen.
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="fs-1">Party mode</h3>
                            <p class="fs-5">
                                We use specially created algorithms to ensure that each light script, which tells your
                                lights how to react to the music, is perfectly tuned to each song — not just the beat
                                but the overall feeling of the music.
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <img src="{% static 'images/party-mode.png' %}" alt="sync" class="img-fluid">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{% static 'images/cntr.png' %}" alt="sync" class="gfh img-fluid">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <h3 class="fs-1">Controls with</h3>
                            <p class="fs-5">
                                Control all your onwords Hue lights, whether you use Bluetooth or Hue Bridge. The main
                                app for the Onwords Hue system, it allows you to turn your lights on and off, create
                                automations and timers, sync your lights to your TV and music, and even upgrade your
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </section>
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <img src="{% static 'images/logos.png' %}" alt="" class="img-fluid sdf">
                            <p>Onwords Smart Solutions <br>
                                RR Garden, Zamin Muthur, <br>
                                Pollachi,
                                Coimbatore, IN - 642 005 <br>
                            <div class="fgh">
                                <span><a href="tel:7708630275" class="footer-list"><i class="fa-solid fa-phone"></i>
                                        77086 30275</a></span>
                                <br><br>
                                <span><a href="mailto:cs@onwords.in" class="footer-list"><i
                                            class="fa-solid fa-envelope"></i>cs@onwords.in</a></span>
                            </div>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <ul class="listx">
                                <h5>Quick Links</h5>
                                <li><a href="/" class="footer-list">Home</a></li>
                                <li><a href="/ourservices" class="footer-list">Our Services</a></li>
                                <li><a href="" class="footer-list">Security System</a></li>
                                <li><a href="" class="footer-list">Our App</a></li>
                                <li><a href="" class="footer-list">About Us</a></li>
                                <li><a href="" class="footer-list">Contact</a></li>

                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <ul class="listx">
                                <h5>Our Services</h5>
                                <li><a href="" class="footer-list">Smart Home</a></li>
                                <li><a href="" class="footer-list">Web /App Devlopment</a></li>
                                <li><a href="" class="footer-list">Digital Marketing</a></li>
                                <li><a href="" class="footer-list">UI & UX Designing</a></li>
                                <li><a href="" class="footer-list">Graphic Designing</a></li>
                                <li><a href="" class="footer-list">Construction</a></li>
                            </ul>

                        </div>

                        <div class="col-sm-12 col-md-4">
                            <h5>Subscribe Us</h5>
                            <input type="email" name="" id="" class="mails" placeholder="Enter Your Email"><br>
                            <button type="submit" class="sub">Subscribe</button>
                            <div class="row my-4">
                                <div class="col df">
                                    <a href="https://www.youtube.com/@OnwordsSmartSolutions" target="_blank"><img
                                            src="{% static 'images/youtube.png' %}" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col df">
                                    <a href="https://www.facebook.com/teamonwords" target="_blank">
                                        <img src="{% static 'images/facebook.png' %}" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col df">
                                    <a href="https://www.instagram.com/team.onwords/
                                   " target="_blank">
                                        <img src="{% static 'images/instagram.png' %}" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col df">
                                    <a href="" target="_blank">
                                        <img src="{% static 'images/linkedin.png' %}" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col df">
                                    <a href="https://twitter.com/TeamOnwords
                                  " target="_blank">
                                        <img src="{% static 'images/twitter.png' %}" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="jg">
                                    <a href="https://play.google.com/store/apps/details?id=com.onwords.smarthome">
                                        <img src="{% static 'images/play.png' %}" alt="df" class="img-fluid">
                                    </a>
                                    <a href="https://apps.apple.com/in/app/onwords-smart-home/id1598367434"><img
                                            src="{% static 'images/apple.png' %}" alt="" class="img-fluid"></a>

                                </div>
                            </div>
                        </div>
                        <hr class="text-white">
                        <span class="text-center" style="text-align: center;"> © Copyright ©2023
                            Onwords. All Rights Reserved | Privacy Policy</span>
                    </div>

                </div>
            </section>
        </div>

    </div>


    <!-- Preloader -->


    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <!-- carousel slider end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>

    <!-- bs-4 -->
</body>

</html>