{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" href="{% static 'main-webp/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}?{% now 'U' %}">
    <!-- bs-4 -->
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}?{% now 'U' %}">
    <title>Onwords</title>
    <!-- cdn link -->
    <!-- cdn link -->
    <title>Onwords</title>
</head>
<body id="bodyTag">
    <div id="preloader"></div>
    <div class="wrapper">
        <!-- navbar start -->
        <header>
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="{% static 'main-webp/logos-main.webp' %}" alt="logo"
                            class="img-fluid logo"></a>
                    <div class="darkmodemob" id="darkbuttonmob">
                        <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun toggle" class="img-fluid sunmob">
                        <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid nightmob">
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><span class="text-white onnav"><i
                                    class="fa-solid fa-bars"></i></span>
                            <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active-nav" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Our Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                    <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>

                                    <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/securitySystem">Security System</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ourApp">Our App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="darkmode" id="darkbutton">
                        <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun Toggle" class="img-fluid sun">
                        <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid night">
                    </div>
                </div>
            </nav>
        </header>
        <!-- navbar end -->
        <div class="down-btn">
            <button type="button" class="backtop" id="btn-back-to-top">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </button>
            <button id="whatsapp">
                <a href="https://wa.me/+917708630275" target="_blank">
                    <img data-src="{% static 'main-webp/whatsapp-ico.webp' %}" alt="whatsapp" class="lazy-load">
                </a>
            </button>
        </div>
        <div class="demo-section">
            <div class=" container-fluid front-demo-section">

                <div class="main-anim">
                    <div class=""></div>
                    <div class=""></div>
                    <div class="media-brd">

                        <div id="audioButton" class="vol-group">
                            <img src="{% static 'main-webp/vol-on.webp' %}" alt="volume on" class="img-fluid vol-on">
                            <img src="{% static 'main-webp/vol-off.webp' %}" alt="volume off" class="img-fluid vol-off">
                        </div>
    
                        <span id="vidbutton">
                            <img src="{% static 'main-webp/pause.webp' %}" alt="pause" class="img-fluid PlayvideoBtn">
                            <img src="{% static 'main-webp/playBtn.webp' %}" alt="play" class="img-fluid offVideoBtn">
    
                        </span>
                    </div>
                    <div class="anim-press">
                        <h6 class="anim-press-btn">Press Play Button</h6>
                        <div class="press-play-btn">
                            <p class="synhue-text">Sync Hue <br>
                                <span class="text-warning text-indicate">Off</span>
                            </p>
                            <p>
                                <label class="switch">
                                    <input type="checkbox" id="demoBtn" onclick="demoPlay()">
                                    <span class="sliders round"></span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-src back-demo-section">
                <video src="{% static 'main-webp/hue-final-render.mp4' %}" class="img-fluid " loop autoplay
                    id="video-demos"></video>
                <img src="{% static 'main-webp/hue-tv-img.webp' %}" alt="background tv" class="img-flimg"
                    id="front-img"></img>
            </div>
        </div>
        <div class="second-section">
            <div class="sec-title reveal fade-left center-tex-hue" data-wow-delay="0.1s">
                <h2>Light your home smarter <br> Onwords Hue</h2>
            </div>
            <!-- aniation -->
            <section class="top-smart-home-page">
                <div class="container">
                    <div class="row smarthome-parlarx-row">
                        <div class="col-md-6">
                            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                                <h2>Sync with Tv</h2>
                                <p>
                                    The Hue Sync TV app works with native smart apps such as Netflix and Disney+, HDMI
                                    devices, and set-top boxes. In short: anything you watch on your screen.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'main-webp/sync.webp' %}" alt="sync" class="img-fluid smart-below-img">
                        </div>
                    </div>
                    <div class="row smarthome-parlarx-row">
                        <div class="col-md-6">
                            <img src="{% static 'main-webp/create-atmosphere.webp' %}" alt="atmosphere"
                                class="img-fluid smart-below-img">
                        </div>
                        <div class="col-md-6">
                            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                                <h2>Create the right <br> atmosphere</h2>
                                <p>
                                    Elevate your entertainment experience with Hue Sync. Watch your lights sync and dance in harmony with movies, music, and games, adding a new dimension to your viewing and listening pleasure
                                </p>

                            </div>
                        </div>

                    </div>
                    <div class="row smarthome-parlarx-row">
                        <div class="col-md-6">
                            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                                <h2>Gaming Mode</h2>
                                <p>
                                    Elevate your gaming experience to new heights by syncing your lights to the action, creating an immersive atmosphere that pulls you into the heart of the game. Whether you're exploring distant galaxies or battling on epic battlegrounds, Hue Gaming Mode takes your gameplay to the next level.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'main-webp/gaming-mode.webp' %}" alt="gamingmode"
                                class="img-fluid smart-below-img">
                        </div>
                    </div>
                    <div class="row smarthome-parlarx-row">
                        <div class="col-md-6">
                            <img src="{% static 'main-webp/party-mode.webp' %}" alt="paretymode"
                                class="img-fluid smart-below-img">
                        </div>
                        <div class="col-md-6">
                            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                                <h2>Party Mode</h2>
                                <p>
                                    Set the stage for unforgettable parties with Hue Smart Lighting  With Party Mode, your room transforms into a dynamic dance floor, pulsating with vibrant colors and rhythmic light effects that synchronize with the music. Get ready to unleash your inner DJ and create a party atmosphere that will have everyone on their feet and grooving to the beat.
                                </p>

                            </div>
                        </div>

                    </div>
                    <div class="row smarthome-parlarx-row">
                        <div class="col-md-6">
                            <div class="content-smart reveal fade-opacity" data-wow-delay="0.2s">
                                <h2>Controls with</h2>
                                <p>
                                    Control all your onwords Hue lights, whether you use Bluetooth or Hue Bridge. The main app for the Onwords Hue system, it allows you to turn your lights on and off, create automations and timers, sync your lights to your TV and music, and even upgrade your controls 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'main-webp/cntr.webp' %}" alt="controls"
                                class="img-fluid smart-below-img">
                        </div>
                    </div>
                </div>
            </section>
            <!-- end -->
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="company-list-1">
                                <h5>Company</h5>
                                <li>
                                    <p onclick="location.href='/aboutus'">About Us</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/contact'">Contact Us</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/ourApp'">Our App</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/gallery'">Gallery</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/careers'">Careers</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <ul class="our-services-foot">
                                <h5>Our Services</h5>
                                <li>
                                    <p onclick="location.href='/ourservices'">Smart Home</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/gateautomation'">Gate Automation</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/securitySystem'">Security System</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/curtain'">Smart Curtain</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/construction'"> Constructions</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <ul class="quick-links-foot">
                                <h5>Quick Links</h5>
                                <li>
                                    <p onclick="location.href='/'"> Home</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/ourservices'">Our Services</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/securitySystem'">Security System</p>
                                </li>
                                <li>
                                    <p onclick="location.href='/refund'">Refunds & Cancellations</p>
                                  </li>
                                  
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <div class=" onwords-details-foot">
                                <h5>Connect With Us</h5>
                                <div class="footer-foot icon">
                                    <p onclick="location.href='//www.linkedin.com/company/onwords-smart-solution/'"><i
                                            class="fa-brands fa-linkedin"></i></p>
                                    <p onclick="location.href='//www.instagram.com/team.onwords/'" target=" _blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </p>
                                    <p onclick="location.href='//www.facebook.com/teamonwords/'
                                        " target="_blank"><i class="fa-brands fa-facebook"></i>
                                    </p>
                                    <p onclick="location.href='//www.youtube.com/@OnwordsSmartSolutions/'"
                                        target=" _blank"><i class="fa-brands fa-square-youtube"></i></p>
                                </div>
                                <div class="footer-foot">
                                </div>
                                <br>
                                <div>
                                    <p>Onwords Smart Solutions
                                        Coimbatore, IN - 642 005</p>
                                    <p class="mail-foot" onclick="location.href='mailto:cs@onwords.in'"><i
                                            class="fa-solid fa-envelope"></i>cs@onwords.in</p>
                                    <p class="phone-foot" onclick="location.href='tel:7708630275'"><i
                                            class="fa-solid fa-phone"></i> 77086
                                        30275</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="our-app-foot onwords-details-foot ">
                                <h5>Our Apps</h5>
                                <div class="app-google-store">
                                    <a href="https://play.google.com/store/apps/details?id=com.onwords.smart_things&hl=en_IN&gl=US">
                                      <img src="{% static 'main-webp/play.webp' %}" alt="play store" class="img-fluid">
                                    </a>
                                    <a href="https://apps.apple.com/in/app/onwords-smart-things/id6449142647"><img
                                        src="{% static 'main-webp/apple.webp' %}" alt="apple storw" class="img-fluid"></a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <hr class="text-white">
                    <div class="bootom-footer">
                        <div>
                            <p class="pointer"><span>©2023
                                Onwords. All Rights Reserved </span><span onclick="location.href='/disclaimer'">| Privacy Policy</span> | <span onclick="location.href='/privacyPolicy'">Terms of Use</span> </p>
                            </p>
                        </div>
                        <div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
    <!-- Preloader -->
    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
    <!-- <script src="{%static 'js/audio.js'%}"></script> -->
    <script src="{% static 'js/general.js' %}"></script>
    <!-- carousel slider end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script>
        function demoPlay() {
            const DemoBtn = document.getElementById('demoBtn')
            const TextIndicate = document.querySelector('.text-indicate')
            const videoDemos = document.getElementById('video-demos')
            const frontImg = document.getElementById('front-img')
            // const videoPauseGroup = document.getElementById('video-pausegroup')

            if (DemoBtn.checked == true) {
                videoDemos.style.display = 'block'
                frontImg.style.display = 'none'
                TextIndicate.innerHTML = 'On'
            }
            if (DemoBtn.checked == false) {
                videoDemos.style.display = 'block'
                frontImg.style.display = 'block'
                TextIndicate.innerHTML = 'Off'
            }
        }

        const videoPlayer = document.getElementById('video-demos');
        const playPauseButton = document.getElementById('vidbutton');
        const muteUnmuteButton = document.getElementById('audioButton');
        var playVideoBtn = document.querySelector('.PlayvideoBtn')
        var offVideoBtn = document.querySelector('.offVideoBtn')
        const volOn = document.querySelector('.vol-on')
        const volOff = document.querySelector('.vol-off')

        playPauseButton.addEventListener('click', () => {
            if (videoPlayer.paused) {
                videoPlayer.play();
                offVideoBtn.style.display = 'none'
                playVideoBtn.style.display = 'block'
            } else {
                videoPlayer.pause();
                offVideoBtn.style.display = 'block'
                playVideoBtn.style.display = 'none '
            }
        });

        muteUnmuteButton.addEventListener('click', () => {
            if (videoPlayer.muted) {
                videoPlayer.muted = false;
                volOff.style.display = 'none'
                volOn.style.display = 'block'
            } else {
                videoPlayer.muted = true;
                volOff.style.display = 'block'
                volOn.style.display = 'none'
            }
        });
    </script>
    <!-- bs-4 -->
</body>
</html>