{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="With an unwavering commitment to creativity and a futuristic mindset, we set out to redefine the way homes are connected and automated. At the heart of Onwords&nbsp;...">
    <!-- bootstrap css -->

    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" href="{% static 'main-webp/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/security-system.css'  %}?{% now 'U' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}?{% now 'U' %}">




    <link rel="stylesheet" href="{% static 'css/general.css'  %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}?{% now 'U' %}">

    <title>About Us | onwords</title>
</head>

<body id="bodyTag">
    <div id="preloader"></div>
    <!-- navbar start -->
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'main-webp/onwords-logo.svg' %}" alt="logo"
                        class="img-fluid logo">
                </a>
                <div class="darkmodemob" id="darkbuttonmob">
                    <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun toggle" class="img-fluid sunmob">
                    <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid nightmob">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><span class="text-white onnav"><i
                                class="fa-solid fa-bars"></i></span>
                        <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">Our App</a>
                        </li>
                        <li class="nav-item active-nav">
                            <a class="nav-link " href="/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="darkmode" id="darkbutton">
                    <img src="{% static 'main-webp/sun-wh.webp' %}" alt="sun toggle" class="img-fluid sun">
                    <img src="{% static 'main-webp/moon-wh.webp' %}" alt="moon toggle" class="img-fluid night">
                </div>
            </div>
        </nav>
    </header>
    <!-- navbar end -->
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img data-src="{% static 'main-webp/whatsapp-ico.webp' %}" alt="whatsapp" class="lazy-load">
            </a>
        </button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content login-reg ">
                <div class="modal-body ">
                    <div type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <center>
                        <h2>Book A Free Demo</h2>
                        <p>Onwords smart solutions helps unlock the Amazing spaces to create
                            durable and innovative
                            experience </p>
                        <form action="" class="quot-form">
                            <div class="form-row">

                                <input type="text" required="required" />
                                <span>Name</span>
                            </div>

                            <div class="form-row">
                                <input type="number" required="required" />
                                <span>Mobile Number</span>
                            </div>
                            <div class="form-row">
                                <input type="text" required="required" />
                                <span>Location</span>
                            </div>
                            <div class="form-row">
                                <input type="text" required="required" />
                                <span>Description</span>
                            </div>
                            <button type="submit" class="s-btn">
                                <div class="module-border-wrap">
                                    <div class="module">
                                        Get Started
                                    </div>
                                </div>
                            </button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- =============shipping delivery -->

    <div class="wrapper">
        <div class="refund-con">

            <center>
                <h2 class="my-3">Shipping Delivery </h2>
            </center>

            <h4>Dispatch the delivery partner content: </h4>
            <p> Product or service is ready for delivery, it needs to be dispatched to the delivery partner, who will
                then take it to the customer.

                If you have a specific question or need more information about any part of this process, please feel
                free to ask, and I'll do my best to assist you.
                <br>
                Our product or service needs to be delivered to a customer within 18 hours of an order being placed.
            </p>


        </div>
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Delivery Packing</h4>
                <ul class="delivery-li">
                    <li>Secure delivery packing is essential.</li>
                    <li>Use sturdy boxes and cushioning for fragile items.</li>
                    <li>Seal packages with strong tape and labels.</li>
                    <li>Keep moisture and pests out with plastic wrap.</li>
                    <li>Protect confidential content with sealed envelopes.</li>
                    <li>Check for any leaks to prevent damage.</li>
                    <li>Label packages clearly for efficient handling.</li>
                    <li>Double-check addresses to avoid delivery errors.Prioritize safety to ensure happy customers.</li>
                    <li>Prioritize safety to ensure happy customers.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{% static 'main-webp/packing.jpg' %}" alt="packing" class="img-fluid rounded">
            </div>
        </div>
      </div>
    </div>

    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <script src="{%static 'js/general.js'%}"></script>
</body>

</html>