<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WXNGHSZD');</script>
    <!-- End Google Tag Manager -->
    <meta name="description"
        content="With an unwavering commitment to creativity and a futuristic mindset, we set out to redefine the way homes are connected and automated. At the heart of Onwords&nbsp;...">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="shortcut icon" href="../static/main-webp/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <title>About Us | onwords</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1E36RTXKSP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1E36RTXKSP');
    </script>
</head>
<body id="bodyTag">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXNGHSZD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="preloader"></div>
    <header>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="../static/main-webp/onwords-logo.svg" alt="logo"
                        class="img-fluid logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
        <span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
        <span class="off text-white"><i class="fa-solid fa-x"></i></span>
    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 sticky">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/ourservices">Smart Home</a></li>
                                <li><a class="dropdown-item" href="/gateautomation">Gate Automation</a></li>
                                <li><a class="dropdown-item" href="/construction">Onwords Construction</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/securitySystem">Security System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ourApp">Our App</a>
                        </li>
                        <li class="nav-item active-nav">
                            <a class="nav-link " href="/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact-9">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="down-btn">
        <button type="button" class="backtop" id="btn-back-to-top">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
        </button>
        <button id="whatsapp">
            <a href="https://wa.me/+917708630275" target="_blank">
                <img src="../static/main-webp/whatsapp-ico.webp" alt="whatsapp" class="lazy-load">
            </a>
        </button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content login-reg ">
                <div class="modal-body ">
                    <div type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <center>
                        <h2>Book A Free Demo</h2>
                        <p>Onwords smart solutions helps unlock the Amazing spaces to create
                            durable and innovative
                            experience </p>
                        <form action="" class="quot-form">
                            <div class="form-row">

                                <input type="text" required="required" />
                                <span>Name</span>
                            </div>

                            <div class="form-row">
                                <input type="number" required="required" />
                                <span>Mobile Number</span>
                            </div>
                            <div class="form-row">
                                <input type="text" required="required" />
                                <span>Location</span>
                            </div>
                            <div class="form-row">
                                <input type="text" required="required" />
                                <span>Description</span>
                            </div>
                            <button type="submit" class="s-btn">
                                <div class="module-border-wrap">
                                    <div class="module">
                                        Get Started
                                    </div>
                                </div>
                            </button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="refund-con">
            <center>
                <h2 class="my-3">SHIPPING & DELIVERY </h2>
            </center>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Our terms and conditions on shipping and delivery:</h4>
                        <ul class="delivery-li">
                            <li>We at onwords, normally dispatch all our orders within 48-72 hours of receiving the order. We deliver the products throughout the India, using our logistic partners DHL, Blue Dart, Speed Post, and other established Local Couriers depending upon the destination. Depending on the geographic location of the customer it may take about 3 to 12 working days to deliver the product to the destination.</li>
                            <li>The shipping time mentioned anywhere on our website is approximate and we cannot guarantee it.</li>
                            <li>If it is a case of a tailored product or a product that requires customization to meet a specific requirement of the customer, it would require more time for production, which might vary depending on the production requirement and quantity ordered. The progress on such custom orders would be periodically updated to the customer.</li>
                            <li>As our current service is primarily focused at national level, at present we support shipping only within India and are not involved in any international shipping. However, if you have any international shipping requirement, please feel free to contact our customer service team and check how we could be of help to you.</li>
                            <li>We offer no free shipping unless or otherwise stated. </li>
                            <li>Applicable shipping charges shall be intimated to the customer, if required at the time of order placement.</li>
                            <li>Order processing and shipping time: 9:00 AM – 5:00 PM (IST) during Business Days i.e., Monday to Friday only,</li>
                            <li>We encourage our customers to place orders even during Holidays, as we make our best efforts to ship the goods even during holidays; however we do not guarantee shipping or deliveries during public holidays.</li>
                            <li>Express shipping may incur additional charges and will be done based on the service availability of our delivery partners.</li>
                            <li>To avoid delays, we request our customers to plan their shopping & delivery in advance.</li>
                            <li>Customers are responsible for providing Shipping details which should include Proper Name, address with City / State/ Country, Postal code, Land Marks if any and also Telephone numbers with an alternate numbers to ensure proper delivery.</li>
                            <li>Onwords will make all efforts to deliver your purchased items at the earliest time possible, but we will not be responsible for any Loss/damage due to natural calamities, accidents, mistake by shipping service provider.</li>
                            <li>Onwords shall not be liable for any damages/loss due to lack of proper shipping information.</li>
                            <li>At the time of delivery, if you are unavailable to receive the package, the delivery partner / courier company would communicate with you and arrange for re-delivery or request you to pick it up from their office location. In case if you have provided the office address, due to security reasons products might get delivered at the security desk itself, so please coordinate with your security desk for appropriate handling and update of package at your security desk. </li>
                            <li>Onwords shall not be responsible for any delay caused by any unforeseen time lags by the courier companies in delivering the parcels to the customer, or if the customer is not available at the time of delivery.</li>
                            <li>Please note that any octroi duty or any other taxes or other similar charges levied by the local governing bodies, on the shipped package shall be borne by the customer.</li>
                        </ul>
                    </div>
                 </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/general.js"></script>
</body>
</html>