{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <link rel="stylesheet" href="{% static 'css/security-system.css'  %}">

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <!-- bootstrap css -->
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts-6/css/all.css' %}">

    <title>Onwords</title>
</head>

<body id="bodyTag">

    <div class="team"></div>
    <section class="">
        <div class="container">

            <div class="">
                <div class="privacy-title team-onwords-title">
                    <h2>Team-Onwords</h2>
                    <p class="fs-4">The creative crew behind Onwords</p>
                </div>
            </div>

            <div class="team-nav">
                <div id="myDIV" class="team-nav">
                    <button class="team-btn allBtn active">View all</button>
                    <button class="team-btn managementBtn ">Management</button>
                    <button class="team-btn padding-extra rndBtn">R&D</button>
                    <button class="team-btn itBtn">Information Technology</button>
                    <button class="team-btn prBtn">Public Relations</button>
                    <button class="team-btn padding-extra civilBtn">Civil</button>
                </div>
            </div>

            <div class="team-member allview">
                <section id="all">
                    <div class="d-flex w-100">
                        <!-- <div class="empl">
                        <div class="f-impl">
                            <img src="{% static 'images/ramkumar-group.png'%}" alt="" class="img-fluid img-title"
                                data-bs-toggle="popover" title="Ramkumar" data-bs-content="kjgjfjh">
                            <h6>P.Ramkumar</h6>
                            <p>Graphic Designer</p>
                        </div>
                        <div class="after-content">
                            <div class="top-bor"></div>
                            <div class="bot-bor"></div>
                            <div class="left-bor"></div>
                            <div class="right-bor"></div>
                            <h5>Ramkumar</h5>
                            <p>Graphic Designer</p>
                            <p><a href="mailto:ram@onwords.in">ram@onwords.in</a></p>
                        </div>
                    </div> -->





                    </div>
                </section>

                <section id="rnd">

                    <div class="d-f">
                        <div class="empls">
                            <div class="shape-line ram">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/ram-bro.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Raamkumar</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:raamkumar@onwords.in'">
                                    ram@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line prem">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/prem-r&d.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Raamkumar</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:prem@onwords.in'">
                                    prem@onwords.in</p>
                            </div>

                        </div>

                        <div class="empls">
                            <div class="shape-line yugan">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/yugan-r&d.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>yugan</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:yugan@onwords.in'">
                                    yugan@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line sathish">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/sathish-r&d.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Sathish Charles</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:sathish@onwords.in'">
                                    sathish@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line sp">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/sp-r&d.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Santha Prasanth</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:santhaprasanth@onwords.in'">
                                    santhaprasanth@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line mohan">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/mohan-r&d.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Mohan kumar</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:Mohankumar.k@onwords.in'">
                                    Mohankumar.k@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line anwar">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/anwar-r&d.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Ahamed Anwar</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:ahamed.anwar.k@onwords.in'">
                                    ahamed.anwar.k@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line ramprasath">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/ramkumar-r&di.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Ramprasath</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:raamprasath@onwords.in'">
                                    ramprasath@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line aravind">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/aravind-r&di.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Aravinthan</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:aravinthan@onwords.in'">
                                    aravinthan@onwords.in</p>
                            </div>

                        </div>

                        <div class="empls">
                            <div class="shape-line haresh">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/haresh-r&di.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Haresh</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:haresh.s@onwords.in'">
                                    haresh.s@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line gokul">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/gokul-r&di.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>GokulRaj</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:gokulraj@onwords.in'">
                                    gokulraj@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line naveen">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/navin-r&di.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Naveen</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:naveen.s@onwords.in'">
                                    naveen.s@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line santhosh">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/santhosh-r&di.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Santhosh</h6>
                                <p>R&D Ihrefalation</p>
                                <p class="email-link" onclick="location.href='mailto:santhosh.k@onwords.in'">
                                    santhosh.k@onwords.in</p>
                            </div>

                        </div>

                    </div>





                </section>


                <section id="management">Management</section>

                <section id="it">
                    <div class="d-f">
                        <div class="empls">
                            <div class="shape-line koushik">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/koushik-it.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Koushik Romel</h6>
                                <p>Web Development</p>
                                <p class="email-link" onclick="location.href='mailto:koushik@onwords.in'">
                                    koushik@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line ">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/vinith-it.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Vinith</h6>
                                <p>Web Development</p>
                                <p class="email-link" onclick="location.href='mailto:Vinith@onwords.in'">
                                    Vinith@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line ">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/-it.png' %}" alt="sanjeev" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Sanjeev</h6>
                                <p>Web Development</p>
                                <p class="email-link" onclick="location.href='mailto:sanjeev@onwords.in'">
                                    sanjeev@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line gokila">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/gokila-it.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Gokilavani</h6>
                                <p>Web Development</p>
                                <p class="email-link" onclick="location.href='mailto:gokilavani@onwords.in'">
                                    gokilavani@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line jibin">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/jibin-it.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Jibin k.John</h6>
                                <p>App Development</p>
                                <p class="email-link" onclick="location.href='mailto:jibin@onwords.in'">
                                    jibin@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line mohan">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/mohan-it.png' %}" alt="" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Mohan</h6>
                                <p>App Development</p>
                                <p class="email-link" onclick="location.href='mailto:mohan@onwords.in'">
                                    mohan@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line ">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/ganesh-med.png' %}" alt="sanjeev" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Ganesh</h6>
                                <p>Graphics Designer</p>
                                <p class="email-link" onclick="location.href='mailto:ganesh@onwords.in'">
                                    ganesh@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line jothi">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/jothi-med.png' %}" alt="sanjeev" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Jothiprakash</h6>
                                <p>Graphics Designer</p>
                                <p class="email-link" onclick="location.href='mailto:jothiprakash@onwords.in'">
                                    jothiprakash@onwords.in</p>
                            </div>

                        </div>
                        <div class="empls">
                            <div class="shape-line ram-med">
                                <div class="shape-box"></div>
                                <img src="{% static 'images/ram-med.png' %}" alt="sanjeev" class="img-fluid">

                            </div>
                            <div class="shape-text-con">
                                <h6>Ramkumar</h6>
                                <p>Graphics Designer</p>
                                <p class="email-link" onclick="location.href='mailto:ramkumar@onwords.in'">
                                    ramkumar@onwords.in</p>
                            </div>

                        </div>
                    </div>
                </section>

                <section id="pr">PR</section>

                <section id="civil">civil</section>
            </div>
        </div>

    </section>


    <!-- bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/data.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <!-- carousel slider end -->
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>

    <!-- check -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>