<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="P-q3zgP0sKvn7G_VKaSmU0C-btvY8WETXwF6yJr0VAU" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="shortcut icon" href="../static/main-webp/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/team.css">
    <link rel="stylesheet" href="../static/css/security-system.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/fonts-6/css/all.css">
    <title>Onwords</title>
</head>
<body id="bodyTag">
    <div id="preloader"></div>
    <section class="">
        <div class="container">
            <div class="">
                <div class="privacy-title team-onwords-title">
                    <h2>Team-Onwords</h2>
                    <p class="fs-4">The creative crew behind Onwords</p>
                </div>
            </div>
            <div class="team-nav">
                <div id="myDIV" class="team-nav">
                    <button class="team-btn allBtn active">View all</button>
                    <button class="team-btn managementBtn ">Management</button>
                    <button class="team-btn padding-extra rndBtn">R&D</button>
                    <button class="team-btn itBtn">Information Technology</button>
                    <button class="team-btn prBtn">Public Relations</button>
                    <button class="team-btn padding-extra civilBtn">Civil</button>
                </div>
            </div>
            <div class="team-member allview">
                <section id="all">
                    <div class="" id="team-s-main">
                        {%for name,email,department,profile in allteamsdetails%}
                        <div class="team-row">
                            <div class="profile-sec">
                                <img src="{{profile}}" alt=" profile">
                            </div>
                            <h6>{{name}}</h6>
                            <p>{{email}}</p>
                            <p>{{department}}</p>
                        </div>
                        {%endfor%}
                    </div>
                </section>
                <section id="rnd">
                    <div class="" id="team-s-main">
                        {%for name,email,department,profile in rndteam %}
                        <div class="team-row">

                            <div class="profile-sec">
                                <img src="{{profile}}" alt="profile">
                            </div>
                            <h6>{{name}}</h6>
                            <p>{{email}}</p>
                            <p>{{department}}</p>
                        </div>
                        {%endfor%}
                    </div>
                </section>
                <section id="management">
                    <div class="" id="team-s-main">
                        {%for name,email,department,profile in adminteam%}
                        <div class="team-row">

                            <div class="profile-sec">
                                <img src="{{profile}}" alt="profile">
                            </div>
                            <h6>{{name}}</h6>
                            <p>{{email}}</p>
                            <p>{{department}}</p>
                        </div>
                        {%endfor%}
                    </div>
                </section>
                <section id="it">
                    <div class="" id="team-s-main">
                        {%for name,email,department,profile in webteam%}
                        <div class="team-row">
                            <div class="profile-sec">
                                <img src="{{profile}}" alt="profile">
                            </div>
                            <h6>{{name}}</h6>
                            <p>{{email}}</p>
                            <p>{{department}}</p>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="" id="team-s-main">
                        {%for name,email,department,profile in appteam%}
                        <div class="team-row">
                            <div class="profile-sec">
                                <img src="{{profile}}" alt="profile">
                            </div>
                            <h6>{{name}}</h6>
                            <p>{{email}}</p>
                            <p>{{department}}</p>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="" id="team-s-main">
                        {%for name,email,department,profile in mediateam%}
                        <div class="team-row">

                            <div class="profile-sec">
                                <img src="{{profile}}" alt="profile">
                            </div>
                            <h6>{{name}}</h6>
                            <p>{{email}}</p>
                            <p>{{department}}</p>
                        </div>
                        {%endfor%}
                    </div>
                </section>
                <section id="pr">
                    <div class="" id="team-s-main">
                        {%for name,email,department,profile in prteam%}
                        <div class="team-row">

                            <div class="profile-sec">
                                <img src="{{profile}}" alt="profile">
                            </div>
                            <h6>{{name}}</h6>
                            <p>{{email}}</p>
                            <p>{{department}}</p>
                        </div>
                        {%endfor%}
                    </div>
                </section>
            </div>
        </div>
    </section>
    <script src="../static/js/data.js"></script>
    <script src="../static/js/general.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>